<?xml version="1.0" encoding="utf-8"?>
<License>
  <Customer>
    <Company>Wisconsin REALTORS Association</Company>
    <Name>Eric Solari</Name>
    <Email>eric@wra.org</Email>
  </Customer>
  <Id>d52e73f6-5d8e-4be5-b251-109e637e59b6</Id>
  <LicenseAttributes>
    <Attribute name="product">uMarketingSuite</Attribute>
    <Attribute name="tier">Extended</Attribute>
    <Attribute name="domains">wrau.useast01.umbraco.io,www.wra.org</Attribute>
    <Attribute name="test-domains">localhost,dev-wrau.useast01.umbraco.io,stage-wrau.useast01.umbraco.io</Attribute>
  </LicenseAttributes>
  <ProductFeatures>
    <Feature name="Analytics" />
    <Feature name="AbTesting" />
    <Feature name="Personalization" />
  </ProductFeatures>
  <Quantity>500000</Quantity>
  <Expiration>Fri, 28 Feb 2025 23:00:00 GMT</Expiration>
  <Signature>MEQCIBrcvh5qBCSwCzGpH6h1ygZapfzv6aoR5xTWRrNm7iq+AiAX0/uw2Buwll6ARN50wH+a8zm3qM0eAUgpnRI/mAMPdA==</Signature>
</License>