* text=auto
eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
./src/WRA.Umbraco/Models/Generated/*.cs text eol=lf
./src/WRA.Umbraco.Web/Umbraco/Deploy/*.uda text eol=lf
./src/WRA.Umbraco.Web/Umbraco/Deploy/Revision/*.uda text eol=lf