<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="wirealtors" value="https://nuget.pkg.github.com/wirealtors/index.json" />
        <add key="sliceofbytes" value="https://nuget.pkg.github.com/sliceofbytes/index.json" />
        <add key="skytales" value="https://nuget.pkg.github.com/skytales/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <wirealtors>
            <add key="Username" value="wirealtors" />
            <add key="ClearTextPassword" value="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" />
        </wirealtors>
        <sliceofbytes>
            <add key="Username" value="sliceofbytes" />
            <add key="ClearTextPassword" value="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" />
        </sliceofbytes>
        <skytales>
            <add key="Username" value="skytales" />
            <add key="ClearTextPassword" value="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" />
        </skytales>
    </packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>