<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f5f23e9-89fa-44c9-8c29-27f2fa317cf0" Alias="2022" Level="5">
  <Info>
    <Parent Key="5d65b442-8bbd-4712-9e0e-21df19cc4ce9">Magazine</Parent>
    <Path>/Home/ToolsResources/ResourceLibrary/Magazine/</Path>
    <Trashed>false</Trashed>
    <ContentType>magazineCollection</ContentType>
    <CreateDate>2023-12-01T01:55:31</CreateDate>
    <NodeName Default="2022" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>