<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a01c8f9-919e-42bf-a70a-8e3e88149e82" Alias="2023-24 Courses 4 - 6" Level="4">
  <Info>
    <Parent Key="f84b3e15-6802-4a90-bb4c-dc083d9f3b38">Events</Parent>
    <Path>/Home/Products/Events/Courses46</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2024-01-23T10:31:11</CreateDate>
    <NodeName Default="2023-24 Courses 4 - 6" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="472d765a-0e4c-434b-8ca8-4fa1d95a227b">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/3608211342fe4d2baf206c107aea4c8b]]></Value>
    </categories>
    <endDate>
      <Value><![CDATA[2024-02-22T12:00:00]]></Value>
    </endDate>
    <hideFromSearchEngines>
      <Value><![CDATA[]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <longDescription>
      <Value><![CDATA[]]></Value>
    </longDescription>
    <memberPrice>
      <Value><![CDATA[]]></Value>
    </memberPrice>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <price>
      <Value><![CDATA[{
  "3698ee49-fe94-4756-8896-018c92cebaf5": "33.00"
}]]></Value>
    </price>
    <productId>
      <Value><![CDATA[28bf9a7c-3d28-4dc6-55a3-08dbfa99b13d]]></Value>
    </productId>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <sku>
      <Value><![CDATA[CE2324VIRT-CE4-6]]></Value>
    </sku>
    <startDate>
      <Value><![CDATA[2024-02-22T08:30:00]]></Value>
    </startDate>
    <subCategories>
      <Value><![CDATA[]]></Value>
    </subCategories>
    <taxonomy>
      <Value><![CDATA[Virtual]]></Value>
    </taxonomy>
  </Properties>
</Content>