<?xml version="1.0" encoding="utf-8"?>
<Content Key="cef42c06-0d00-4594-8268-abd826f2eedb" Alias="500" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>error404</ContentType>
    <CreateDate>2023-11-27T19:34:33</CreateDate>
    <NodeName Default="500" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ba4828a4-c7c6-4a58-994d-f7034453b675">Error404</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[The page you are looking for might have been removed, had it’s name changed, or is temporarily unavailable. ]]></Value>
    </content>
    <heading>
      <Value><![CDATA[500]]></Value>
    </heading>
    <hideFromSearchEngines>
      <Value><![CDATA[1]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <link1>
      <Value><![CDATA[[
  {
    "name": "Optional CTA 1",
    "url": "#"
  }
]]]></Value>
    </link1>
    <link2>
      <Value><![CDATA[[
  {
    "name": "Optional CTA 2",
    "url": "#"
  }
]]]></Value>
    </link2>
    <subheading>
      <Value><![CDATA[Oops! Something unusual happened]]></Value>
    </subheading>
  </Properties>
</Content>