<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a3198e1-4b24-4bfa-af94-b742d3ea8a2e" Alias="About" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-12-08T17:44:41</CreateDate>
    <NodeName Default="About" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4191feb0a7544110a0b14d6451abd21f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9b3ebd3671db4b47a9d845f07a081866",
        "areas": [
          {
            "key": "a8b7402c-5980-42a3-adff-fbcb7281c0b6",
            "items": [
              {
                "contentUdi": "umb://element/4fc2ad8c34b9484a9e5162a91741ff03",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "93baa978-989b-4859-9585-4988c0593f71",
            "items": [
              {
                "contentUdi": "umb://element/51f36d29a6eb4194abad95fb019d67c6",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/30244a39ad0a4cacb34815b3a88dd356",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/789d80bc30f742d599daf34dfaf90a3e",
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "contentUdi": "umb://element/5f6fb6c9eb4e4e3481dd71015fa705bd",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a5ff115570164d66b4c60fa02f41bf48",
        "areas": [
          {
            "key": "e00b23f5-ea27-4a9b-bc63-e87f3e5e9844",
            "items": [
              {
                "contentUdi": "umb://element/87b376b4a906469d9ef19d6b9a7b97ac",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/b3d9d5643b1346fbaead7e05da808fd8",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/8d4fccab2e1a4c33a8b2dae006d4ae14"
      },
      {
        "contentUdi": "umb://element/80587eecfe194921800c80775d0e3ae9",
        "areas": [
          {
            "key": "a8b7402c-5980-42a3-adff-fbcb7281c0b6",
            "items": [
              {
                "contentUdi": "umb://element/ec9458a1e5b14815aebd041e63ff05ae",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ef278ff04ee8499a947915982e47a743",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/37ce32255d6747939875cb9e28cd99c6",
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "contentUdi": "umb://element/baba432fd43848b9ac214db5e66371ee",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "93baa978-989b-4859-9585-4988c0593f71",
            "items": [
              {
                "contentUdi": "umb://element/5b83aedaec3b47a2b3edf94a31cc5508",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/be8cd616879647ae97913d863d4b1f3a",
        "areas": [
          {
            "key": "de08acff-cfbb-4b3a-aefb-84ab9bb2931e",
            "items": [
              {
                "contentUdi": "umb://element/e6d5607c3cbe426da7a1703a5e95e2b5",
                "areas": [
                  {
                    "key": "0bee1f52-7c57-4aee-ad8c-af26eaa424ff",
                    "items": [
                      {
                        "contentUdi": "umb://element/4692a151bdf548309b007ae6dc33fb69",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/0657eb89cbe54ce9b0419503a20d7b5b",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/ef13af9e64b14939978d3e6daf6df588",
                        "areas": [
                          {
                            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
                            "items": [
                              {
                                "contentUdi": "umb://element/127a0c43a2cd4bc8a00ae279b2e8b924",
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1
                              }
                            ]
                          },
                          {
                            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/1f976623af0743ffacf9561288a44a4a"
                              }
                            ]
                          },
                          {
                            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/9b8e01f336f246d6b1c365efd6a5c482"
                              }
                            ]
                          },
                          {
                            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/6e3cbcce183f4f66ad8be3886e049f24"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "areas": [
                          {
                            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/3f02b2aa11e147edbc0b24b1a8e94725"
                              }
                            ]
                          },
                          {
                            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/9fa4e51efbc84b9a8bdf3b5526337ae3"
                              }
                            ]
                          },
                          {
                            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
                            "items": []
                          },
                          {
                            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
                            "items": []
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/f0cf2404b9954aac89cb9a82bbb74ea2"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/93924708357a420f9d59dc56a3592194",
                "areas": [
                  {
                    "key": "0bee1f52-7c57-4aee-ad8c-af26eaa424ff",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/3411e757b1014f5aac5c236f50863a2a"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/a2549aba99074c26be05ed1fa0646401"
                      },
                      {
                        "areas": [
                          {
                            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/717634129453421b8bee8f19136f211d"
                              }
                            ]
                          },
                          {
                            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/2b223fefce594624bd6faaaad23f6295"
                              }
                            ]
                          },
                          {
                            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/54023ce760cb41f2a38fc973a578841e"
                              }
                            ]
                          },
                          {
                            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/d04bcef6de6b4788a069e0f5ae59c6b8"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/d6860ae5654e4911b48632cf4886feb8"
                      },
                      {
                        "areas": [
                          {
                            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/fd8e58a960e549db8063cc1010169794"
                              }
                            ]
                          },
                          {
                            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/0305a328d1a84babb11ec21102d876f2"
                              }
                            ]
                          },
                          {
                            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/17b6c25d5c4840559504c40d1eab48d5"
                              }
                            ]
                          },
                          {
                            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/6810a4517e504a8c847037ccedd9fcfb"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/1159370177ec46ee9ef7601eabd57392"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/71afe23a4e3e47df8d34496f35eb6f69",
                "areas": [
                  {
                    "key": "0bee1f52-7c57-4aee-ad8c-af26eaa424ff",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b0e98427c0334a96ad0b70e87ba121d2"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/633cdb85db3a43f0b8e1722e0b51ddbb"
                      },
                      {
                        "areas": [
                          {
                            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/885456ef74c74d758ac58a34d279713d"
                              }
                            ]
                          },
                          {
                            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/3d40a8865b5f44c882972b21953d3e25"
                              }
                            ]
                          },
                          {
                            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/f65e6cfeae824476af71e2ec8d7e8783"
                              }
                            ]
                          },
                          {
                            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/a8a0807d28074fa4baf71d23c10b282d"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/dd0dfcf56eff40b89930c5a122f09ef0"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "441d9356-4a38-4ed5-856e-4f4006859e94",
      "udi": "umb://element/4191feb0a7544110a0b14d6451abd21f",
      "hideAccent": "0"
    },
    {
      "contentTypeKey": "569c5323-b158-4a26-aedb-69618d0db0a9",
      "udi": "umb://element/9b3ebd3671db4b47a9d845f07a081866",
      "yPadding": [
        "4rem"
      ],
      "reverseColumns": "0"
    },
    {
      "contentTypeKey": "32586fc3-9223-4549-affb-041bf869f15d",
      "udi": "umb://element/4fc2ad8c34b9484a9e5162a91741ff03",
      "image": [
        {
          "key": "df94fbe3-24c2-45bb-b2b5-edff464cbbf2",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "bottomMargin": "",
      "curvedCorner": "1",
      "yellowDecor": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/51f36d29a6eb4194abad95fb019d67c6",
      "headlineText": "Lorem Ipsum Dolor",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": [
        "Left"
      ],
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "2rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/30244a39ad0a4cacb34815b3a88dd356",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit. Nulla sagittis sapien eget urna hendrerit, quis fermentum tellus egestas. <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/789d80bc30f742d599daf34dfaf90a3e",
      "bottomMargin": "",
      "horizontalAlignment": [
        "Left"
      ],
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/5f6fb6c9eb4e4e3481dd71015fa705bd",
      "link": [
        {
          "name": "Become a Member",
          "udi": "umb://document/92c625462a7547339e006f9d141d4ca7"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "6244e672-95f2-468e-9791-4892f7efdcc7",
      "udi": "umb://element/a5ff115570164d66b4c60fa02f41bf48",
      "backgroundImage": [
        {
          "key": "4f854e32-1e5e-48e0-8543-2e62f2d8ee6f",
          "mediaKey": "13770c8d-1d3e-4751-a3ae-956ccacc7138"
        }
      ]
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/87b376b4a906469d9ef19d6b9a7b97ac",
      "headlineText": "Our Mission",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "16px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "bottomMargin": [
        "1rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/b3d9d5643b1346fbaead7e05da808fd8",
      "bottomMargin": "",
      "fontSize": [
        "20px"
      ],
      "fontWeight": [
        "400"
      ],
      "visibleToAll": "1",
      "fontFamily": "Serif",
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "text": "<p style=\"text-align: center;\">Lorem ipsum dolor sit amet, consectetur rem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "569c5323-b158-4a26-aedb-69618d0db0a9",
      "udi": "umb://element/80587eecfe194921800c80775d0e3ae9",
      "yPadding": "",
      "reverseColumns": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/ec9458a1e5b14815aebd041e63ff05ae",
      "headlineText": "Foundation",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "1.5rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/ef278ff04ee8499a947915982e47a743",
      "bottomMargin": [
        "1.5rem"
      ],
      "fontSize": [
        "16px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "fontFamily": "Serif",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/37ce32255d6747939875cb9e28cd99c6",
      "bottomMargin": "",
      "horizontalAlignment": [
        "Left"
      ],
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/baba432fd43848b9ac214db5e66371ee",
      "link": [
        {
          "name": "Learn More",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "32586fc3-9223-4549-affb-041bf869f15d",
      "udi": "umb://element/5b83aedaec3b47a2b3edf94a31cc5508",
      "image": [
        {
          "key": "1b11ff72-40e6-4665-a3a7-e430188ade03",
          "mediaKey": "4b34d7db-a1ec-4c27-b798-a0cc12030aa3"
        }
      ],
      "bottomMargin": "",
      "curvedCorner": "1",
      "yellowDecor": "0"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/8d4fccab2e1a4c33a8b2dae006d4ae14"
    },
    {
      "contentTypeKey": "d5b01a10-5426-4f66-a5f6-6a9ed349d4a4",
      "udi": "umb://element/be8cd616879647ae97913d863d4b1f3a",
      "enableDarkMode": "0",
      "enableVerticalMode": "0",
      "heading": "WRA Governance Structure"
    },
    {
      "contentTypeKey": "ac859905-1e6d-4dc4-90ad-4245c0f7fbce",
      "udi": "umb://element/e6d5607c3cbe426da7a1703a5e95e2b5",
      "label": "Executive Commitee"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/4692a151bdf548309b007ae6dc33fb69",
      "headlineText": "WRA 2023 Executive COmmittee",
      "headingLevel": [
        "H3"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": "",
      "bottomMargin": [
        "1.5rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/0657eb89cbe54ce9b0419503a20d7b5b",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Meet the 2023 WRA executive committee and WRA President &amp; CEO. Mary Jo Bowe, Chris DeVincentis, Brad Lois, Max Rea, Joe Horning, Amy Curler and Michael Theo.</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/ef13af9e64b14939978d3e6daf6df588"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/127a0c43a2cd4bc8a00ae279b2e8b924",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/1f976623af0743ffacf9561288a44a4a",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/9b8e01f336f246d6b1c365efd6a5c482",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/6e3cbcce183f4f66ad8be3886e049f24",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/f0cf2404b9954aac89cb9a82bbb74ea2"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/3f02b2aa11e147edbc0b24b1a8e94725",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/9fa4e51efbc84b9a8bdf3b5526337ae3",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "ac859905-1e6d-4dc4-90ad-4245c0f7fbce",
      "udi": "umb://element/93924708357a420f9d59dc56a3592194",
      "label": "Board of Directors"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/3411e757b1014f5aac5c236f50863a2a",
      "headlineText": "Board of Directors",
      "headingLevel": [
        "H3"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": "",
      "bottomMargin": [
        "1.5rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/a2549aba99074c26be05ed1fa0646401",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<span> </span></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/d6860ae5654e4911b48632cf4886feb8"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/717634129453421b8bee8f19136f211d",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/2b223fefce594624bd6faaaad23f6295",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/54023ce760cb41f2a38fc973a578841e",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/d04bcef6de6b4788a069e0f5ae59c6b8",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/1159370177ec46ee9ef7601eabd57392"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/fd8e58a960e549db8063cc1010169794",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/0305a328d1a84babb11ec21102d876f2",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/17b6c25d5c4840559504c40d1eab48d5",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/6810a4517e504a8c847037ccedd9fcfb",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "ac859905-1e6d-4dc4-90ad-4245c0f7fbce",
      "udi": "umb://element/71afe23a4e3e47df8d34496f35eb6f69",
      "label": "Government Affairs Directors"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/b0e98427c0334a96ad0b70e87ba121d2",
      "headlineText": "WRA 2023 Executive COmmittee",
      "headingLevel": [
        "H3"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": "",
      "bottomMargin": [
        "1.5rem"
      ]
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/dd0dfcf56eff40b89930c5a122f09ef0"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/885456ef74c74d758ac58a34d279713d",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/3d40a8865b5f44c882972b21953d3e25",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/f65e6cfeae824476af71e2ec8d7e8783",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/a8a0807d28074fa4baf71d23c10b282d",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Firstname Lastname<br>Committee Title<br><a href=\"/\">Company</a></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/633cdb85db3a43f0b8e1722e0b51ddbb",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
      "visibleToMemberGroups": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[umb://document/d9c986bf1c7447649fbf2ecac7fc171d]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>