<?xml version="1.0" encoding="utf-8"?>
<Content Key="73e4a4e8-2738-404d-9c1f-ed08c3a46ef6" Alias="Advertising" Level="2">
  <Info>
    <Parent Key="043ba1f9-3e46-456c-b444-48151c4af8fd">Hot Tip Categories</Parent>
    <Path>/HotTipCategories/Advertising</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipCategory</ContentType>
    <CreateDate>2023-11-28T22:54:41</CreateDate>
    <NodeName Default="Advertising" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>