<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f596bad-487c-4343-aa0f-dd87634fd76e" Alias="Advocacy" Level="2">
  <Info>
    <Parent Key="0d430f6f-f9cd-4585-8766-3cf0ef447589">News Categories</Parent>
    <Path>/NewsCategories/Advocacy</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCategory</ContentType>
    <CreateDate>2023-11-08T21:52:51</CreateDate>
    <NodeName Default="Advocacy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredArticle>
      <Value><![CDATA[]]></Value>
    </featuredArticle>
  </Properties>
</Content>