<?xml version="1.0" encoding="utf-8"?>
<Content Key="38f87058-ff3f-4230-92d2-6adb8744de0b" Alias="Advocacy" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/Advocacy</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-11-21T21:35:23</CreateDate>
    <NodeName Default="Advocacy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c7ac3acb93eb46608197355ca83be9f4",
        "areas": [
          {
            "key": "ab5d22a8-35f9-45a6-8906-595b4febc4b2",
            "items": []
          },
          {
            "key": "f34b7226-358c-4ff5-a458-1f082c51b3b9",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e93c4fc88d0546d8a0d1681801904fb7"
      },
      {
        "contentUdi": "umb://element/5d23d912944f479bbf4df7397d2d2534",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "a8b7402c-5980-42a3-adff-fbcb7281c0b6",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/b70d117246794621b8c496a267d7705c"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/f16cd711738b46ec8d750b909d41e35b"
              },
              {
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/bc98f71ce13e40299dde1ebe75665c18"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/d95774b6e1d641dc961bb2c95c1f9853"
              }
            ]
          },
          {
            "key": "93baa978-989b-4859-9585-4988c0593f71",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/ce89d48a4398458888a81d22f8bf07a8"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/1dcf2e9562b44ae19a8ca1db894583ec"
      },
      {
        "areas": [
          {
            "key": "a8b7402c-5980-42a3-adff-fbcb7281c0b6",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/e1a82e3782c640239d710159be77c3e3"
              }
            ]
          },
          {
            "key": "93baa978-989b-4859-9585-4988c0593f71",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/eb8833ff414a48e5b139540f85e69d7e"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/397741dec5ba4453b8308e6dbcd3cc71"
              },
              {
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/50900b89027a41fca153fa7cb88cc3cc"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/8081dc410b754f319502ed35f23da833"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/181ac16dae99452e921707583b9645f0"
      },
      {
        "areas": [
          {
            "key": "a8b7402c-5980-42a3-adff-fbcb7281c0b6",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/9076f43283de4a91ac000067479c5cd3"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/3b86098296c948c19cea18e89b074627"
              },
              {
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/e970c01a27c94c0bb664bdf059fb28ed"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/64e286978b074de99f3ad91a57f49ba4"
              }
            ]
          },
          {
            "key": "93baa978-989b-4859-9585-4988c0593f71",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/41b0f505e82e454c84cabf3356d049fa"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/5351040cb0e04be08766fd1e94473b7e"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ca65c58e4d6e401990cc6316b3e1f29f"
      },
      {
        "areas": [
          {
            "key": "a31a5b7e-df1c-4ee4-a6d9-f9ce22554af5",
            "items": [
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/a631112ca75b4150834e991f192278fe"
              },
              {
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/d64b356f328b4ac984e27999e7a053ec"
              },
              {
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/0d5e262e124d4946a7d6b4168c052b2b"
                      }
                    ]
                  }
                ],
                "columnSpan": 1,
                "rowSpan": 1,
                "contentUdi": "umb://element/ec045b967a4f4b589b944c489923d1a9"
              }
            ]
          }
        ],
        "columnSpan": 8,
        "rowSpan": 1,
        "contentUdi": "umb://element/22e4790dd1794c09b3712b97df59fb5a"
      },
      {
        "contentUdi": "umb://element/77c7767a560647aeb1f4bab74b442895",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/68dc3dd0b9e84d5caa40968954058665",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/89ef378ef924467c8ae8b358cbac3edb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f24aad7a48374b67855b0136ec71bb61",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "areas": [
                  {
                    "key": "8e8355b8-aa7e-4b76-a893-8a7d14f57243",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/05fa0b510e004844a430cb52fadc1cc5"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/2367562c7cda4390b8c9433fc53c490d"
                      }
                    ]
                  },
                  {
                    "key": "5a9df9b3-9f2c-4de3-b87c-4e4b4686f49e",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/1bf39792c43d4ed099662ae21482be66"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/e2e4aad749394d66be974929a512f161"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/25bdf04ef73f413a844f82ac57104a16"
              },
              {
                "contentUdi": "umb://element/2d2c2931970e4ed9a9dfc31c32a69d34",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "cffca6df-c3f5-4d9c-ab91-6591c86747c7",
      "udi": "umb://element/c7ac3acb93eb46608197355ca83be9f4",
      "headline": "Advocacy",
      "overlay": "1",
      "showEventCalendar": "0",
      "imageMobile": [
        {
          "key": "1835a9bb-c7b4-4303-a625-a98f07579f8c",
          "mediaKey": "10f05c5d-6836-43e1-9298-8e33bbbda93a"
        }
      ],
      "imageDesktop": [
        {
          "key": "550f83df-8f27-474b-b352-08d5c972c4ab",
          "mediaKey": "10f05c5d-6836-43e1-9298-8e33bbbda93a"
        }
      ],
      "subhead": "Letting users know the many ways WRA advocates for their best interests, and the best interests of the industry."
    },
    {
      "contentTypeKey": "741adb46-a9cd-48d8-8f44-a5fc6fe6b1ca",
      "udi": "umb://element/e93c4fc88d0546d8a0d1681801904fb7"
    },
    {
      "contentTypeKey": "77590995-88fc-4504-87e7-5b320c98ab8c",
      "udi": "umb://element/22e4790dd1794c09b3712b97df59fb5a",
      "width": [
        "1920px"
      ],
      "backgroundImage": [
        {
          "key": "9adc7b16-8c2e-4032-9e8c-426a4edd55bc",
          "mediaKey": "702854e2-74fa-4329-951a-e0bc578f277b"
        }
      ],
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/a631112ca75b4150834e991f192278fe",
      "headlineText": "Advocacy Effort",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "44px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "bottomMargin": [
        "2rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/d64b356f328b4ac984e27999e7a053ec",
      "bottomMargin": [
        "2rem"
      ],
      "fontSize": [
        "16px"
      ],
      "fontWeight": [
        "400"
      ],
      "text": "<p>This is a flexible CTA block where the WRA can promote upcoming events, deadlines, and important news.</p>",
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/ec045b967a4f4b589b944c489923d1a9",
      "bottomMargin": [
        "0rem"
      ],
      "horizontalAlignment": [
        "Center"
      ]
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/0d5e262e124d4946a7d6b4168c052b2b",
      "link": [
        {
          "name": "Learn More",
          "url": "#"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "light"
    },
    {
      "contentTypeKey": "569c5323-b158-4a26-aedb-69618d0db0a9",
      "udi": "umb://element/1dcf2e9562b44ae19a8ca1db894583ec",
      "yPadding": [
        "2rem"
      ],
      "reverseColumns": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/b70d117246794621b8c496a267d7705c",
      "headlineText": "Legislative Advocacy",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "24px"
      ],
      "textAlignment": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/f16cd711738b46ec8d750b909d41e35b",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "fontFamily": "Sans-Serif",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/d95774b6e1d641dc961bb2c95c1f9853",
      "bottomMargin": "",
      "horizontalAlignment": [
        "Left"
      ],
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/bc98f71ce13e40299dde1ebe75665c18",
      "link": [
        {
          "name": "Learn About Legislative Advocacy",
          "url": "#"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "32586fc3-9223-4549-affb-041bf869f15d",
      "udi": "umb://element/ce89d48a4398458888a81d22f8bf07a8",
      "image": [
        {
          "key": "d41655dd-e1f4-4fd9-a41c-0ec75193557a",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "bottomMargin": "",
      "curvedCorner": "1",
      "yellowDecor": "1"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/5d23d912944f479bbf4df7397d2d2534",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": "",
      "heightLarge": [
        "4rem"
      ],
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "569c5323-b158-4a26-aedb-69618d0db0a9",
      "udi": "umb://element/5351040cb0e04be08766fd1e94473b7e",
      "yPadding": [
        "2rem"
      ],
      "reverseColumns": "0"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/9076f43283de4a91ac000067479c5cd3",
      "headlineText": "Political Advocacy",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "24px"
      ],
      "textAlignment": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/3b86098296c948c19cea18e89b074627",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "fontFamily": "Sans-Serif",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/64e286978b074de99f3ad91a57f49ba4",
      "bottomMargin": "",
      "horizontalAlignment": [
        "Left"
      ],
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/e970c01a27c94c0bb664bdf059fb28ed",
      "link": [
        {
          "name": "Learn About Political Advocacy",
          "url": "#"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "32586fc3-9223-4549-affb-041bf869f15d",
      "udi": "umb://element/41b0f505e82e454c84cabf3356d049fa",
      "image": [
        {
          "key": "d41655dd-e1f4-4fd9-a41c-0ec75193557a",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "bottomMargin": "",
      "curvedCorner": "1",
      "yellowDecor": "1"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/ca65c58e4d6e401990cc6316b3e1f29f",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": "",
      "heightLarge": [
        "4rem"
      ],
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "569c5323-b158-4a26-aedb-69618d0db0a9",
      "udi": "umb://element/181ac16dae99452e921707583b9645f0",
      "yPadding": [
        "2rem"
      ],
      "reverseColumns": "0"
    },
    {
      "contentTypeKey": "32586fc3-9223-4549-affb-041bf869f15d",
      "udi": "umb://element/e1a82e3782c640239d710159be77c3e3",
      "image": [
        {
          "key": "d41655dd-e1f4-4fd9-a41c-0ec75193557a",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "bottomMargin": "",
      "curvedCorner": "1",
      "yellowDecor": "0"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/eb8833ff414a48e5b139540f85e69d7e",
      "headlineText": "Legal Advocacy",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "24px"
      ],
      "textAlignment": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/397741dec5ba4453b8308e6dbcd3cc71",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "fontFamily": "Sans-Serif",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/8081dc410b754f319502ed35f23da833",
      "bottomMargin": "",
      "horizontalAlignment": [
        "Left"
      ],
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/50900b89027a41fca153fa7cb88cc3cc",
      "link": [
        {
          "name": "Learn About Legal Advocacy",
          "url": "#"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/77c7767a560647aeb1f4bab74b442895",
      "visibleToAll": "1",
      "color": {
        "value": "f4f4f7",
        "label": "f4f4f7",
        "sortOrder": 2,
        "id": "3"
      },
      "width": "",
      "yPadding": "",
      "xPadding": "",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "bf995e2d-fadc-4379-b5a3-614b1f9782cc",
      "udi": "umb://element/25bdf04ef73f413a844f82ac57104a16"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/2367562c7cda4390b8c9433fc53c490d",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/a2fad7038d8f47e29856bddc1dafa144",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/a2fad7038d8f47e29856bddc1dafa144",
            "link": [
              {
                "name": "Donate Now",
                "url": "/"
              }
            ],
            "style": [
              "solid"
            ],
            "contrast": "dark"
          }
        ],
        "settingsData": []
      },
      "headline": "Direct Giver",
      "content": "<p>One sentence that summarizes Direct Giver and how your donations supports the WRA and its advocacy efforts.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/05fa0b510e004844a430cb52fadc1cc5",
      "link": [
        {
          "name": "test link",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/e2e4aad749394d66be974929a512f161",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/ccdc1f5ecbf0401b80cea05b461dacfe",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/ccdc1f5ecbf0401b80cea05b461dacfe",
            "link": [
              {
                "name": "Donate Now",
                "udi": "umb://document/c50e10be1e8a4ab3a6b8119e1626ba0e"
              }
            ],
            "style": ""
          }
        ],
        "settingsData": []
      },
      "headline": "RPAC",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus, vehicula eu mi ut.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/1bf39792c43d4ed099662ae21482be66",
      "link": [
        {
          "name": "Advocacy",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/89ef378ef924467c8ae8b358cbac3edb",
      "headlineText": "Support The Cause",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "1rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/f24aad7a48374b67855b0136ec71bb61",
      "bottomMargin": "",
      "fontSize": [
        "18px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p style=\"text-align: center;\">Explaining that there are multiple ways to invest in the advocacy work being done by the WRA.</p>",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/68dc3dd0b9e84d5caa40968954058665",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": "",
      "heightLarge": [
        "4rem"
      ],
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/2d2c2931970e4ed9a9dfc31c32a69d34",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": "",
      "heightLarge": [
        "4rem"
      ],
      "heightExtraLarge": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>