<?xml version="1.0" encoding="utf-8"?>
<Content Key="6671d059-8e5c-4dae-b606-f17e813a8f29" Alias="Authors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>authors</ContentType>
    <CreateDate>2023-11-02T15:02:18</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>