<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6bc03d4-e7aa-40a9-9d3e-348f46a034d4" Alias="Broker Licensing" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/BrokerLicensing</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:14</CreateDate>
    <NodeName Default="Broker Licensing" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Advanced courses and resources for aspiring Real Estate Brokers.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[a837dec9-b719-408b-a54a-2a42e28a985d]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>