<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1a15f9a-19e0-49cf-a882-9a40b4de10d3" Alias="Cart" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/Cart</Path>
    <Trashed>false</Trashed>
    <ContentType>cartPage</ContentType>
    <CreateDate>2023-12-21T11:22:06</CreateDate>
    <NodeName Default="Cart" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f2a96833-7351-4561-87ee-b8c1c4d04343">CartPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>