<?xml version="1.0" encoding="utf-8"?>
<Content Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f" Alias="Categories" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categoriesPage</ContentType>
    <CreateDate>2024-01-17T13:36:01</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <hideFromSearchEngines>
      <Value><![CDATA[1]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromSitemap>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>