<?xml version="1.0" encoding="utf-8"?>
<Content Key="3047c809-823f-403c-ac98-ae0598a70f78" Alias="Conferences and Conventions" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/ConferencesAndConventions</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:14</CreateDate>
    <NodeName Default="Conferences and Conventions" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Industry conferences and conventions for networking and learning in real estate.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[d59cb4a5-51a5-4307-872c-66880235b6eb]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>