<?xml version="1.0" encoding="utf-8"?>
<Content Key="36082113-42fe-4d2b-af20-6c107aea4c8b" Alias="Continuing Education" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/ContinuingEducation</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:14</CreateDate>
    <NodeName Default="Continuing Education" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Continued learning opportunities to stay up-to-date in the real estate industry.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[4b0bb623-49ef-4d19-8417-3f6a8cb96cd4]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>