<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1e16272-2a9f-489f-b567-87d76f145d37" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-12-11T17:00:11</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9fb344063d424c858d8ebc3a76e1ae34",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2a01c879f956442fa6433532ea00034f",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/9c2dccf0709944fd838cbf86917c0690",
                "areas": [
                  {
                    "key": "8e8355b8-aa7e-4b76-a893-8a7d14f57243",
                    "items": [
                      {
                        "contentUdi": "umb://element/e70f0aad84c742c388c77ab0b8c6c972",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/78f109187d7c4c82b575467bb2c78d7e",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/cbfada3443fc4f23a006ec56ae4aa84f",
                        "areas": [
                          {
                            "key": "270196bf-f331-4dd3-894b-d04ae81e4b3f",
                            "items": [
                              {
                                "contentUdi": "umb://element/2edc8060660649c2b373d07a888b8a6f",
                                "areas": [
                                  {
                                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                                    "items": [
                                      {
                                        "contentUdi": "umb://element/168d134185264f5596f711328cd1dcf1",
                                        "areas": [],
                                        "columnSpan": 6,
                                        "rowSpan": 1
                                      }
                                    ]
                                  }
                                ],
                                "columnSpan": 6,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/44b89dfcb7914922a959660432aa6a47",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/430ddd4fea634ad7882978734c6a4f32",
                        "areas": [
                          {
                            "key": "270196bf-f331-4dd3-894b-d04ae81e4b3f",
                            "items": [
                              {
                                "contentUdi": "umb://element/4d9f50ea4bdd411ea66f09fdf3f13af5",
                                "areas": [
                                  {
                                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                                    "items": [
                                      {
                                        "contentUdi": "umb://element/184cd36653de4b83bc5ab891e4b0e197",
                                        "areas": [],
                                        "columnSpan": 6,
                                        "rowSpan": 1
                                      }
                                    ]
                                  }
                                ],
                                "columnSpan": 6,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/3ca31cdcde724f47b260cc868271d659",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/eb293c139a964310875aeb66858d2d7b",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/62083521e3224eb78db56bee62e2b4a6",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/5e48d98b61914d538c28275d38da1dc1",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/28e2a420afb14a54b7116a131c5be78c",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/dd0349be2da14d91b6926de057091965",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "5a9df9b3-9f2c-4de3-b87c-4e4b4686f49e",
                    "items": [
                      {
                        "contentUdi": "umb://element/02914b778a214dd0b8fdd563e748f20b",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/bd17ead457ed4e1692d0a0668f4938a4",
        "areas": [
          {
            "key": "de08acff-cfbb-4b3a-aefb-84ab9bb2931e",
            "items": [
              {
                "contentUdi": "umb://element/a1e5ca66dea54f91b1f59ec8b0924dde",
                "areas": [
                  {
                    "key": "0bee1f52-7c57-4aee-ad8c-af26eaa424ff",
                    "items": [
                      {
                        "contentUdi": "umb://element/f52c7e53bd7b4bd4b10e2c4bf88e62db",
                        "areas": [
                          {
                            "key": "730bdb13-56b6-4614-a524-f46499892315",
                            "items": [
                              {
                                "contentUdi": "umb://element/0e9eebd2f7bd403099b77b7e5b3bb094",
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1
                              }
                            ]
                          },
                          {
                            "key": "de11d1c8-311e-4040-92a5-92cf75755a45",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/abd0348203cf4051ab458c6fb9cd4c73"
                              }
                            ]
                          },
                          {
                            "key": "fa665ee0-0c0f-43e7-9922-8db6df716a4b",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/95820831a5aa48b0b7cd6c7032337460"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "areas": [
                          {
                            "key": "730bdb13-56b6-4614-a524-f46499892315",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/e33e377c798b462c9cd83c73fb5396dd"
                              }
                            ]
                          },
                          {
                            "key": "de11d1c8-311e-4040-92a5-92cf75755a45",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/98b82c99dfc74b5e991b7b74c51647fc"
                              }
                            ]
                          },
                          {
                            "key": "fa665ee0-0c0f-43e7-9922-8db6df716a4b",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/90f5b33b3a7b408fbf5f8f706b5ab221"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/911a17cb9adb44f3a24fa8bcb3d65483"
                      },
                      {
                        "areas": [
                          {
                            "key": "730bdb13-56b6-4614-a524-f46499892315",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/3429963ab8de426fb48df393bbba7cbc"
                              }
                            ]
                          },
                          {
                            "key": "de11d1c8-311e-4040-92a5-92cf75755a45",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/6b01a33cdca44d1ea0c94e0d18fbc4ac"
                              }
                            ]
                          },
                          {
                            "key": "fa665ee0-0c0f-43e7-9922-8db6df716a4b",
                            "items": []
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/d930821488f248a29409f8b18fa07b8d"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/17b83e531bc649309ae61d8e40221288",
                "areas": [
                  {
                    "key": "0bee1f52-7c57-4aee-ad8c-af26eaa424ff",
                    "items": [
                      {
                        "contentUdi": "umb://element/ff8fc27a4eeb4dda966ec1aafd731579",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "441d9356-4a38-4ed5-856e-4f4006859e94",
      "udi": "umb://element/9fb344063d424c858d8ebc3a76e1ae34",
      "hideAccent": "0"
    },
    {
      "contentTypeKey": "bf995e2d-fadc-4379-b5a3-614b1f9782cc",
      "udi": "umb://element/9c2dccf0709944fd838cbf86917c0690",
      "stackOnMobile": "0",
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/e70f0aad84c742c388c77ab0b8c6c972",
      "bottomMargin": "",
      "fontSize": [
        "18px"
      ],
      "fontWeight": [
        "600"
      ],
      "visibleToAll": "1",
      "text": "<p><strong>Asking users to find the specific contact they need vs. emailing everything to the general inquiry info.</strong></p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/2a01c879f956442fa6433532ea00034f",
      "width": [
        "1128px (standard)"
      ],
      "xPadding": "",
      "yPadding": [
        "4rem"
      ],
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "7b118b8c-dc87-4eb8-97cb-e18647ead8e3",
      "udi": "umb://element/cbfada3443fc4f23a006ec56ae4aa84f",
      "title": "Looking for legal help?"
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/2edc8060660649c2b373d07a888b8a6f",
      "bottomMargin": "",
      "horizontalAlignment": "",
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/168d134185264f5596f711328cd1dcf1",
      "link": [
        {
          "name": "Contact the Legal Hotline",
          "url": "#"
        }
      ],
      "style": [
        "link arrow"
      ]
    },
    {
      "contentTypeKey": "7b118b8c-dc87-4eb8-97cb-e18647ead8e3",
      "udi": "umb://element/430ddd4fea634ad7882978734c6a4f32",
      "title": "Have a complaint?"
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/4d9f50ea4bdd411ea66f09fdf3f13af5",
      "bottomMargin": "",
      "horizontalAlignment": "",
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/184cd36653de4b83bc5ab891e4b0e197",
      "link": [
        {
          "name": "File A Complaint",
          "url": "#"
        }
      ],
      "style": [
        "link arrow"
      ]
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/44b89dfcb7914922a959660432aa6a47",
      "heightSmall": [
        "1rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/78f109187d7c4c82b575467bb2c78d7e",
      "heightSmall": [
        "1.5rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/eb293c139a964310875aeb66858d2d7b",
      "headlineText": "WRA Headquarters",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "16px"
      ],
      "textAlignment": "",
      "bottomMargin": [
        "0.5rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/62083521e3224eb78db56bee62e2b4a6",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><a href=\"https://www.google.com/maps/place/Wisconsin+REALTORS+Association/@43.1377898,-89.3007412,17z/data=!4m15!1m8!3m7!1s0x8806565e91fdaf87:0x375088148253da2a!2s4801+Forest+Run+Rd+%23+201,+Madison,+WI+53704!3b1!8m2!3d43.1377898!4d-89.3007412!16s%2Fg%2F11mbqwjt0n!3m5!1s0x8806565e8e443335:0x153da6a184d4d49a!8m2!3d43.1377898!4d-89.3007412!16s%2Fg%2F1tctmc96?entry=ttu\" data-anchor=\"?entry=ttu\">4801 Forest Run Road, Ste. 201<br>Madison, WI 53704-7337</a><br>M-F 8:30am- 5pm<br>608-241-2047<br>800-279-1972</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/28e2a420afb14a54b7116a131c5be78c",
      "headlineText": "WRA Public Affairs Office",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "16px"
      ],
      "textAlignment": "",
      "bottomMargin": [
        "0.5rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/dd0349be2da14d91b6926de057091965",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><a href=\"https://www.google.com/maps/place/10+E+Doty+St+%23521,+Madison,+WI+53703/@43.0737508,-89.3816999,17z/data=!3m1!4b1!4m6!3m5!1s0x8806533fab68f765:0xc5f893993eee7032!8m2!3d43.0737508!4d-89.3816999!16s%2Fg%2F11nsw677g6?entry=ttu\" data-anchor=\"?entry=ttu\">10 E Doty St #521<br>Madison, WI 53703</a><br>Office Hours<br>Office Email<br>Office Phone Number</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/5e48d98b61914d538c28275d38da1dc1",
      "heightSmall": [
        "2rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/3ca31cdcde724f47b260cc868271d659",
      "heightSmall": [
        "2rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "d5b01a10-5426-4f66-a5f6-6a9ed349d4a4",
      "udi": "umb://element/bd17ead457ed4e1692d0a0668f4938a4",
      "enableDarkMode": "0",
      "enableVerticalMode": "1",
      "heading": "WRA Staff Directory"
    },
    {
      "contentTypeKey": "ac859905-1e6d-4dc4-90ad-4245c0f7fbce",
      "udi": "umb://element/a1e5ca66dea54f91b1f59ec8b0924dde",
      "label": "Tab 1"
    },
    {
      "contentTypeKey": "a3638dad-77d4-45ca-9352-32f848e8743a",
      "udi": "umb://element/f52c7e53bd7b4bd4b10e2c4bf88e62db"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/0e9eebd2f7bd403099b77b7e5b3bb094",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><strong>Firstname Lastname</strong><br>Role or Title</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "ac859905-1e6d-4dc4-90ad-4245c0f7fbce",
      "udi": "umb://element/17b83e531bc649309ae61d8e40221288",
      "label": "Tab 2"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/ff8fc27a4eeb4dda966ec1aafd731579",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Content goes here.</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/abd0348203cf4051ab458c6fb9cd4c73",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><strong>Firstname Lastname</strong><br>Role or Title</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/95820831a5aa48b0b7cd6c7032337460",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><strong>Firstname Lastname</strong><br>Role or Title</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "a3638dad-77d4-45ca-9352-32f848e8743a",
      "udi": "umb://element/911a17cb9adb44f3a24fa8bcb3d65483"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/e33e377c798b462c9cd83c73fb5396dd",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><strong>Firstname Lastname</strong><br>Role or Title</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/98b82c99dfc74b5e991b7b74c51647fc",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><strong>Firstname Lastname</strong><br>Role or Title</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/90f5b33b3a7b408fbf5f8f706b5ab221",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><strong>Firstname Lastname</strong><br>Role or Title</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "a3638dad-77d4-45ca-9352-32f848e8743a",
      "udi": "umb://element/d930821488f248a29409f8b18fa07b8d"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/3429963ab8de426fb48df393bbba7cbc",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><strong>Firstname Lastname</strong><br>Role or Title</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/6b01a33cdca44d1ea0c94e0d18fbc4ac",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><strong>Firstname Lastname</strong><br>Role or Title</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/02914b778a214dd0b8fdd563e748f20b",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<?UMBRACO_MACRO macroAlias=\"renderUmbracoForm\" FormGuid=\"f1054e74-08be-492d-ad8b-93dbd0cee1ea\" FormTheme=\"custom\" ExcludeScripts=\"0\" />\n<p> </p>",
      "visibleToMemberGroups": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>