<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ec5f9da-bad9-400e-9da8-7b0d778601e7" Alias="Courses" Level="3">
  <Info>
    <Parent Key="a3100380-7ffc-4850-aee4-3de7cfc1e9f0">Products</Parent>
    <Path>/Home/Products/Courses</Path>
    <Trashed>false</Trashed>
    <ContentType>collectionPage</ContentType>
    <CreateDate>2023-12-22T17:57:03</CreateDate>
    <NodeName Default="Courses" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3cfc0d0c-9759-4e7c-95c0-57d8cfb6a8d8">CollectionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>