<?xml version="1.0" encoding="utf-8"?>
<Content Key="a424ac99-607e-43db-8404-e251884ff861" Alias="Customer Information" Level="3">
  <Info>
    <Parent Key="fbf8b3f9-ef95-4f4e-ad4d-9f0d7405fd51">Checkout</Parent>
    <Path>/Home/Checkout/CustomerInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutInformationPage</ContentType>
    <CreateDate>2024-01-14T12:01:45</CreateDate>
    <NodeName Default="Customer Information" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a8783e8-b0c4-45ea-b4f6-c553b6fe0a35">CheckoutInformationPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <shortStepName>
      <Value><![CDATA[Information]]></Value>
    </shortStepName>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>