<?xml version="1.0" encoding="utf-8"?>
<Content Key="67952b1f-e5f3-4bf0-b454-83b7125b627a" Alias="Education" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/Education</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-12-08T20:53:51</CreateDate>
    <NodeName Default="Education" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2f7883e92df5405a9688ffb6c8139518",
        "areas": [
          {
            "key": "ab5d22a8-35f9-45a6-8906-595b4febc4b2",
            "items": []
          },
          {
            "key": "f34b7226-358c-4ff5-a458-1f082c51b3b9",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/55504e50913940fd8ece8262dad2d7a5"
      },
      {
        "contentUdi": "umb://element/f9669fa4f39d45088daf28231b3942e9",
        "areas": [
          {
            "key": "c3a220f6-1a27-427e-b284-176f1c26c6c9",
            "items": [
              {
                "contentUdi": "umb://element/e3e0fbe225374c74adc78494b75e32e4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/7b55e25172574c609a23f0870510a5d7",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "1f048100-6d78-419b-ad95-cb78a2a59755",
            "items": [
              {
                "contentUdi": "umb://element/cbfef5acd487449488171239e3f839b9",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7542dba249474a7aada3db45b9dade15",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/20364ee8b2764809a54e4cb53af9e9e5",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/1476353c70c14da5a3d046137486982d",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/709393e6b2fc41928c16d83831f12672",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/c27c714796a4489eb21afefd1502a11e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/8070e1a22e7644db9f309a57513bec6b",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e78934236fb64006b322f310951809b6",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/382060c6980d4b29ae082015a67e56ad",
        "areas": [
          {
            "key": "730bdb13-56b6-4614-a524-f46499892315",
            "items": [
              {
                "contentUdi": "umb://element/257b3712d2c44209b3041580642a1aed",
                "areas": [
                  {
                    "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                    "items": [
                      {
                        "contentUdi": "umb://element/a0553523c3244a549f2a3aa90bc84877",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/10343cbfba75472aa514e262bb0b1494",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "de11d1c8-311e-4040-92a5-92cf75755a45",
            "items": [
              {
                "areas": [
                  {
                    "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/720c4db77c24477d88dbedf7a198d6da"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/127978aa31a148e59e192af1726c4888"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/ba9e7a7992f24543976018c59091cc24"
              }
            ]
          },
          {
            "key": "fa665ee0-0c0f-43e7-9922-8db6df716a4b",
            "items": [
              {
                "areas": [
                  {
                    "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/16f0be5a59d04721a2dde294f66f1ba0"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/1dab04e8afad4adaa5039f03f8979e41"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/97c9c41a9f724c6594de096843c2a1ca"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d6e61838718142c3b2414815afc42282",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9f5b2fbf66cb4a0f967bd827c3446d2c",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/7db86e7464de45a99d67a36a90278b97",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e26ace40b1cf4ac5acc8fc924219c4b2",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3e72ab03870e464e979cfdfc63fb8bdd",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/faf86d77ca1543a58ea92060f028b29a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/27b2e14f8093445e9ccdc7fe527b7e5d",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/f195ee5efe354f8f8f30fe258fb714d7",
                "areas": [
                  {
                    "key": "730bdb13-56b6-4614-a524-f46499892315",
                    "items": [
                      {
                        "contentUdi": "umb://element/630f75d7cac24ac4a3b97bebaac6640d",
                        "areas": [
                          {
                            "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                            "items": [
                              {
                                "contentUdi": "umb://element/a89042c615ec454fbac36bac2142c11a",
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "de11d1c8-311e-4040-92a5-92cf75755a45",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/42725d595bbe483a9b317739417a9fb0"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/a3399f330c4c440a87131123fd8c77e4"
                      }
                    ]
                  },
                  {
                    "key": "fa665ee0-0c0f-43e7-9922-8db6df716a4b",
                    "items": [
                      {
                        "areas": [
                          {
                            "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                            "items": [
                              {
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1,
                                "contentUdi": "umb://element/e5da1fbb2b4d47ae8ed672eb7249d793"
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/6dac735d72b148579263645dd431bc09"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/5385d633e28f41bfa69d4972e14036a9",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9a4d4f0f153c452f9f2fa5ca4f630568",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9ae63d36f07145f0b68466c0aa715ac3",
        "areas": [
          {
            "key": "a31a5b7e-df1c-4ee4-a6d9-f9ce22554af5",
            "items": [
              {
                "contentUdi": "umb://element/5a9afbb36a9b4383991ae520172aa9de",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/41ea291b375e4afcaec9d1c52baa7a8a",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 8,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ffc8131621a447bb9786d516bf3048c2"
      },
      {
        "contentUdi": "umb://element/58b33c65d9b54bada03ea5eea9641b90",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/35f94bb3868b4d1ca6df18fadabb509f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/20f345e9ffff467180a27bd9103d3c31"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "cffca6df-c3f5-4d9c-ab91-6591c86747c7",
      "udi": "umb://element/2f7883e92df5405a9688ffb6c8139518",
      "headline": "Lorem Ipsum",
      "subhead": "Lorem ipsum dolor sit amet consectetur. Ac sodales dui massa diam vitae. ",
      "overlay": "1",
      "showEventCalendar": "1",
      "imageMobile": [
        {
          "key": "425cd745-da74-40f2-b71b-10b8c253dff1",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "imageDesktop": [
        {
          "key": "b5ee25db-4e6d-4fcf-a425-8aeea45fefa1",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "showCourseSearch": "1"
    },
    {
      "contentTypeKey": "39640da4-948a-486a-ae44-401389df8bb5",
      "udi": "umb://element/f9669fa4f39d45088daf28231b3942e9",
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "764f3bd5-6bf5-4409-bbc4-29789af1dfc2",
      "udi": "umb://element/e3e0fbe225374c74adc78494b75e32e4",
      "overlineText": "110 Years of Business",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "alignment": [
        "Left"
      ],
      "bottomMargin": [
        "1rem"
      ],
      "strikeBehind": "0"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/7b55e25172574c609a23f0870510a5d7",
      "headlineText": "Why WRA",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "44px"
      ],
      "textAlignment": [
        "Left"
      ],
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/cbfef5acd487449488171239e3f839b9",
      "bottomMargin": "",
      "fontSize": [
        "20px"
      ],
      "fontWeight": [
        "400"
      ],
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane.</p>",
      "fontFamily": "Serif",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/7542dba249474a7aada3db45b9dade15",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/55504e50913940fd8ece8262dad2d7a5"
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/20364ee8b2764809a54e4cb53af9e9e5",
      "visibleToAll": "1",
      "innerWidth": "60",
      "width": [
        "1128px (standard)"
      ],
      "yPadding": "",
      "xPadding": "",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "764f3bd5-6bf5-4409-bbc4-29789af1dfc2",
      "udi": "umb://element/709393e6b2fc41928c16d83831f12672",
      "overlineText": "Real Estate",
      "alignment": [
        "Center"
      ],
      "bottomMargin": [
        "1.5rem"
      ],
      "strikeBehind": "0"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/c27c714796a4489eb21afefd1502a11e",
      "headlineText": "Licensing & continuing education",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "44px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "1.5rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/8070e1a22e7644db9f309a57513bec6b",
      "bottomMargin": [
        "2rem"
      ],
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p style=\"text-align: center;\">Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane.</p>",
      "fontFamily": "Serif",
      "visibleToMemberGroups": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      }
    },
    {
      "contentTypeKey": "a3638dad-77d4-45ca-9352-32f848e8743a",
      "udi": "umb://element/382060c6980d4b29ae082015a67e56ad"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/257b3712d2c44209b3041580642a1aed",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/16c3107d4cc34e40b67e3b688b26aa58",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/634fcb8fa75f4d9c879d2da8e28a3610",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/16c3107d4cc34e40b67e3b688b26aa58",
            "link": [
              {
                "name": "Take Pre-Sales Training",
                "url": "/"
              }
            ],
            "style": [
              "solid"
            ],
            "contrast": "dark"
          },
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/634fcb8fa75f4d9c879d2da8e28a3610",
            "link": [
              {
                "name": "Take Out-of-State Training",
                "url": "/"
              }
            ],
            "style": [
              "link arrow"
            ],
            "contrast": "dark"
          }
        ],
        "settingsData": []
      },
      "overline": "Licensing",
      "headline": "Real Estate Sales",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/a0553523c3244a549f2a3aa90bc84877",
      "link": [
        {
          "name": "Take Pre-Sales Training",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/10343cbfba75472aa514e262bb0b1494",
      "link": [
        {
          "name": "Take Pre-Sales Training",
          "url": "/"
        }
      ],
      "style": [
        "link arrow"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/ba9e7a7992f24543976018c59091cc24",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/6771169cdff3433fa2a63cce2e94235d",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/c7641e34f5f5443ca723217bc3d83bc0",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/6771169cdff3433fa2a63cce2e94235d",
            "link": [
              {
                "name": "Take Pre-Sales Training",
                "url": "/"
              }
            ],
            "style": [
              "solid"
            ],
            "contrast": "dark"
          },
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/c7641e34f5f5443ca723217bc3d83bc0",
            "link": [
              {
                "name": "Take Out-of-State Training",
                "url": "/"
              }
            ],
            "style": [
              "link arrow"
            ],
            "contrast": "dark"
          }
        ],
        "settingsData": []
      },
      "overline": "Licensing",
      "headline": "Broker",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/720c4db77c24477d88dbedf7a198d6da",
      "link": [
        {
          "name": "Take Pre-Sales Training",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/127978aa31a148e59e192af1726c4888",
      "link": [
        {
          "name": "Take Pre-Sales Training",
          "url": "/"
        }
      ],
      "style": [
        "link arrow"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/97c9c41a9f724c6594de096843c2a1ca",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/78a598046c1d40aeadb555357eb90681",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            },
            {
              "contentUdi": "umb://element/ea1721de5ef94f9b99c86ac1a7ecab90",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/78a598046c1d40aeadb555357eb90681",
            "link": [
              {
                "name": "Take Pre-Sales Training",
                "url": "/"
              }
            ],
            "style": [
              "solid"
            ],
            "contrast": "dark"
          },
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/ea1721de5ef94f9b99c86ac1a7ecab90",
            "link": [
              {
                "name": "Take Out-of-State Training",
                "url": "/"
              }
            ],
            "style": [
              "link arrow"
            ],
            "contrast": "dark"
          }
        ],
        "settingsData": []
      },
      "overline": "Licensing",
      "headline": "continuing education",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/16f0be5a59d04721a2dde294f66f1ba0",
      "link": [
        {
          "name": "Take Pre-Sales Training",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/1dab04e8afad4adaa5039f03f8979e41",
      "link": [
        {
          "name": "Take Pre-Sales Training",
          "url": "/"
        }
      ],
      "style": [
        "link arrow"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/e78934236fb64006b322f310951809b6",
      "heightSmall": [
        "1.5rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/7db86e7464de45a99d67a36a90278b97",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/9f5b2fbf66cb4a0f967bd827c3446d2c",
      "visibleToAll": "1",
      "innerWidth": "60",
      "width": [
        "Full"
      ],
      "color": {
        "value": "1d4674",
        "label": "1d4674",
        "sortOrder": 0,
        "id": "1"
      },
      "yPadding": "",
      "xPadding": "",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "764f3bd5-6bf5-4409-bbc4-29789af1dfc2",
      "udi": "umb://element/e26ace40b1cf4ac5acc8fc924219c4b2",
      "overlineText": "professional dev.",
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "alignment": [
        "Center"
      ],
      "bottomMargin": [
        "1rem"
      ],
      "strikeBehind": "0"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/3e72ab03870e464e979cfdfc63fb8bdd",
      "headlineText": "advance your career",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "44px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "bottomMargin": [
        "1.5rem"
      ]
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/27b2e14f8093445e9ccdc7fe527b7e5d",
      "visibleToAll": "1",
      "width": [
        "Full"
      ],
      "color": {
        "value": "1d4674",
        "label": "1d4674",
        "sortOrder": 0,
        "id": "1"
      },
      "yPadding": "",
      "xPadding": "",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "a3638dad-77d4-45ca-9352-32f848e8743a",
      "udi": "umb://element/f195ee5efe354f8f8f30fe258fb714d7"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/630f75d7cac24ac4a3b97bebaac6640d",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/f74c64a563224a3b86dabc57a27c200f",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/f74c64a563224a3b86dabc57a27c200f",
            "link": [
              {
                "name": "Find Classes",
                "url": "/"
              }
            ],
            "style": [
              "solid"
            ],
            "contrast": "dark"
          }
        ],
        "settingsData": []
      },
      "headline": "Designations & Certifications",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/a89042c615ec454fbac36bac2142c11a",
      "link": [
        {
          "name": "Find Classes",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/a3399f330c4c440a87131123fd8c77e4",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/be2805fb85a543adb16b8202b90bb9bc",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/be2805fb85a543adb16b8202b90bb9bc",
            "link": [
              {
                "name": "Find Classes",
                "url": "/"
              }
            ],
            "style": [
              "solid"
            ],
            "contrast": "dark"
          }
        ],
        "settingsData": []
      },
      "headline": "Mini-Courses",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/42725d595bbe483a9b317739417a9fb0",
      "link": [
        {
          "name": "Find Classes",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/6dac735d72b148579263645dd431bc09",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/69bb600443a04708be0e8bd8105fe0a9",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/69bb600443a04708be0e8bd8105fe0a9",
            "link": [
              {
                "name": "Find Classes",
                "url": "/"
              }
            ],
            "style": [
              "solid"
            ],
            "contrast": "dark"
          }
        ],
        "settingsData": []
      },
      "headline": "And More",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/e5da1fbb2b4d47ae8ed672eb7249d793",
      "link": [
        {
          "name": "Find Classes",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/5385d633e28f41bfa69d4972e14036a9",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/faf86d77ca1543a58ea92060f028b29a",
      "bottomMargin": [
        "2rem"
      ],
      "fontSize": [
        "20px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p style=\"text-align: center;\">Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane.</p>",
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "fontFamily": "Serif",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/1476353c70c14da5a3d046137486982d",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/d6e61838718142c3b2414815afc42282",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "5c919249-f62a-4697-be2f-54451c2e787b",
      "udi": "umb://element/9a4d4f0f153c452f9f2fa5ca4f630568",
      "ctaLink": null,
      "quickLinks": [
        {
          "name": "Lorem Ipsum Dolor",
          "url": "/"
        },
        {
          "name": "Lorem Ipsum Dolor",
          "url": "/"
        },
        {
          "name": "Lorem Ipsum Dolor",
          "url": "/"
        },
        {
          "name": "Lorem Ipsum Dolor",
          "url": "/"
        }
      ],
      "overline": "Specialty Education",
      "heading": "Other Careers",
      "subheading": "Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane."
    },
    {
      "contentTypeKey": "77590995-88fc-4504-87e7-5b320c98ab8c",
      "udi": "umb://element/9ae63d36f07145f0b68466c0aa715ac3",
      "backgroundImage": [
        {
          "key": "56ca7b48-959f-4ab7-9f6c-4f375c83a79a",
          "mediaKey": "13770c8d-1d3e-4751-a3ae-956ccacc7138"
        }
      ],
      "visibleToAll": "1",
      "width": [
        "Full"
      ],
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/5a9afbb36a9b4383991ae520172aa9de",
      "headlineText": "Lorem ipsum dolor",
      "headingLevel": [
        "H3"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "bottomMargin": [
        "1.5rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/41ea291b375e4afcaec9d1c52baa7a8a",
      "bottomMargin": [
        "1.5rem"
      ],
      "fontSize": [
        "16px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "fontFamily": "Serif",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<span> </span></p>",
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/58b33c65d9b54bada03ea5eea9641b90",
      "width": [
        "1128px (standard)"
      ],
      "xPadding": "",
      "yPadding": "",
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "9933101d-d525-47bc-8ba3-0a62128b4697",
      "udi": "umb://element/35f94bb3868b4d1ca6df18fadabb509f"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/ffc8131621a447bb9786d516bf3048c2",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/20f345e9ffff467180a27bd9103d3c31",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[umb://document/dab331dadb32422dbff49e406903e27b]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>