<?xml version="1.0" encoding="utf-8"?>
<Content Key="067005d3-0e9a-4396-b68e-6c6151693e6a" Alias="Education" Level="2">
  <Info>
    <Parent Key="0d430f6f-f9cd-4585-8766-3cf0ef447589">News Categories</Parent>
    <Path>/NewsCategories/Education</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCategory</ContentType>
    <CreateDate>2023-11-20T19:53:54</CreateDate>
    <NodeName Default="Education" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredArticle>
      <Value><![CDATA[]]></Value>
    </featuredArticle>
  </Properties>
</Content>