<?xml version="1.0" encoding="utf-8"?>
<Content Key="38a5e0fd-a524-4676-8b91-11aeaae9f616" Alias="Events" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2024-01-03T14:45:23</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d3b0a0d888a84fa0b0067b788fe7e4c5",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/91a2cefba7b9464b90a08ed84a2684ce",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "441d9356-4a38-4ed5-856e-4f4006859e94",
      "udi": "umb://element/d3b0a0d888a84fa0b0067b788fe7e4c5",
      "hideAccent": "0"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/91a2cefba7b9464b90a08ed84a2684ce",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>Need to add \"Calendar\" widget once API is completed.</p>",
      "visibleToMemberGroups": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>