<?xml version="1.0" encoding="utf-8"?>
<Content Key="52bc37dc-9638-45e2-aa0f-5957d50db32d" Alias="Fair Housing" Level="2">
  <Info>
    <Parent Key="043ba1f9-3e46-456c-b444-48151c4af8fd">Hot Tip Categories</Parent>
    <Path>/HotTipCategories/FairHousing</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipCategory</ContentType>
    <CreateDate>2023-11-28T22:55:15</CreateDate>
    <NodeName Default="Fair Housing" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>