<?xml version="1.0" encoding="utf-8"?>
<Content Key="e66a9dee-7490-4571-98a8-9cdcad572a3f" Alias="For The Public" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/ForThePublic</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-12-08T19:54:55</CreateDate>
    <NodeName Default="For The Public" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9fb74789b4784eb187d1d11d1f3e2141",
        "areas": [
          {
            "key": "ab5d22a8-35f9-45a6-8906-595b4febc4b2",
            "items": []
          },
          {
            "key": "f34b7226-358c-4ff5-a458-1f082c51b3b9",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a350d3edf40a4e0abd56af68b833f534",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b5c5c6e657aa47b594fb2ec129d5a028",
        "areas": [
          {
            "key": "a8b7402c-5980-42a3-adff-fbcb7281c0b6",
            "items": [
              {
                "contentUdi": "umb://element/932bdb0f1f094a9d82fea1c36d6cba9f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "93baa978-989b-4859-9585-4988c0593f71",
            "items": [
              {
                "contentUdi": "umb://element/c558855308b842b8b519e355ba67feb3",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/d96eba4581e845738cba1f3bbea67778",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/aa2fe64df43543f2ae144caf6089e794",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a82970d1fc5144c080fd1b5c0b59f5f7",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/562b124b04664288b58a64ffce1ef220",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/526571e1eca741b69fe6a62cc7466962",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ff715cb19cfe4a989bbc2ac947a6e226",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c371a87cb5ff4c459b1fc1cc4b0ecd2e",
        "areas": [
          {
            "key": "730bdb13-56b6-4614-a524-f46499892315",
            "items": [
              {
                "contentUdi": "umb://element/76f0278dcf1145b08425431f583d61a0",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "de11d1c8-311e-4040-92a5-92cf75755a45",
            "items": [
              {
                "contentUdi": "umb://element/37f0f182b5d7415d8016549eb31f7f13",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fa665ee0-0c0f-43e7-9922-8db6df716a4b",
            "items": [
              {
                "contentUdi": "umb://element/3f68b358dd0b46818222afa0c97aeda3",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/9d4efaae8fb54f5390a4dde0700873a4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "cffca6df-c3f5-4d9c-ab91-6591c86747c7",
      "udi": "umb://element/9fb74789b4784eb187d1d11d1f3e2141",
      "subhead": "Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh. Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh. Lorem ipsum dolor.",
      "overlay": "1",
      "showEventCalendar": "0",
      "imageMobile": [
        {
          "key": "2a709817-a41f-4e0a-9d61-3610c6695380",
          "mediaKey": "b1244cae-8df4-46c1-b276-d665f7a948e6"
        }
      ],
      "imageDesktop": [
        {
          "key": "7daaeb5b-9dc1-4fa5-9c08-df9d05846904",
          "mediaKey": "b1244cae-8df4-46c1-b276-d665f7a948e6"
        }
      ],
      "headline": "For The Public"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/a350d3edf40a4e0abd56af68b833f534",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "569c5323-b158-4a26-aedb-69618d0db0a9",
      "udi": "umb://element/b5c5c6e657aa47b594fb2ec129d5a028",
      "yPadding": "",
      "reverseColumns": "0"
    },
    {
      "contentTypeKey": "32586fc3-9223-4549-affb-041bf869f15d",
      "udi": "umb://element/932bdb0f1f094a9d82fea1c36d6cba9f",
      "image": [
        {
          "key": "a3153bd0-ee89-4b87-b70a-c1677e3b063c",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "bottomMargin": "",
      "curvedCorner": "1",
      "yellowDecor": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/c558855308b842b8b519e355ba67feb3",
      "headlineText": "Why hire a REALTOR®?",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "1.5rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/d96eba4581e845738cba1f3bbea67778",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit. Nulla sagittis sapien eget urna hendrerit, quis fermentum tellus egestas. <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/aa2fe64df43543f2ae144caf6089e794",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/a82970d1fc5144c080fd1b5c0b59f5f7",
      "innerWidth": "75",
      "width": [
        "1128px (standard)"
      ],
      "yPadding": "",
      "xPadding": "",
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/562b124b04664288b58a64ffce1ef220",
      "headlineText": "lorem ipsum dolor sit",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "1rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/526571e1eca741b69fe6a62cc7466962",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p style=\"text-align: center;\">Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh. Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh.</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "a3638dad-77d4-45ca-9352-32f848e8743a",
      "udi": "umb://element/c371a87cb5ff4c459b1fc1cc4b0ecd2e"
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/76f0278dcf1145b08425431f583d61a0",
      "pageUrl": [
        {
          "name": "Learn More",
          "url": "/"
        }
      ],
      "headline": "Find a REALTOR<sup>&trade;</sup>",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. "
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/37f0f182b5d7415d8016549eb31f7f13",
      "pageUrl": [
        {
          "name": "Learn More",
          "url": "/"
        }
      ],
      "headline": "Get Advice",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. "
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/3f68b358dd0b46818222afa0c97aeda3",
      "pageUrl": [
        {
          "name": "Learn More",
          "url": "/"
        }
      ],
      "headline": "WRA’s Advocacy Efforts For The Public",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. "
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/9d4efaae8fb54f5390a4dde0700873a4",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/ff715cb19cfe4a989bbc2ac947a6e226",
      "heightSmall": [
        "1rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[umb://document/d9c986bf1c7447649fbf2ecac7fc171d]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>