<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbfdf3d8-bf19-4a97-acb7-f9bd8a7b5c72" Alias="Home Inspector Regulations" Level="2">
  <Info>
    <Parent Key="043ba1f9-3e46-456c-b444-48151c4af8fd">Hot Tip Categories</Parent>
    <Path>/HotTipCategories/HomeInspectorRegulations</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipCategory</ContentType>
    <CreateDate>2023-11-28T22:55:35</CreateDate>
    <NodeName Default="Home Inspector Regulations" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>