<?xml version="1.0" encoding="utf-8"?>
<Content Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-10-23T13:22:33</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/df1ea2d996ce4abda48e99135b047651",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a579c2be55a64c6480342339be705003",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ca332c5679be4525ac9753e9af370610",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d42a4c6a5b21487593fc0a9bb75f103e",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/890d3a9e3d2f4bf39b49e759b795da9a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e7a7610cc93d4bcda830eb7855d124ac",
        "areas": [
          {
            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
            "items": [
              {
                "contentUdi": "umb://element/e0020123b02c4642be9b4e2689739e85",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/97c19ed80f904e7281556ee0ccd40136"
              }
            ]
          },
          {
            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/6a456a6409a4444089d00747542b4395"
              }
            ]
          },
          {
            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/e6f0604c904f4853a2a0db3b5390970a"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c8c3a11310fb4efc806edbc6affd73a6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/77b351c82717406b8888ce7943b1416c"
              }
            ]
          },
          {
            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/ee44890691ca42cda12efa939d892e92"
              }
            ]
          },
          {
            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/352c7e3f87114c00881564fee7f5825b"
              }
            ]
          },
          {
            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/baac4cb2a5df49a99979b0abd6343d44"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/c61cdeaa8fe5417d94a287f6833173c9"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/0dad88650ada458cb3e21fc04918c427"
      },
      {
        "contentUdi": "umb://element/664e72143a744d259c8e0d5e9090f6ef",
        "areas": [
          {
            "key": "7737c8c6-f98e-46ca-90f4-62552b8d52c5",
            "items": [
              {
                "contentUdi": "umb://element/00eb9137af944c9ba018f4fa5a450623",
                "areas": [
                  {
                    "key": "730bdb13-56b6-4614-a524-f46499892315",
                    "items": [
                      {
                        "contentUdi": "umb://element/1d6e5a748a3940ecbc636d5da357be4c",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "de11d1c8-311e-4040-92a5-92cf75755a45",
                    "items": [
                      {
                        "contentUdi": "umb://element/ade1c6dc92b04f51af86fff05f240480",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "fa665ee0-0c0f-43e7-9922-8db6df716a4b",
                    "items": [
                      {
                        "contentUdi": "umb://element/399648709fc54767bb2dc29e6c503eea",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/5098e7bcffe949b6984249d03ae287f2",
        "areas": [
          {
            "key": "520e6c26-066b-4eef-9e3e-98ac4c904f34",
            "items": [
              {
                "contentUdi": "umb://element/63b00a318027423bb8c41713ad8d82d8",
                "areas": [
                  {
                    "key": "8e8355b8-aa7e-4b76-a893-8a7d14f57243",
                    "items": [
                      {
                        "contentUdi": "umb://element/dcf30b6f408d4f448a8b4cfa30b3b8e6",
                        "areas": [
                          {
                            "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                            "items": [
                              {
                                "contentUdi": "umb://element/e7c4921bfb694bce97d2f9e313a6f502",
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "5a9df9b3-9f2c-4de3-b87c-4e4b4686f49e",
                    "items": [
                      {
                        "contentUdi": "umb://element/46d6452ededa49cc835f745d63d54baa",
                        "areas": [
                          {
                            "key": "d042ead6-1049-4032-8b2d-ebefb5fac659",
                            "items": [
                              {
                                "contentUdi": "umb://element/0b7cc0cdc4ab4862ada365cc60feabd2",
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/9d82730fe8864049a4d6ff4e3fedd4f8"
      },
      {
        "contentUdi": "umb://element/934ac9b13dd34474bc0fb47580ecc01e",
        "areas": [
          {
            "key": "a31a5b7e-df1c-4ee4-a6d9-f9ce22554af5",
            "items": [
              {
                "contentUdi": "umb://element/cf824fe7e1b44cca890bd8750f8c3064",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/7141e99375da4f5ca861957ccdfc900a",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/41df087ac787447fb622778a28549c21",
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "contentUdi": "umb://element/529168ca457a402590d8b8f58e0c72d3",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 1,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 8,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/d8207d6e05754302a0691d1d370c95b7"
      },
      {
        "contentUdi": "umb://element/51b1f94abc5a442ba5cca80e7101697c",
        "areas": [
          {
            "key": "204a4752-e5ad-47fb-a541-d7311cc10305",
            "items": [
              {
                "contentUdi": "umb://element/1a8a34ee626d4a3e9ae977311127523e",
                "areas": [
                  {
                    "key": "8e8355b8-aa7e-4b76-a893-8a7d14f57243",
                    "items": [
                      {
                        "contentUdi": "umb://element/0ac788a36f584e71beeed08b2b4ed8d9",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/59a92e31fd864a1692ac2e577cb3e3d9",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/2841efcdd2d94b3c85e988047713d813",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/fb6f5232ba244d398afadecd4222cb9b",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "contentUdi": "umb://element/dde87af30b7c43ee970c997f52621bcf",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "5a9df9b3-9f2c-4de3-b87c-4e4b4686f49e",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/44542d6ae8194c289faa8fb83c80cc21"
                      },
                      {
                        "contentUdi": "umb://element/29c346401a8d40708cf1bb98587968a1",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/8562200f836e426fb1c559ffd95ac78f"
                      },
                      {
                        "contentUdi": "umb://element/803c816ed07e4a82b251020b790b7489",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/71ad0783c8104da0b6d02d6b2b4f8fb5"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/6663fd5790a141be99556ea686c1fc38",
                "areas": [
                  {
                    "key": "8e8355b8-aa7e-4b76-a893-8a7d14f57243",
                    "items": [
                      {
                        "contentUdi": "umb://element/a8736e018c8a4ea283c4dc1c9eb93034",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "5a9df9b3-9f2c-4de3-b87c-4e4b4686f49e",
                    "items": []
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/886d0839db064e20a5d6f574c99389eb",
                "areas": [
                  {
                    "key": "8e8355b8-aa7e-4b76-a893-8a7d14f57243",
                    "items": [
                      {
                        "contentUdi": "umb://element/74c13714548d439b8439b8ee50842e95",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "5a9df9b3-9f2c-4de3-b87c-4e4b4686f49e",
                    "items": [
                      {
                        "contentUdi": "umb://element/46d7df543aad4f5e9601533198d1b492",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/034b7fd3a03c4381ad8e2f4c39c0285d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d9c27326-98e8-416e-a33b-85c2932a811d",
      "udi": "umb://element/df1ea2d996ce4abda48e99135b047651",
      "overline": "Wisconsin Realtors Association",
      "headline": "ONE STRONG SENTENCE EXPLAINING THE VALUE OF THE wra",
      "overlay": "1",
      "imageDesktop": [
        {
          "key": "7f472f4b-0230-4f1f-aab5-2452b148a2fd",
          "mediaKey": "702854e2-74fa-4329-951a-e0bc578f277b"
        }
      ],
      "imageMobile": [
        {
          "key": "dd12c17d-083a-47aa-8643-1f0f73066fdd",
          "mediaKey": "4b34d7db-a1ec-4c27-b798-a0cc12030aa3"
        }
      ],
      "videoDesktop": [
        {
          "key": "cd2698da-460a-4b30-8b9f-244f7eeaaa3e",
          "mediaKey": "750d5715-1788-4ce9-b8ea-cc87caecf25f"
        }
      ],
      "videoMobile": [
        {
          "key": "853336e3-f5d1-400e-a4c4-43317ecbbcc9",
          "mediaKey": "750d5715-1788-4ce9-b8ea-cc87caecf25f"
        }
      ]
    },
    {
      "contentTypeKey": "741adb46-a9cd-48d8-8f44-a5fc6fe6b1ca",
      "udi": "umb://element/a579c2be55a64c6480342339be705003"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/ca332c5679be4525ac9753e9af370610",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": [
        "4rem"
      ],
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/d42a4c6a5b21487593fc0a9bb75f103e",
      "visibleToMemberGroups": "",
      "yPadding": "",
      "xPadding": "",
      "width": [
        "1128px"
      ]
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/890d3a9e3d2f4bf39b49e759b795da9a",
      "headlineText": "Find It Fast",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "24px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "2rem"
      ]
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/e7a7610cc93d4bcda830eb7855d124ac"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/0dad88650ada458cb3e21fc04918c427",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": [
        "4rem"
      ],
      "heightLarge": [
        "6rem"
      ],
      "heightExtraLarge": [
        "8rem"
      ]
    },
    {
      "contentTypeKey": "eb32022d-1ca9-4f5c-9f4e-7fb9b746a7ba",
      "udi": "umb://element/e0020123b02c4642be9b4e2689739e85",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "icon": "star",
      "headline": "Lorem Ipsum",
      "subheadline": "Lorem ipsum dolor et met."
    },
    {
      "contentTypeKey": "eb32022d-1ca9-4f5c-9f4e-7fb9b746a7ba",
      "udi": "umb://element/97c19ed80f904e7281556ee0ccd40136",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "icon": "star",
      "headline": "Lorem Ipsum",
      "subheadline": "Lorem ipsum dolor et met."
    },
    {
      "contentTypeKey": "eb32022d-1ca9-4f5c-9f4e-7fb9b746a7ba",
      "udi": "umb://element/6a456a6409a4444089d00747542b4395",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "icon": "star",
      "headline": "Lorem Ipsum",
      "subheadline": "Lorem ipsum dolor et met."
    },
    {
      "contentTypeKey": "eb32022d-1ca9-4f5c-9f4e-7fb9b746a7ba",
      "udi": "umb://element/e6f0604c904f4853a2a0db3b5390970a",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "icon": "star",
      "headline": "Lorem Ipsum",
      "subheadline": "Lorem ipsum dolor et met."
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/c61cdeaa8fe5417d94a287f6833173c9"
    },
    {
      "contentTypeKey": "eb32022d-1ca9-4f5c-9f4e-7fb9b746a7ba",
      "udi": "umb://element/77b351c82717406b8888ce7943b1416c",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "icon": "star",
      "headline": "Lorem Ipsum",
      "subheadline": "Lorem ipsum dolor et met."
    },
    {
      "contentTypeKey": "eb32022d-1ca9-4f5c-9f4e-7fb9b746a7ba",
      "udi": "umb://element/ee44890691ca42cda12efa939d892e92",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "icon": "star",
      "headline": "Lorem Ipsum",
      "subheadline": "Lorem ipsum dolor et met."
    },
    {
      "contentTypeKey": "eb32022d-1ca9-4f5c-9f4e-7fb9b746a7ba",
      "udi": "umb://element/352c7e3f87114c00881564fee7f5825b",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "icon": "star",
      "headline": "Lorem Ipsum",
      "subheadline": "Lorem ipsum dolor et met."
    },
    {
      "contentTypeKey": "eb32022d-1ca9-4f5c-9f4e-7fb9b746a7ba",
      "udi": "umb://element/baac4cb2a5df49a99979b0abd6343d44",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "icon": "star",
      "headline": "Lorem Ipsum",
      "subheadline": "Lorem ipsum dolor et met."
    },
    {
      "contentTypeKey": "7ce4d21e-3e16-41dd-8731-8cacc7a775e4",
      "udi": "umb://element/664e72143a744d259c8e0d5e9090f6ef",
      "overline": "Education",
      "headline": "excel with WRA",
      "content": "The WRA provides educational opportunities to help you in every stage of your real estate career.",
      "link": [
        {
          "name": "See All Education",
          "url": "/"
        }
      ],
      "image": [
        {
          "key": "32e734d2-b8c9-475a-8eab-5951c7092fa5",
          "mediaKey": "189c38f4-f657-4c59-99ac-bdad7493526b"
        }
      ]
    },
    {
      "contentTypeKey": "a3638dad-77d4-45ca-9352-32f848e8743a",
      "udi": "umb://element/00eb9137af944c9ba018f4fa5a450623"
    },
    {
      "contentTypeKey": "f3713466-337d-4f63-ae93-d61ad6608d0a",
      "udi": "umb://element/1d6e5a748a3940ecbc636d5da357be4c",
      "pageLink": [
        {
          "name": "Get Licensed",
          "url": "/"
        }
      ],
      "number": "1",
      "overline": "Licensing",
      "headline": "get started in real estate",
      "content": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex."
    },
    {
      "contentTypeKey": "f3713466-337d-4f63-ae93-d61ad6608d0a",
      "udi": "umb://element/ade1c6dc92b04f51af86fff05f240480",
      "pageLink": [
        {
          "name": "Register for CE",
          "url": "/"
        }
      ],
      "number": "2",
      "overline": "continuing ed.",
      "headline": "maintain your license",
      "content": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex."
    },
    {
      "contentTypeKey": "f3713466-337d-4f63-ae93-d61ad6608d0a",
      "udi": "umb://element/399648709fc54767bb2dc29e6c503eea",
      "pageLink": [
        {
          "name": "Find Classes",
          "url": "/"
        }
      ],
      "number": "3",
      "overline": "professional dev.",
      "headline": "advance your career",
      "content": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex."
    },
    {
      "contentTypeKey": "700abd2d-9eed-4fdc-bd39-e5c52670fca7",
      "udi": "umb://element/5098e7bcffe949b6984249d03ae287f2",
      "overline": "expert help & support",
      "headline": "here  for you",
      "content": "The WRA provides provides support and makes an effort every day to make Real Estate better for you.",
      "backgroundImage": [
        {
          "key": "a5712e10-3def-43a0-afa6-8dcad523d36f",
          "mediaKey": "b1244cae-8df4-46c1-b276-d665f7a948e6"
        }
      ]
    },
    {
      "contentTypeKey": "bf995e2d-fadc-4379-b5a3-614b1f9782cc",
      "udi": "umb://element/63b00a318027423bb8c41713ad8d82d8"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/dcf30b6f408d4f448a8b4cfa30b3b8e6",
      "cTAs": {
        "layout": {
          "Umbraco.BlockGrid": [
            {
              "contentUdi": "umb://element/cd5b714b3f2f4b58ab70aadac3229973",
              "areas": [],
              "columnSpan": 12,
              "rowSpan": 1
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
            "udi": "umb://element/cd5b714b3f2f4b58ab70aadac3229973",
            "link": [
              {
                "name": "Find Support",
                "url": "/"
              }
            ],
            "style": [
              "solid"
            ],
            "contrast": "dark"
          }
        ],
        "settingsData": []
      },
      "headline": "Law & Ethics",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/e7c4921bfb694bce97d2f9e313a6f502",
      "link": [
        {
          "name": "test link",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "868f2679-c9e2-43c9-9772-210d9d211932",
      "udi": "umb://element/46d6452ededa49cc835f745d63d54baa",
      "cTAs": null,
      "headline": "Advocacy",
      "content": "<p>Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. Morbi ante risus, vehicula eu mi ut.</p>"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/0b7cc0cdc4ab4862ada365cc60feabd2",
      "link": [
        {
          "name": "Advocacy",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/9d82730fe8864049a4d6ff4e3fedd4f8",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": "",
      "heightLarge": [
        "4rem"
      ],
      "heightExtraLarge": "",
      "additionalCssClasses": "spacer-bg"
    },
    {
      "contentTypeKey": "77590995-88fc-4504-87e7-5b320c98ab8c",
      "udi": "umb://element/934ac9b13dd34474bc0fb47580ecc01e",
      "width": [
        "1920px"
      ],
      "backgroundImage": [
        {
          "key": "9adc7b16-8c2e-4032-9e8c-426a4edd55bc",
          "mediaKey": "702854e2-74fa-4329-951a-e0bc578f277b"
        }
      ],
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/cf824fe7e1b44cca890bd8750f8c3064",
      "headlineText": "Annual Convention",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "44px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "bottomMargin": [
        "2rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/7141e99375da4f5ca861957ccdfc900a",
      "bottomMargin": [
        "2rem"
      ],
      "fontSize": [
        "16px"
      ],
      "fontWeight": [
        "400"
      ],
      "text": "<p>This is a flexible CTA block where the WRA can promote upcoming events, deadlines, and important news.</p>",
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/41df087ac787447fb622778a28549c21",
      "bottomMargin": [
        "0rem"
      ],
      "horizontalAlignment": [
        "Center"
      ]
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/529168ca457a402590d8b8f58e0c72d3",
      "link": [
        {
          "name": "Register Now",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "light"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/d8207d6e05754302a0691d1d370c95b7",
      "heightSmall": [
        "4rem"
      ],
      "heightMedium": [
        "6rem"
      ],
      "heightLarge": [
        "6rem"
      ],
      "heightExtraLarge": [
        "8rem"
      ],
      "additionalCssClasses": "spacer-bg"
    },
    {
      "contentTypeKey": "9baeef91-2e06-4d35-8add-c19e0116191e",
      "udi": "umb://element/51b1f94abc5a442ba5cca80e7101697c",
      "overline": "membership & benefits",
      "headline": "get the most from Wra",
      "content": "One line explaining how becoming/being a WRA member gets you MORE. ",
      "additionalCssClasses": ""
    },
    {
      "contentTypeKey": "bf995e2d-fadc-4379-b5a3-614b1f9782cc",
      "udi": "umb://element/1a8a34ee626d4a3e9ae977311127523e"
    },
    {
      "contentTypeKey": "2451fda3-6057-4498-99e8-a8323eb0f1d1",
      "udi": "umb://element/0ac788a36f584e71beeed08b2b4ed8d9",
      "icon": "star",
      "text": "Legal Hotline",
      "contrast": "light"
    },
    {
      "contentTypeKey": "2451fda3-6057-4498-99e8-a8323eb0f1d1",
      "udi": "umb://element/2841efcdd2d94b3c85e988047713d813",
      "icon": "star",
      "text": "Housing Statistics",
      "contrast": "light"
    },
    {
      "contentTypeKey": "2451fda3-6057-4498-99e8-a8323eb0f1d1",
      "udi": "umb://element/dde87af30b7c43ee970c997f52621bcf",
      "icon": "star",
      "text": "Weekly Newsletter",
      "contrast": "light"
    },
    {
      "contentTypeKey": "2451fda3-6057-4498-99e8-a8323eb0f1d1",
      "udi": "umb://element/44542d6ae8194c289faa8fb83c80cc21",
      "icon": "star",
      "text": "Legal Hotline",
      "contrast": "light"
    },
    {
      "contentTypeKey": "2451fda3-6057-4498-99e8-a8323eb0f1d1",
      "udi": "umb://element/8562200f836e426fb1c559ffd95ac78f",
      "icon": "star",
      "text": "Housing Statistics",
      "contrast": "light"
    },
    {
      "contentTypeKey": "2451fda3-6057-4498-99e8-a8323eb0f1d1",
      "udi": "umb://element/71ad0783c8104da0b6d02d6b2b4f8fb5",
      "icon": "star",
      "text": "Weekly Newsletter",
      "contrast": "light"
    },
    {
      "contentTypeKey": "bf995e2d-fadc-4379-b5a3-614b1f9782cc",
      "udi": "umb://element/886d0839db064e20a5d6f574c99389eb"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/74c13714548d439b8439b8ee50842e95",
      "link": [
        {
          "name": "Become a Member",
          "url": "/"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "light"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/46d7df543aad4f5e9601533198d1b492",
      "link": [
        {
          "name": "See All Benefits",
          "url": "/"
        }
      ],
      "style": [
        "link arrow"
      ],
      "contrast": "light"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/c8c3a11310fb4efc806edbc6affd73a6",
      "heightSmall": [
        "1rem"
      ],
      "heightMedium": [
        "1.5rem"
      ],
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/59a92e31fd864a1692ac2e577cb3e3d9",
      "heightSmall": [
        "1rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/fb6f5232ba244d398afadecd4222cb9b",
      "heightSmall": [
        "1rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/29c346401a8d40708cf1bb98587968a1",
      "heightSmall": [
        "1rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/803c816ed07e4a82b251020b790b7489",
      "heightSmall": [
        "1rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "bf995e2d-fadc-4379-b5a3-614b1f9782cc",
      "udi": "umb://element/6663fd5790a141be99556ea686c1fc38"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/a8736e018c8a4ea283c4dc1c9eb93034",
      "heightSmall": [
        "2rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/034b7fd3a03c4381ad8e2f4c39c0285d",
      "visibleToAll": "0",
      "bottomMargin": [
        "0rem"
      ],
      "fontSize": [
        "20px"
      ],
      "fontWeight": [
        "600"
      ],
      "fontFamily": "Serif",
      "text": "<p>THIS SHOULD BE GATED</p>",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "visibleToMemberGroups": "1127"
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteDescription>
      <Value><![CDATA[]]></Value>
    </siteDescription>
    <siteFooterWidget>
      <Value><![CDATA[umb://document/d9c986bf1c7447649fbf2ecac7fc171d]]></Value>
    </siteFooterWidget>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
    <store>
      <Value><![CDATA[f665f0ce-922d-4bc2-8490-018ba1543eb0]]></Value>
    </store>
  </Properties>
</Content>