<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce87f0b2-da71-4512-9666-e98cbd41c974" Alias="Hot Tip 2" Level="2">
  <Info>
    <Parent Key="6f078e8b-d79f-44c0-a06c-7578fcc5ad75">Hot Tips</Parent>
    <Path>/HotTips/HotTip2</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipEntry</ContentType>
    <CreateDate>2023-11-28T22:57:33</CreateDate>
    <NodeName Default="Hot Tip 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answer>
      <Value><![CDATA[<p><strong>Answer:</strong> This question is about the rights to use an agent's photographs and property information sheets on a listing. The agent formerly worked for Firm A. Upon leaving Firm A to go to Firm B, the listing remained with Firm A along with the professional photos and property detail information on MLS documents created by the agent. The agent hired a professional photographer and then made edits with text and arrows on the photos.</p>]]></Value>
    </answer>
    <category>
      <Value><![CDATA[umb://document/52bc37dc963845e2aa0f5957d50db32d]]></Value>
    </category>
    <question>
      <Value><![CDATA[<p><strong>Question:</strong> This question is about the rights to use an agent's photographs and property information sheets on a listing. The agent formerly worked for Firm A. Upon leaving Firm A to go to Firm B, the listing remained with Firm A along with the professional photos and property detail information on MLS documents created by the agent. The agent hired a professional photographer and then made edits with text and arrows on the photos.</p>]]></Value>
    </question>
    <subcategories>
      <Value><![CDATA[umb://document/0c6cab2dc91b476e87ac675f306375e3]]></Value>
    </subcategories>
  </Properties>
</Content>