<?xml version="1.0" encoding="utf-8"?>
<Content Key="043ba1f9-3e46-456c-b444-48151c4af8fd" Alias="Hot Tip Categories" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HotTipCategories</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipCategories</ContentType>
    <CreateDate>2023-11-28T22:54:30</CreateDate>
    <NodeName Default="Hot Tip Categories" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>