<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f078e8b-d79f-44c0-a06c-7578fcc5ad75" Alias="Hot Tips" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HotTips</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTips</ContentType>
    <CreateDate>2023-11-28T22:56:31</CreateDate>
    <NodeName Default="Hot Tips" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>