<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9a165a8-83db-42ae-874e-1a1059df8cd5" Alias="Jane Doe" Level="2">
  <Info>
    <Parent Key="78533529-d9f5-4877-83da-cd34dc213ba5">Testimonials</Parent>
    <Path>/Testimonials/JaneDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonial</ContentType>
    <CreateDate>2023-11-08T21:48:42</CreateDate>
    <NodeName Default="Jane Doe" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <affiliation>
      <Value><![CDATA[City Planning Commission]]></Value>
    </affiliation>
    <fullName>
      <Value><![CDATA[Jane Doe]]></Value>
    </fullName>
    <image>
      <Value><![CDATA[[
  {
    "key": "7f5f07ca-4f3c-402e-8ea6-68cb1a5f2fee",
    "mediaKey": "7a1841cf-ec6e-4e54-a236-797cceb250d6"
  }
]]]></Value>
    </image>
    <locale>
      <Value><![CDATA[Oshkosh]]></Value>
    </locale>
    <quote>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget pellentesque quam. Phasellus scelerisque libero lacus, sit amet pretium urna tempor ac. Pellentesque habitant morbi tristique senec.]]></Value>
    </quote>
  </Properties>
</Content>