<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a589960-a1b3-4487-8f6f-892107dce660" Alias="January 2022" Level="6">
  <Info>
    <Parent Key="4f5f23e9-89fa-44c9-8c29-27f2fa317cf0">2022</Parent>
    <Path>/Home/ToolsResources/ResourceLibrary/Magazine//January2022</Path>
    <Trashed>false</Trashed>
    <ContentType>magazine</ContentType>
    <CreateDate>2023-12-01T02:44:55</CreateDate>
    <NodeName Default="January 2022" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6915c450-96c3-468d-bcff-b47a8dc39a18">Magazine</Template>
  </Info>
  <Properties>
    <excerpt>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.]]></Value>
    </excerpt>
    <featuredOnlineArticles>
      <Value><![CDATA[]]></Value>
    </featuredOnlineArticles>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "9358d76e-ab60-4fc4-a5b0-83cc9eaba175",
    "mediaKey": "e8a39e94-d978-45a5-bafa-a499e011314c"
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <monthYearTitle>
      <Value><![CDATA[2022-01-01T00:00:00]]></Value>
    </monthYearTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <pdf>
      <Value><![CDATA[/media/r05jgvof/wrem_2022_january_single6-1.pdf]]></Value>
    </pdf>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>