<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba1fcffd-312d-45f3-978d-975d13ba40cd" Alias="John Doe" Level="2">
  <Info>
    <Parent Key="78533529-d9f5-4877-83da-cd34dc213ba5">Testimonials</Parent>
    <Path>/Testimonials/JohnDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonial</ContentType>
    <CreateDate>2023-11-08T20:24:16</CreateDate>
    <NodeName Default="John Doe" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <affiliation>
      <Value><![CDATA[REALTOR<sup>&reg;</sup>]]></Value>
    </affiliation>
    <fullName>
      <Value><![CDATA[John Doe]]></Value>
    </fullName>
    <image>
      <Value><![CDATA[[
  {
    "key": "0c05578a-a594-48fb-bbd7-fa38fd4bff7a",
    "mediaKey": "7a1841cf-ec6e-4e54-a236-797cceb250d6"
  }
]]]></Value>
    </image>
    <locale>
      <Value><![CDATA[Southern Wisconsin]]></Value>
    </locale>
    <quote>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget pellentesque quam.]]></Value>
    </quote>
  </Properties>
</Content>