<?xml version="1.0" encoding="utf-8"?>
<Content Key="07dafb77-45f0-48ab-9b76-cc4740a6ebfd" Alias="Law &amp; Ethics" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/LawEthics</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-11-21T21:54:32</CreateDate>
    <NodeName Default="Law &amp; Ethics" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/db9823e5e16748fab373c18fbbaf3c5e",
        "areas": [
          {
            "key": "ab5d22a8-35f9-45a6-8906-595b4febc4b2",
            "items": [
              {
                "contentUdi": "umb://element/dcfee5a01aa04913a3c7d62f2c53dcbe",
                "areas": [
                  {
                    "key": "ffd13657-2646-4e69-b102-1073c5d9e1c5",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/ce89a0689b994e978832c9e5d4d4d40d"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/c7135d919bb04a8d9f9a130c32a1d978"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/f78d70f5872b45d4bf6c18432f47e7ce"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/bb69af4b0f15429ea7110abecf3fb5f7"
                      },
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/e2e75304b08d4df688b35108d7f6debb"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "f34b7226-358c-4ff5-a458-1f082c51b3b9",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/c04de069d44f48199005c98758469d76"
      },
      {
        "contentUdi": "umb://element/744c0e4f1f604016807a29a6dc089d12",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/ce1147ebd015415bbcdb669fa525840e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/70cf18de31a948cda933997abbec61d9",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ba531c92e65d45e7b0ade7527c685b22",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/30cc8fbbdf55483980b9bf5f4dafb347",
                "areas": [
                  {
                    "key": "730bdb13-56b6-4614-a524-f46499892315",
                    "items": [
                      {
                        "contentUdi": "umb://element/fb69248f15d04b279036ab79472429c6",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  },
                  {
                    "key": "de11d1c8-311e-4040-92a5-92cf75755a45",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/4604f0494dd1427fb2a5334ef979062b"
                      }
                    ]
                  },
                  {
                    "key": "fa665ee0-0c0f-43e7-9922-8db6df716a4b",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/9dd96a84bce34065a1fe22d86a552e6e"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/bac657a004304f1499f6285a1bd8b460",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "a8b7402c-5980-42a3-adff-fbcb7281c0b6",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/58bc4f6d40fe4694942ffebcbd3287fb"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/d4abe13f2a024e16bb0e3547a532f362"
              },
              {
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/b3a7fc2faf4c4d728187dfc66e6cd4c1"
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/f6b9b9b3feb745d29ca0527322a38821"
              }
            ]
          },
          {
            "key": "93baa978-989b-4859-9585-4988c0593f71",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/4cb5130be4b1408283e0f385c504ca80"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/b5913623581d41379ed6df9c1c4ab6f6"
      },
      {
        "areas": [
          {
            "key": "a8b7402c-5980-42a3-adff-fbcb7281c0b6",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/fdd99d7269d7462abfc435bf3c1e6b17"
              }
            ]
          },
          {
            "key": "93baa978-989b-4859-9585-4988c0593f71",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/9f516241e4b04d3398765f1016b9550e"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/b8ef0879b05e4c59acdeb5386c8f48c3"
              },
              {
                "areas": [
                  {
                    "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                    "items": [
                      {
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1,
                        "contentUdi": "umb://element/ae3a5c1ebeb243bba48f06407db1e050"
                      },
                      {
                        "contentUdi": "umb://element/8bb886506b4746ceb8e752b37f93f6ca",
                        "areas": [],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/7859e1e920934e6c9d22024950394158"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/7320bea2e3744148ac0befb74a7fa2cc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "cffca6df-c3f5-4d9c-ab91-6591c86747c7",
      "udi": "umb://element/db9823e5e16748fab373c18fbbaf3c5e",
      "headline": "Law & Ethics",
      "overlay": "1",
      "showEventCalendar": "0",
      "imageMobile": [
        {
          "key": "1835a9bb-c7b4-4303-a625-a98f07579f8c",
          "mediaKey": "10f05c5d-6836-43e1-9298-8e33bbbda93a"
        }
      ],
      "imageDesktop": [
        {
          "key": "550f83df-8f27-474b-b352-08d5c972c4ab",
          "mediaKey": "10f05c5d-6836-43e1-9298-8e33bbbda93a"
        }
      ],
      "subhead": "Lorem ipsum dolor sit amet ver tussi condasquelane. Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem. "
    },
    {
      "contentTypeKey": "741adb46-a9cd-48d8-8f44-a5fc6fe6b1ca",
      "udi": "umb://element/c04de069d44f48199005c98758469d76",
      "category": "umb://document/b2f67aa661854136b6f73019de57a7ce"
    },
    {
      "contentTypeKey": "569c5323-b158-4a26-aedb-69618d0db0a9",
      "udi": "umb://element/b5913623581d41379ed6df9c1c4ab6f6",
      "yPadding": [
        "2rem"
      ],
      "reverseColumns": "0"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/58bc4f6d40fe4694942ffebcbd3287fb",
      "headlineText": "Legal Advocacy",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "24px"
      ],
      "textAlignment": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/d4abe13f2a024e16bb0e3547a532f362",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "fontFamily": "Sans-Serif",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/f6b9b9b3feb745d29ca0527322a38821",
      "bottomMargin": "",
      "horizontalAlignment": [
        "Left"
      ],
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/b3a7fc2faf4c4d728187dfc66e6cd4c1",
      "link": [
        {
          "name": "Learn About Legal Action",
          "url": "",
          "queryString": "#"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "32586fc3-9223-4549-affb-041bf869f15d",
      "udi": "umb://element/4cb5130be4b1408283e0f385c504ca80",
      "image": [
        {
          "key": "d41655dd-e1f4-4fd9-a41c-0ec75193557a",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "bottomMargin": "",
      "curvedCorner": "1",
      "yellowDecor": "1"
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/bac657a004304f1499f6285a1bd8b460",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": "",
      "heightLarge": [
        "4rem"
      ],
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "569c5323-b158-4a26-aedb-69618d0db0a9",
      "udi": "umb://element/7320bea2e3744148ac0befb74a7fa2cc",
      "yPadding": [
        "2rem"
      ],
      "reverseColumns": "0"
    },
    {
      "contentTypeKey": "32586fc3-9223-4549-affb-041bf869f15d",
      "udi": "umb://element/fdd99d7269d7462abfc435bf3c1e6b17",
      "image": [
        {
          "key": "d41655dd-e1f4-4fd9-a41c-0ec75193557a",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "bottomMargin": "",
      "curvedCorner": "1",
      "yellowDecor": "0"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/9f516241e4b04d3398765f1016b9550e",
      "headlineText": "Ethics & Professional Standards",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "24px"
      ],
      "textAlignment": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": ""
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/b8ef0879b05e4c59acdeb5386c8f48c3",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis, purus at dignissim luctus, nulla nisl pharetra lacus, nec aliquam est erat nec elit.</p>",
      "fontFamily": "Sans-Serif",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/7859e1e920934e6c9d22024950394158",
      "bottomMargin": "",
      "horizontalAlignment": [
        "Left"
      ],
      "stackButtonsVertically": "0"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/ae3a5c1ebeb243bba48f06407db1e050",
      "link": [
        {
          "name": "Learn More",
          "url": "",
          "queryString": "#"
        }
      ],
      "style": [
        "solid"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "f85e05f9-f8b7-471a-bd9c-da4c4c0bdcb9",
      "udi": "umb://element/dcfee5a01aa04913a3c7d62f2c53dcbe",
      "color": {
        "value": "2560b9",
        "label": "2560b9",
        "sortOrder": 3,
        "id": "4"
      }
    },
    {
      "contentTypeKey": "c0f91cab-47e6-4e2c-84cf-846c343a701f",
      "udi": "umb://element/ce89a0689b994e978832c9e5d4d4d40d",
      "icon": "headset fa-solid",
      "iconSize": "54",
      "contrast": "light",
      "bottomMargin": ""
    },
    {
      "contentTypeKey": "764f3bd5-6bf5-4409-bbc4-29789af1dfc2",
      "udi": "umb://element/c7135d919bb04a8d9f9a130c32a1d978",
      "overlineText": "Legal Hotline",
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "alignment": [
        "Center"
      ],
      "bottomMargin": [
        "1.5rem"
      ],
      "strikeBehind": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/f78d70f5872b45d4bf6c18432f47e7ce",
      "headlineText": "Get Expert Help Now",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "24px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "bottomMargin": [
        "1rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/bb69af4b0f15429ea7110abecf3fb5f7",
      "bottomMargin": [
        "1.5rem"
      ],
      "fontSize": [
        "18px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "fontFamily": "Sans-Serif",
      "textColor": {
        "value": "ffffff",
        "label": "ffffff",
        "sortOrder": 1,
        "id": "2"
      },
      "text": "<p>Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor.</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/e2e75304b08d4df688b35108d7f6debb",
      "style": [
        "solid"
      ],
      "link": [
        {
          "name": "Contact the Legal Hotline",
          "url": "/"
        }
      ],
      "contrast": "light"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/8bb886506b4746ceb8e752b37f93f6ca",
      "link": [
        {
          "name": "File A Complaint",
          "url": "#"
        }
      ],
      "style": [
        "link arrow"
      ]
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/744c0e4f1f604016807a29a6dc089d12",
      "width": [
        "1128px"
      ],
      "yPadding": "",
      "xPadding": "",
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/70cf18de31a948cda933997abbec61d9",
      "headlineText": "Lorem Ipsum",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "1rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/ba531c92e65d45e7b0ade7527c685b22",
      "bottomMargin": [
        "2rem"
      ],
      "fontSize": [
        "18px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p style=\"text-align: center;\">Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh. Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh. </p>",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/ce1147ebd015415bbcdb669fa525840e",
      "heightSmall": [
        "3rem"
      ],
      "heightMedium": "",
      "heightLarge": [
        "4rem"
      ],
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "a3638dad-77d4-45ca-9352-32f848e8743a",
      "udi": "umb://element/30cc8fbbdf55483980b9bf5f4dafb347"
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/fb69248f15d04b279036ab79472429c6",
      "pageUrl": [
        {
          "name": "Lorem Ipsum",
          "url": "",
          "queryString": "#"
        }
      ],
      "headline": "Hot Tip Library",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem."
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/4604f0494dd1427fb2a5334ef979062b",
      "pageUrl": [
        {
          "name": "Lorem Ipsum",
          "url": "",
          "queryString": "#"
        }
      ],
      "headline": "Legal Update Library",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem."
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/9dd96a84bce34065a1fe22d86a552e6e",
      "pageUrl": [
        {
          "name": "Lorem Ipsum",
          "url": "",
          "queryString": "#"
        }
      ],
      "headline": "WREM Legal Articles",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem."
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[umb://document/d9c986bf1c7447649fbf2ecac7fc171d]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>