<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdfe4dd7-d01d-4301-903c-cad44b451134" Alias="Line-by-Line" Level="4">
  <Info>
    <Parent Key="51f62cdc-4ecb-4dcc-ab0e-13577c212944">Professional Development</Parent>
    <Path>/Home/Categories/ProfessionalDevelopment/LineByLine</Path>
    <Trashed>false</Trashed>
    <ContentType>subCategoryPage</ContentType>
    <CreateDate>2024-01-22T20:35:24</CreateDate>
    <NodeName Default="Line-by-Line" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98556b43-6765-4b46-98fd-c098502d4443">SubCategoryPage</Template>
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>