<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d65b442-8bbd-4712-9e0e-21df19cc4ce9" Alias="Magazine" Level="4">
  <Info>
    <Parent Key="70b0ef2c-ecb4-4c27-bed2-a39d3deae374">Resource Library</Parent>
    <Path>/Home/ToolsResources/ResourceLibrary/Magazine</Path>
    <Trashed>false</Trashed>
    <ContentType>magazineLanding</ContentType>
    <CreateDate>2023-12-01T01:53:49</CreateDate>
    <NodeName Default="Magazine" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a93a5fb6-5de2-4d00-82af-2fce535b288c">MagazineLanding</Template>
  </Info>
  <Properties>
    <gridSection>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2fb3851cfe304ad49e612a20da297b0e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "441d9356-4a38-4ed5-856e-4f4006859e94",
      "udi": "umb://element/2fb3851cfe304ad49e612a20da297b0e",
      "hideAccent": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </gridSection>
    <hideFromSearchEngines>
      <Value><![CDATA[]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>