<?xml version="1.0" encoding="utf-8"?>
<Content Key="61118493-c849-4bac-a78f-747065bce033" Alias="Membership Widget" Level="2">
  <Info>
    <Parent Key="60be55d7-7b31-4988-9530-df5e080a4b91">Reusable Widgets</Parent>
    <Path>/ReusableWidgets/MembershipWidget</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableWidgetMembership</ContentType>
    <CreateDate>2023-10-27T21:12:45</CreateDate>
    <NodeName Default="Membership Widget" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <column1Content>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh.]]></Value>
    </column1Content>
    <column1Heading>
      <Value><![CDATA[Legal Hotline]]></Value>
    </column1Heading>
    <column1Image>
      <Value><![CDATA[[]]]></Value>
    </column1Image>
    <column2Content>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh.]]></Value>
    </column2Content>
    <column2Heading>
      <Value><![CDATA[ZipForm]]></Value>
    </column2Heading>
    <column2Image>
      <Value><![CDATA[[]]]></Value>
    </column2Image>
    <column3Content>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh.]]></Value>
    </column3Content>
    <column3Heading>
      <Value><![CDATA[Weekly Newsletters]]></Value>
    </column3Heading>
    <column3Image>
      <Value><![CDATA[[]]]></Value>
    </column3Image>
    <column4Content>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh.]]></Value>
    </column4Content>
    <column4Heading>
      <Value><![CDATA[MLS Access]]></Value>
    </column4Heading>
    <column4Image>
      <Value><![CDATA[[]]]></Value>
    </column4Image>
    <content>
      <Value><![CDATA[<p>Basic promo that can appear on pages throughout the site, encouraging membership sign-up. Would link to Membership page.</p>]]></Value>
    </content>
    <heading>
      <Value><![CDATA[Become a member]]></Value>
    </heading>
    <linkPrimary>
      <Value><![CDATA[[
  {
    "name": "Become a Member",
    "url": "#"
  }
]]]></Value>
    </linkPrimary>
    <linkSecondary>
      <Value><![CDATA[[
  {
    "name": "See More Benefits",
    "url": "#"
  }
]]]></Value>
    </linkSecondary>
  </Properties>
</Content>