<?xml version="1.0" encoding="utf-8"?>
<Content Key="a820fe83-9a0d-454f-93e9-ac65c13a91f8" Alias="Multimedia Categories" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MultimediaCategories</Path>
    <Trashed>false</Trashed>
    <ContentType>multimediaCategories</ContentType>
    <CreateDate>2023-11-27T17:07:49</CreateDate>
    <NodeName Default="Multimedia Categories" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>