<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d430f6f-f9cd-4585-8766-3cf0ef447589" Alias="News Categories" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewsCategories</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCategories</ContentType>
    <CreateDate>2023-11-08T21:52:30</CreateDate>
    <NodeName Default="News Categories" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>