<?xml version="1.0" encoding="utf-8"?>
<Content Key="99791e4d-c2f3-4139-8c18-17cb737a1692" Alias="October 2023" Level="6">
  <Info>
    <Parent Key="832aadb6-2d68-4ba9-a33f-9a6b5efd50dd">2023</Parent>
    <Path>/Home/ToolsResources/ResourceLibrary/Magazine//October2023</Path>
    <Trashed>false</Trashed>
    <ContentType>magazine</ContentType>
    <CreateDate>2023-12-01T02:42:15</CreateDate>
    <NodeName Default="October 2023" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6915c450-96c3-468d-bcff-b47a8dc39a18">Magazine</Template>
  </Info>
  <Properties>
    <excerpt>
      <Value><![CDATA[Lorem ipsum dolor sit amett, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.]]></Value>
    </excerpt>
    <featuredOnlineArticles>
      <Value><![CDATA[umb://document/30dfe4a682c44aba90ee25751e624c3a,umb://document/10346a7cb4c742f7be8598143caf6f1d,umb://document/4724b3797c444738ae92504717fd5f0a,umb://document/c6abe44b6622453c8c8513b2b26f8afd,umb://document/3d16a618d9f54b519e73b5f4d642eb70]]></Value>
    </featuredOnlineArticles>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "d2d13587-808e-483d-a1f1-770ef5419d64",
    "mediaKey": "363013ac-5f7b-453b-9bd5-e1e9d7dbb1ed"
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <monthYearTitle>
      <Value><![CDATA[2023-10-01T00:00:00]]></Value>
    </monthYearTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <pdf>
      <Value><![CDATA[/media/um2lffuf/wisconsin-real-estate-magazine-october-2023.pdf]]></Value>
    </pdf>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>