<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d5c99d7-2628-4815-ba7f-5392883dc5b5" Alias="Offer to Purchase" Level="2">
  <Info>
    <Parent Key="043ba1f9-3e46-456c-b444-48151c4af8fd">Hot Tip Categories</Parent>
    <Path>/HotTipCategories/OfferToPurchase</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipCategory</ContentType>
    <CreateDate>2023-11-28T22:55:44</CreateDate>
    <NodeName Default="Offer to Purchase" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>