<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9c986bf-1c74-4764-9fbf-2ecac7fc171d" Alias="One Column Example" Level="2">
  <Info>
    <Parent Key="a5e6ad30-4286-4e2a-99e9-7eef04ee5cc0">Site Footer Widgets</Parent>
    <Path>/SiteFooterWidgets/OneColumnExample</Path>
    <Trashed>false</Trashed>
    <ContentType>oneColumnSiteFooterWidget</ContentType>
    <CreateDate>2023-10-24T19:48:44</CreateDate>
    <NodeName Default="One Column Example" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <colorScheme>
      <Value><![CDATA[[
  "Light"
]]]></Value>
    </colorScheme>
    <content>
      <Value><![CDATA[<p>EXTREMELY brief explaining how this great members-only benefit sends so many invaluable things right to your inbox.</p>]]></Value>
    </content>
    <heading>
      <Value><![CDATA[Become a member and get the newsletter]]></Value>
    </heading>
    <link>
      <Value><![CDATA[[
  {
    "name": "Get the Newsletter",
    "url": "#"
  }
]]]></Value>
    </link>
  </Properties>
</Content>