<?xml version="1.0" encoding="utf-8"?>
<Content Key="063cf9e8-6111-4cf7-9808-135272e6545f" Alias="Order Confirmation" Level="3">
  <Info>
    <Parent Key="fbf8b3f9-ef95-4f4e-ad4d-9f0d7405fd51">Checkout</Parent>
    <Path>/Home/Checkout/OrderConfirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutConfirmationPage</ContentType>
    <CreateDate>2024-01-15T10:38:55</CreateDate>
    <NodeName Default="Order Confirmation" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a905814-a0c8-4466-a3c2-031cac91ae56">CheckoutConfirmationPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[0]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <shortStepName>
      <Value><![CDATA[Confirmation]]></Value>
    </shortStepName>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>