<?xml version="1.0" encoding="utf-8"?>
<Content Key="3747e0f5-b1b4-454e-a779-e1aed7edcc80" Alias="Process Payment" Level="3">
  <Info>
    <Parent Key="fbf8b3f9-ef95-4f4e-ad4d-9f0d7405fd51">Checkout</Parent>
    <Path>/Home/Checkout/ProcessPayment</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutPaymentPage</ContentType>
    <CreateDate>2024-01-15T10:38:27</CreateDate>
    <NodeName Default="Process Payment" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f3bbce8a-0210-4d14-a57f-06f8b6f53985">CheckoutPaymentPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <shortStepName>
      <Value><![CDATA[pay]]></Value>
    </shortStepName>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>