<?xml version="1.0" encoding="utf-8"?>
<Content Key="51f62cdc-4ecb-4dcc-ab0e-13577c212944" Alias="Professional Development" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/ProfessionalDevelopment</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:13</CreateDate>
    <NodeName Default="Professional Development" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Resources and programs to enhance professional skills and career growth in real estate.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[910e47b3-4856-4819-baaa-09ce61cd8673]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>