<?xml version="1.0" encoding="utf-8"?>
<Content Key="86522d33-e4cb-4ad6-9e24-68e55772ef45" Alias="Protect Your Family From Lead in the Home Broch" Level="4">
  <Info>
    <Parent Key="516f905e-7660-4222-9bc2-0161f5b32466">Products</Parent>
    <Path>/Home/Products/Products/ProtectYourFamilyFromLeadInTheHomeBroch</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2024-01-23T10:38:49</CreateDate>
    <NodeName Default="Protect Your Family From Lead in the Home Broch" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="472d765a-0e4c-434b-8ca8-4fa1d95a227b">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/8315b8d784a44feb9803ea14a8cac92b]]></Value>
    </categories>
    <endDate>
      <Value><![CDATA[9999-12-31T00:00:00]]></Value>
    </endDate>
    <hideFromSearchEngines>
      <Value><![CDATA[]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <longDescription>
      <Value><![CDATA[]]></Value>
    </longDescription>
    <memberPrice>
      <Value><![CDATA[]]></Value>
    </memberPrice>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <price>
      <Value><![CDATA[{
  "3698ee49-fe94-4756-8896-018c92cebaf5": "0.45"
}]]></Value>
    </price>
    <productId>
      <Value><![CDATA[023f698a-c699-4417-55b9-08dbfa99b13d]]></Value>
    </productId>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <sku>
      <Value><![CDATA[BRLP]]></Value>
    </sku>
    <startDate>
      <Value><![CDATA[1753-01-01T00:00:00]]></Value>
    </startDate>
    <subCategories>
      <Value><![CDATA[]]></Value>
    </subCategories>
    <taxonomy>
      <Value><![CDATA[Books]]></Value>
    </taxonomy>
  </Properties>
</Content>