<?xml version="1.0" encoding="utf-8"?>
<Content Key="8315b8d7-84a4-4feb-9803-ea14a8cac92b" Alias="Publications" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/Publications</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:14</CreateDate>
    <NodeName Default="Publications" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Informative publications and literature related to real estate.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[9ad00ef6-5b58-439c-a1b4-584d0e327cee]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>