<?xml version="1.0" encoding="utf-8"?>
<Content Key="90527cbe-7253-4f2e-8f55-696facd1bedb" Alias="Question Form" Level="4">
  <Info>
    <Parent Key="22d94667-416a-4e22-acf2-242b291ff9b2">Hot Tip Library</Parent>
    <Path>/Home/LawEthics/HotTipLibrary/QuestionForm</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-12-08T21:46:16</CreateDate>
    <NodeName Default="Question Form" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1bfd8b5cde294d1b9e8008f46d88dd14",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b6eef42e4129476a990f9e760767d80e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/541d78a842c44068a17e04fba6dc460e",
        "areas": [
          {
            "key": "8e8355b8-aa7e-4b76-a893-8a7d14f57243",
            "items": [
              {
                "contentUdi": "umb://element/6ed5f2ad622a45fbb7ef24ed9f868680",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3b8cbebe1793424db8cf51dc93c0146c",
                "areas": [
                  {
                    "key": "270196bf-f331-4dd3-894b-d04ae81e4b3f",
                    "items": [
                      {
                        "contentUdi": "umb://element/2e34c9c7bbc9465ca7ac8691fc73db2d",
                        "areas": [
                          {
                            "key": "72a9b655-b2c5-4a33-80f3-73d01f46cbc7",
                            "items": [
                              {
                                "contentUdi": "umb://element/2d2b61b998a546d8af06fdb2cc3a66c5",
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1
                              },
                              {
                                "contentUdi": "umb://element/907dfc0c9e0b491ca7a725cd95462c9c",
                                "areas": [],
                                "columnSpan": 6,
                                "rowSpan": 1
                              }
                            ]
                          }
                        ],
                        "columnSpan": 6,
                        "rowSpan": 1
                      }
                    ]
                  }
                ],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/9e3d58bf15e8463dbe0d17f56c413789",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/438039f42d664ad0927e0bedc4f8026f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/689a9480480b47c6b2ff1d3a369b2a72",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "5a9df9b3-9f2c-4de3-b87c-4e4b4686f49e",
            "items": [
              {
                "contentUdi": "umb://element/0bc6fc6275654f8ba479579486d4ab93",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "441d9356-4a38-4ed5-856e-4f4006859e94",
      "udi": "umb://element/1bfd8b5cde294d1b9e8008f46d88dd14",
      "hideAccent": "0",
      "heading": "Submit a Question",
      "subheading": "Still can’t find the answer your looking for? Submit a question to our Legal Hotline."
    },
    {
      "contentTypeKey": "197639a2-5746-4602-aa7b-95d4852ac298",
      "udi": "umb://element/b6eef42e4129476a990f9e760767d80e"
    },
    {
      "contentTypeKey": "bf995e2d-fadc-4379-b5a3-614b1f9782cc",
      "udi": "umb://element/541d78a842c44068a17e04fba6dc460e",
      "stackOnMobile": "0",
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/6ed5f2ad622a45fbb7ef24ed9f868680",
      "visibleToAll": "1",
      "bottomMargin": [
        "2rem"
      ],
      "fontSize": "",
      "fontWeight": "",
      "text": "<p>To submit your question, complete the form and click submit. Your question will be automatically forwarded to the attorney response queue. An attorney can respond to you by phone or by email. Identify your preferred response method below. You may also reach the Legal Hotline by phone at <a href=\"#\" data-anchor=\"#\">800-799-4468</a>.</p>",
      "visibleToMemberGroups": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      }
    },
    {
      "contentTypeKey": "7b118b8c-dc87-4eb8-97cb-e18647ead8e3",
      "udi": "umb://element/3b8cbebe1793424db8cf51dc93c0146c",
      "title": "Find Answers"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/2d2b61b998a546d8af06fdb2cc3a66c5",
      "link": [
        {
          "name": "Hot Tip Library",
          "url": "#"
        }
      ],
      "style": [
        "link arrow"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "864f593e-ef23-4580-8c2d-e4a5f4da025e",
      "udi": "umb://element/907dfc0c9e0b491ca7a725cd95462c9c",
      "link": [
        {
          "name": "Legal Update Library",
          "url": "#"
        }
      ],
      "style": [
        "link arrow"
      ],
      "contrast": "dark"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/689a9480480b47c6b2ff1d3a369b2a72",
      "bottomMargin": "",
      "fontSize": [
        "14px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p><a href=\"#\" data-anchor=\"#\">800-799-4468</a><br>Monday – Friday<br>8:30am – 4:30pm</p>\n<p><strong>2023 Holiday Hours</strong><br>The WRA Legal Hotline will be closed on the following dates in 2023:</p>\n<ul>\n<li>Monday, January 2</li>\n<li>Monday, January 16</li>\n<li>Friday, April 7 (closing at 12:00 p.m.)</li>\n<li>Monday, May 29</li>\n<li>Tuesday, July 4</li>\n<li>Monday, September 4</li>\n<li>Thursday, November 23</li>\n<li>Friday, November 24</li>\n<li>Friday, December 22</li>\n<li>Monday, December 25</li>\n<li>Friday, December 29</li>\n</ul>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/9e3d58bf15e8463dbe0d17f56c413789",
      "heightSmall": [
        "2rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/438039f42d664ad0927e0bedc4f8026f",
      "headlineText": "WRA Legal Hotline Phone & Hours",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "16px"
      ],
      "textAlignment": "",
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "0.5rem"
      ]
    },
    {
      "contentTypeKey": "63a4fa00-9b8c-41f2-8bb3-55374ae83595",
      "udi": "umb://element/2e34c9c7bbc9465ca7ac8691fc73db2d",
      "bottomMargin": "",
      "horizontalAlignment": [
        "Left"
      ],
      "stackButtonsVertically": "1"
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/0bc6fc6275654f8ba479579486d4ab93",
      "visibleToAll": "1",
      "bottomMargin": "",
      "fontSize": "",
      "fontWeight": "",
      "text": "<?UMBRACO_MACRO macroAlias=\"renderUmbracoForm\" FormGuid=\"47c9b5a0-3784-49c0-b78e-c61c767260e3\" FormTheme=\"custom\" ExcludeScripts=\"0\" />\n<p> </p>\n<div class=\"pika-single is-hidden is-bound\" style=\"position: static; left: auto; top: auto;\"></div>",
      "visibleToMemberGroups": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>