<?xml version="1.0" encoding="utf-8"?>
<Content Key="11be9f73-3707-47a3-a8f1-8776dd7f5252" Alias="Real Estate Webinars and Forums" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/RealEstateWebinarsAndForums</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:14</CreateDate>
    <NodeName Default="Real Estate Webinars and Forums" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Online webinars and discussion forums for real estate professionals.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[198ab1c2-80c9-4843-a638-c90f1d1048c9]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>