<?xml version="1.0" encoding="utf-8"?>
<Content Key="922b2356-3eb5-4a7a-a76f-8a56726a4da4" Alias="REALTOR® Merchandise" Level="4">
  <Info>
    <Parent Key="4fcb1913-0bd6-4580-86b5-5aeb2e7d56a7">Real Estate Specialty Items</Parent>
    <Path>/Home/Categories/RealEstateSpecialtyItems/REALTORMerchandise</Path>
    <Trashed>false</Trashed>
    <ContentType>subCategoryPage</ContentType>
    <CreateDate>2024-01-22T20:29:17</CreateDate>
    <NodeName Default="REALTOR® Merchandise" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98556b43-6765-4b46-98fd-c098502d4443">SubCategoryPage</Template>
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>