<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fcb1913-0bd6-4580-86b5-5aeb2e7d56a7" Alias="Real Estate Specialty Items" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/RealEstateSpecialtyItems</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:14</CreateDate>
    <NodeName Default="Real Estate Specialty Items" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Unique and specialized real estate-related items and merchandise.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[1f209ea3-9731-4da4-9d37-8c2f3fa7982b]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>