<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c1d6053-8265-4e07-8ffd-0b23b283ddb9" Alias="Real Estate Forms" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/RealEstateForms</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:14</CreateDate>
    <NodeName Default="Real Estate Forms" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Official forms and documents used in real estate transactions.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[3f466412-e555-462a-9b56-3688f935c6e5]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>