<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4ea52d2-49cc-49a6-a6bd-3eeba2205185" Alias="Real Estate Trust Account Journal" Level="4">
  <Info>
    <Parent Key="516f905e-7660-4222-9bc2-0161f5b32466">Products</Parent>
    <Path>/Home/Products/Products/RealEstateTrustAccountJournal</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2024-01-23T10:38:51</CreateDate>
    <NodeName Default="Real Estate Trust Account Journal" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="472d765a-0e4c-434b-8ca8-4fa1d95a227b">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/4fcb19130bd6458086b55aeb2e7d56a7]]></Value>
    </categories>
    <endDate>
      <Value><![CDATA[9999-12-31T00:00:00]]></Value>
    </endDate>
    <hideFromSearchEngines>
      <Value><![CDATA[]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <longDescription>
      <Value><![CDATA[]]></Value>
    </longDescription>
    <memberPrice>
      <Value><![CDATA[]]></Value>
    </memberPrice>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <price>
      <Value><![CDATA[{
  "3698ee49-fe94-4756-8896-018c92cebaf5": "10.00"
}]]></Value>
    </price>
    <productId>
      <Value><![CDATA[42db3417-f37e-406b-55bf-08dbfa99b13d]]></Value>
    </productId>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <sku>
      <Value><![CDATA[OS137]]></Value>
    </sku>
    <startDate>
      <Value><![CDATA[1753-01-01T00:00:00]]></Value>
    </startDate>
    <subCategories>
      <Value><![CDATA[umb://document/922b23563eb54a7aa76f8a56726a4da4]]></Value>
    </subCategories>
    <taxonomy>
      <Value><![CDATA[Accounting]]></Value>
    </taxonomy>
  </Properties>
</Content>