<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cc98f9e-f34d-4ad2-8a5e-0d94ad3ece27" Alias="REALTOR® &amp; Government Day" Level="4">
  <Info>
    <Parent Key="f84b3e15-6802-4a90-bb4c-dc083d9f3b38">Events</Parent>
    <Path>/Home/Products/Events/REALTORGovernmentDay</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2024-01-23T10:31:10</CreateDate>
    <NodeName Default="REALTOR® &amp; Government Day" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="472d765a-0e4c-434b-8ca8-4fa1d95a227b">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/3047c809823f403cac98ae0598a70f78]]></Value>
    </categories>
    <endDate>
      <Value><![CDATA[2024-02-07T17:30:00]]></Value>
    </endDate>
    <hideFromSearchEngines>
      <Value><![CDATA[]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <longDescription>
      <Value><![CDATA[]]></Value>
    </longDescription>
    <memberPrice>
      <Value><![CDATA[]]></Value>
    </memberPrice>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <price>
      <Value><![CDATA[{
  "3698ee49-fe94-4756-8896-018c92cebaf5": "0.00"
}]]></Value>
    </price>
    <productId>
      <Value><![CDATA[c031f3b1-df8a-4681-559e-08dbfa99b13d]]></Value>
    </productId>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <sku>
      <Value><![CDATA[RGD2024-RGD]]></Value>
    </sku>
    <startDate>
      <Value><![CDATA[2024-02-07T13:00:00]]></Value>
    </startDate>
    <subCategories>
      <Value><![CDATA[]]></Value>
    </subCategories>
    <taxonomy>
      <Value><![CDATA[Live Event]]></Value>
    </taxonomy>
  </Properties>
</Content>