<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac05bc4c-7c06-4707-ab55-3b95eee29c76" Alias="Reference Manuals" Level="4">
  <Info>
    <Parent Key="8315b8d7-84a4-4feb-9803-ea14a8cac92b">Publications</Parent>
    <Path>/Home/Categories/Publications/ReferenceManuals</Path>
    <Trashed>false</Trashed>
    <ContentType>subCategoryPage</ContentType>
    <CreateDate>2024-01-22T20:29:32</CreateDate>
    <NodeName Default="Reference Manuals" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98556b43-6765-4b46-98fd-c098502d4443">SubCategoryPage</Template>
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>