<?xml version="1.0" encoding="utf-8"?>
<Content Key="70b0ef2c-ecb4-4c27-bed2-a39d3deae374" Alias="Resource Library" Level="3">
  <Info>
    <Parent Key="97a446ec-d79b-4fd6-9cc9-5ff80c89364b">Tools &amp; Resources</Parent>
    <Path>/Home/ToolsResources/ResourceLibrary</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-11-22T19:31:02</CreateDate>
    <NodeName Default="Resource Library" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/aa6d6cf4a38547658808610824f63400",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/68abc9025c594704bd3d5f68186a065b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0a5b508c03d44682999bee560907fa56",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2c58f9fe51084efc8fc0e8c94e73ac7e",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/19b4c016568a4fa995b28ce6b9da4002",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/94b54990af754cdcae7b7c346d39b58c",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/652704dd759f45f3881639d197173d2d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/6e49edb86d05434093f42edf0d52c737",
        "areas": [
          {
            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
            "items": [
              {
                "contentUdi": "umb://element/b7cf9e070ebc4672832e3c800740eef4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
            "items": [
              {
                "contentUdi": "umb://element/12a5b8ecc3d1495893f9645ddbdee0c4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
            "items": [
              {
                "contentUdi": "umb://element/de8f89be0f83430084e4283fbd52a162",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
            "items": [
              {
                "contentUdi": "umb://element/ba32575a365b497397be600e20ddf994",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/04adf710786c4f66a60a4138a51d324c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c258c03a7195426aaa8aa8bf82bbd6ae",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "441d9356-4a38-4ed5-856e-4f4006859e94",
      "udi": "umb://element/aa6d6cf4a38547658808610824f63400",
      "hideAccent": "0",
      "heading": "",
      "subheading": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis."
    },
    {
      "contentTypeKey": "197639a2-5746-4602-aa7b-95d4852ac298",
      "udi": "umb://element/68abc9025c594704bd3d5f68186a065b"
    },
    {
      "contentTypeKey": "d94fb28b-3293-4c62-83e3-bcf06e3d7f63",
      "udi": "umb://element/c258c03a7195426aaa8aa8bf82bbd6ae",
      "link": [
        {
          "name": "Multimedia Center",
          "udi": "umb://document/15d2d458ec7f4ee3aa5b38d0927c11d6"
        }
      ],
      "card1Image": [
        {
          "key": "ea60c933-5cb6-4d48-81d4-cbd632228262",
          "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
        }
      ],
      "card1Link": [
        {
          "name": "test link",
          "url": "/"
        }
      ],
      "card2Image": [
        {
          "key": "84584b4c-40ff-4790-a84b-50e08a2479bf",
          "mediaKey": "13770c8d-1d3e-4751-a3ae-956ccacc7138"
        }
      ],
      "card2Link": [
        {
          "name": "test nav item",
          "url": "/"
        }
      ],
      "heading": "Multimedia Center",
      "card1Heading": "Wisconsin Realtors Association",
      "card1Content": "Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh tincidunt. ",
      "card2Heading": "Lorem ipsum ",
      "card2Content": "Lorem ipsum dolor sit amet consectetur. Ac sodales dui massa diam vitae. "
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/2c58f9fe51084efc8fc0e8c94e73ac7e",
      "innerWidth": "",
      "width": [
        "744px"
      ],
      "xPadding": [
        "0rem"
      ],
      "yPadding": [
        "0rem"
      ],
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/19b4c016568a4fa995b28ce6b9da4002",
      "headlineText": "lorem ipsum dolor sit",
      "headingLevel": [
        "H2"
      ],
      "fontSize": [
        "32px"
      ],
      "textAlignment": [
        "Center"
      ],
      "textColor": {
        "value": "050f1e",
        "label": "050f1e",
        "sortOrder": 0,
        "id": "1"
      },
      "bottomMargin": [
        "1rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/94b54990af754cdcae7b7c346d39b58c",
      "bottomMargin": "",
      "fontSize": [
        "18px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p style=\"text-align: center;\">Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh. Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh.</p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/6e49edb86d05434093f42edf0d52c737"
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/b7cf9e070ebc4672832e3c800740eef4",
      "pageUrl": [
        {
          "name": "Learn More",
          "url": "/"
        }
      ],
      "headline": "Fair Housing",
      "subheadline": "Brief line letting users know what kind of Fair Housing info they’ll find."
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/12a5b8ecc3d1495893f9645ddbdee0c4",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "headline": "Environmental & Land Use",
      "subheadline": "Brief line letting users know what kind of Environmental & Land Use info they’ll find."
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/de8f89be0f83430084e4283fbd52a162",
      "pageUrl": [
        {
          "name": "View More",
          "url": "/"
        }
      ],
      "headline": "Transactional",
      "subheadline": "Brief line letting users know what kind of Transactional info they’ll find."
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/ba32575a365b497397be600e20ddf994",
      "pageUrl": [
        {
          "name": "Learn More",
          "url": "/"
        }
      ],
      "headline": "Business Practices",
      "subheadline": "Brief line letting users know what kind of Business Practice info they’ll find."
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/652704dd759f45f3881639d197173d2d",
      "heightSmall": [
        "1.5rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/04adf710786c4f66a60a4138a51d324c",
      "heightSmall": "",
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/0a5b508c03d44682999bee560907fa56",
      "heightSmall": [
        "1.5rem"
      ],
      "heightMedium": "",
      "heightLarge": "",
      "heightExtraLarge": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>