<?xml version="1.0" encoding="utf-8"?>
<Content Key="60be55d7-7b31-4988-9530-df5e080a4b91" Alias="Reusable Widgets" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ReusableWidgets</Path>
    <Trashed>false</Trashed>
    <ContentType>reusableWidgets</ContentType>
    <CreateDate>2023-10-27T21:10:27</CreateDate>
    <NodeName Default="Reusable Widgets" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>