<?xml version="1.0" encoding="utf-8"?>
<Content Key="566d94ec-24a6-4515-a4d7-f736fc640f63" Alias="Review Order" Level="3">
  <Info>
    <Parent Key="fbf8b3f9-ef95-4f4e-ad4d-9f0d7405fd51">Checkout</Parent>
    <Path>/Home/Checkout/ReviewOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutReviewPage</ContentType>
    <CreateDate>2024-01-15T10:37:45</CreateDate>
    <NodeName Default="Review Order" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6dbbbc08-fb74-4364-9b74-8940a6952834">CheckoutReviewPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <shortStepName>
      <Value><![CDATA[Review]]></Value>
    </shortStepName>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>