<?xml version="1.0" encoding="utf-8"?>
<Content Key="7aa10305-0160-4def-a4b0-03df96c2d55c" Alias="Sample Product Page" Level="4">
  <Info>
    <Parent Key="1ec5f9da-bad9-400e-9da8-7b0d778601e7">Courses</Parent>
    <Path>/Home/Products/Courses/SampleProductPage</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2024-01-08T18:36:16</CreateDate>
    <NodeName Default="Sample Product Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="472d765a-0e4c-434b-8ca8-4fa1d95a227b">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <endDate>
      <Value><![CDATA[]]></Value>
    </endDate>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <images>
      <Value><![CDATA[[]]]></Value>
    </images>
    <location>
      <Value><![CDATA[]]></Value>
    </location>
    <longDescription>
      <Value><![CDATA[]]></Value>
    </longDescription>
    <memberPrice>
      <Value><![CDATA[]]></Value>
    </memberPrice>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <price>
      <Value><![CDATA[{
  "0b9b3b3b-af7f-47b1-aacd-018ba1543f04": 99,
  "3698ee49-fe94-4756-8896-018c92cebaf5": 99
}]]></Value>
    </price>
    <productId>
      <Value><![CDATA[]]></Value>
    </productId>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <sku>
      <Value><![CDATA[5236345637346]]></Value>
    </sku>
    <startDate>
      <Value><![CDATA[]]></Value>
    </startDate>
    <subCategories>
      <Value><![CDATA[]]></Value>
    </subCategories>
    <taxonomy>
      <Value><![CDATA[]]></Value>
    </taxonomy>
  </Properties>
</Content>