<?xml version="1.0" encoding="utf-8"?>
<Content Key="577f92fe-28f5-45ad-96f7-ec2bbed59927" Alias="Self-Study &amp; Review" Level="4">
  <Info>
    <Parent Key="d6bc03d4-e7aa-40a9-9d3e-348f46a034d4">Broker Licensing</Parent>
    <Path>/Home/Categories/BrokerLicensing/SelfStudyReview</Path>
    <Trashed>false</Trashed>
    <ContentType>subCategoryPage</ContentType>
    <CreateDate>2024-01-22T20:31:38</CreateDate>
    <NodeName Default="Self-Study &amp; Review" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98556b43-6765-4b46-98fd-c098502d4443">SubCategoryPage</Template>
  </Info>
  <Properties>
    <displayName>
      <Value><![CDATA[]]></Value>
    </displayName>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <siteFooterWidget>
      <Value><![CDATA[]]></Value>
    </siteFooterWidget>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>