<?xml version="1.0" encoding="utf-8"?>
<Content Key="f78a06af-2bb9-411a-bdf3-2d8bbb4fc03e" Alias="Seller Information" Level="3">
  <Info>
    <Parent Key="73e4a4e8-2738-404d-9c1f-ed08c3a46ef6">Advertising</Parent>
    <Path>/HotTipCategories/Advertising/SellerInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipSubcategory</ContentType>
    <CreateDate>2023-11-28T22:55:05</CreateDate>
    <NodeName Default="Seller Information" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>