<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5e6ad30-4286-4e2a-99e9-7eef04ee5cc0" Alias="Site Footer Widgets" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteFooterWidgets</Path>
    <Trashed>false</Trashed>
    <ContentType>siteFooterWidgets</ContentType>
    <CreateDate>2023-10-24T19:47:13</CreateDate>
    <NodeName Default="Site Footer Widgets" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>