<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f7b5b8a-957a-4aac-af74-50b65b7120e3" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-10-23T13:27:53</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bodyCloseScripts>
      <Value><![CDATA[<script>
  window.onUsersnapLoad = function(api) {
    api.init();
  }
  var script = document.createElement('script');
  script.defer = 1;
  script.src = 'https://widget.usersnap.com/global/load/4fe7aa62-1eed-4c05-8e45-f46ccbee543d?onload=onUsersnapLoad';
  document.getElementsByTagName('head')[0].appendChild(script);
</script>]]></Value>
    </bodyCloseScripts>
    <bodyOpenScripts>
      <Value><![CDATA[]]></Value>
    </bodyOpenScripts>
    <enableMessage>
      <Value><![CDATA[0]]></Value>
    </enableMessage>
    <expirationDays>
      <Value><![CDATA[]]></Value>
    </expirationDays>
    <facebook>
      <Value><![CDATA[https://www.facebook.com/wisconsinrealtors]]></Value>
    </facebook>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "afbdfb51-dcb1-4667-99be-7f07445c93b2",
    "mediaKey": "61f28a3d-f1b9-4e96-88f7-bec38e132254"
  }
]]]></Value>
    </footerLogo>
    <footerLogoMobileWidth>
      <Value><![CDATA[137]]></Value>
    </footerLogoMobileWidth>
    <footerLogoWidth>
      <Value><![CDATA[168]]></Value>
    </footerLogoWidth>
    <footerNavigation>
      <Value><![CDATA[[
  {
    "name": "Become A Member",
    "url": "#"
  },
  {
    "name": "Careers",
    "url": "#"
  },
  {
    "name": "Advertise",
    "url": "#"
  },
  {
    "name": "Contact Us",
    "url": "#"
  }
]]]></Value>
    </footerNavigation>
    <footerUtilityNavigation>
      <Value><![CDATA[[
  {
    "name": "Terms & Conditions",
    "url": "",
    "queryString": "#"
  },
  {
    "name": "Privacy Policy",
    "url": "#"
  },
  {
    "name": "Accessibility Statement",
    "url": "#"
  }
]]]></Value>
    </footerUtilityNavigation>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "049a23b0-b76b-4077-b4a5-dab325a537e9",
    "mediaKey": "a734f2fd-0fe9-4736-9302-c8547152d0d6"
  }
]]]></Value>
    </headerLogo>
    <headScripts>
      <Value><![CDATA[]]></Value>
    </headScripts>
    <hqAddress>
      <Value><![CDATA[4801 Forest Run Road]]></Value>
    </hqAddress>
    <hqCity>
      <Value><![CDATA[Madison]]></Value>
    </hqCity>
    <hqEmail>
      <Value><![CDATA[wra@wra.org]]></Value>
    </hqEmail>
    <hqHours>
      <Value><![CDATA[M-F 8:30am- 5pm]]></Value>
    </hqHours>
    <hqPhone>
      <Value><![CDATA[608-241-2047]]></Value>
    </hqPhone>
    <hqPhone2>
      <Value><![CDATA[800-279-1972]]></Value>
    </hqPhone2>
    <hqState>
      <Value><![CDATA[WI]]></Value>
    </hqState>
    <hqSuite>
      <Value><![CDATA[Ste. 201]]></Value>
    </hqSuite>
    <hqZip>
      <Value><![CDATA[53704-7337]]></Value>
    </hqZip>
    <instagram>
      <Value><![CDATA[https://www.instagram.com/wirealtors]]></Value>
    </instagram>
    <lhHours>
      <Value><![CDATA[M-F 8:30am- 4pm]]></Value>
    </lhHours>
    <lhNotes>
      <Value><![CDATA[Members only]]></Value>
    </lhNotes>
    <lhPhone>
      <Value><![CDATA[608-242-2296]]></Value>
    </lhPhone>
    <lhPhone2>
      <Value><![CDATA[800-799-4468]]></Value>
    </lhPhone2>
    <linkedin>
      <Value><![CDATA[]]></Value>
    </linkedin>
    <logoWidth>
      <Value><![CDATA[152]]></Value>
    </logoWidth>
    <message>
      <Value><![CDATA[]]></Value>
    </message>
    <mobileLogoWidth>
      <Value><![CDATA[118]]></Value>
    </mobileLogoWidth>
    <navMenu1Column1>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/8fea49eb6b294d65a423f2f98d1bb83e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/128e4b0de18449aba6b0ed9ccf5ef089",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "13d9dae7-c73c-46db-aa6d-a3c7cc0c0b86",
      "udi": "umb://element/8fea49eb6b294d65a423f2f98d1bb83e",
      "primaryNavLink": [
        {
          "name": "course search",
          "url": "/"
        }
      ],
      "secondaryNavLinks": null
    },
    {
      "contentTypeKey": "13d9dae7-c73c-46db-aa6d-a3c7cc0c0b86",
      "udi": "umb://element/128e4b0de18449aba6b0ed9ccf5ef089",
      "primaryNavLink": [
        {
          "name": "Real Estate Education",
          "url": "/"
        }
      ],
      "summaryTextOptional": "Lorem ipsum dolor sit amet consectetur. Ac sodales dui massa diam vitae. ",
      "secondaryNavLinks": [
        {
          "name": "Real Estate Licensing",
          "url": "/"
        },
        {
          "name": "Broker Licensing",
          "url": "/"
        },
        {
          "name": "Continuing Education",
          "url": "/"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </navMenu1Column1>
    <navMenu1Column2>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9e4c89c194b54b28b52b4dceceeb2ff5",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a47deea7b3f64283a3c861b905bf277b",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8a744a35b746477db048c2f2737d5562",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "13d9dae7-c73c-46db-aa6d-a3c7cc0c0b86",
      "udi": "umb://element/9e4c89c194b54b28b52b4dceceeb2ff5",
      "primaryNavLink": [
        {
          "name": "Professional Development",
          "url": "/"
        }
      ],
      "summaryTextOptional": "Lorem ipsum dolor sit amet consectetur. Ac sodales dui massa diam vitae. Senectus ullamcorper .",
      "secondaryNavLinks": null
    },
    {
      "contentTypeKey": "13d9dae7-c73c-46db-aa6d-a3c7cc0c0b86",
      "udi": "umb://element/a47deea7b3f64283a3c861b905bf277b",
      "primaryNavLink": [
        {
          "name": "Specialty Education",
          "url": "/"
        }
      ],
      "summaryTextOptional": "Lorem ipsum dolor sit amet consectetur. Ac sodales dui massa diam vitae. Senectus ullamcorper amet.",
      "secondaryNavLinks": null
    },
    {
      "contentTypeKey": "13d9dae7-c73c-46db-aa6d-a3c7cc0c0b86",
      "udi": "umb://element/8a744a35b746477db048c2f2737d5562",
      "primaryNavLink": [
        {
          "name": "Educational Events",
          "url": "/"
        }
      ],
      "summaryTextOptional": "Lorem ipsum dolor sit amet consectetur. Ac sodales dui massa diam vitae.",
      "secondaryNavLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </navMenu1Column2>
    <navMenu1Image>
      <Value><![CDATA[[
  {
    "key": "0f73606e-ed50-4409-ad2a-1ddf5a3d82fa",
    "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
  }
]]]></Value>
    </navMenu1Image>
    <navMenu1IntroCopy>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh tincidunt. ]]></Value>
    </navMenu1IntroCopy>
    <navMenu1Link>
      <Value><![CDATA[[
  {
    "name": "All Education",
    "url": "/education"
  }
]]]></Value>
    </navMenu1Link>
    <navMenu1Name>
      <Value><![CDATA[Education]]></Value>
    </navMenu1Name>
    <navMenu2Column1>
      <Value><![CDATA[]]></Value>
    </navMenu2Column1>
    <navMenu2Column2>
      <Value><![CDATA[]]></Value>
    </navMenu2Column2>
    <navMenu2Image>
      <Value><![CDATA[[
  {
    "key": "52bac808-184b-45c6-baad-42d1605091be",
    "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
  }
]]]></Value>
    </navMenu2Image>
    <navMenu2IntroCopy>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh tincidunt. ]]></Value>
    </navMenu2IntroCopy>
    <navMenu2Link>
      <Value><![CDATA[[
  {
    "name": "All Law & Ethics",
    "udi": "umb://document/07dafb7745f048ab9b76cc4740a6ebfd"
  }
]]]></Value>
    </navMenu2Link>
    <navMenu2Name>
      <Value><![CDATA[Law & Ethics]]></Value>
    </navMenu2Name>
    <navMenu3Column1>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f433e5748cb44f41812ae7387bdfae70",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "13d9dae7-c73c-46db-aa6d-a3c7cc0c0b86",
      "udi": "umb://element/f433e5748cb44f41812ae7387bdfae70",
      "primaryNavLink": [
        {
          "name": "Resource Library",
          "udi": "umb://document/70b0ef2cecb44c27bed2a39d3deae374"
        }
      ],
      "summaryTextOptional": "Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh tincidunt. ",
      "secondaryNavLinks": [
        {
          "name": "Multimedia Center",
          "udi": "umb://document/15d2d458ec7f4ee3aa5b38d0927c11d6"
        },
        {
          "name": "Magazine",
          "udi": "umb://document/5d65b4428bbd47129e0e21df19cc4ce9"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </navMenu3Column1>
    <navMenu3Column2>
      <Value><![CDATA[]]></Value>
    </navMenu3Column2>
    <navMenu3Image>
      <Value><![CDATA[[
  {
    "key": "f5e21461-7aac-41f7-9e9a-284a809b5fc6",
    "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
  }
]]]></Value>
    </navMenu3Image>
    <navMenu3IntroCopy>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh tincidunt. ]]></Value>
    </navMenu3IntroCopy>
    <navMenu3Link>
      <Value><![CDATA[[
  {
    "name": "All Tools & Resources",
    "udi": "umb://document/97a446ecd79b4fd69cc95ff80c89364b"
  }
]]]></Value>
    </navMenu3Link>
    <navMenu3Name>
      <Value><![CDATA[Tools & Resources]]></Value>
    </navMenu3Name>
    <navMenu4Column1>
      <Value><![CDATA[]]></Value>
    </navMenu4Column1>
    <navMenu4Column2>
      <Value><![CDATA[]]></Value>
    </navMenu4Column2>
    <navMenu4Image>
      <Value><![CDATA[[
  {
    "key": "46472640-6892-484e-85e7-81babfdf53f7",
    "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
  }
]]]></Value>
    </navMenu4Image>
    <navMenu4IntroCopy>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh tincidunt. ]]></Value>
    </navMenu4IntroCopy>
    <navMenu4Link>
      <Value><![CDATA[[
  {
    "name": "All Advocacy",
    "udi": "umb://document/38f87058ff3f423092d26adb8744de0b"
  }
]]]></Value>
    </navMenu4Link>
    <navMenu4Name>
      <Value><![CDATA[Advocacy]]></Value>
    </navMenu4Name>
    <navMenu5Column1>
      <Value><![CDATA[]]></Value>
    </navMenu5Column1>
    <navMenu5Column2>
      <Value><![CDATA[]]></Value>
    </navMenu5Column2>
    <navMenu5Image>
      <Value><![CDATA[[
  {
    "key": "3b363219-07cf-40db-9204-3d3efeeed477",
    "mediaKey": "76a3b6d7-e20a-4f71-bf5b-cf737bd7901a"
  }
]]]></Value>
    </navMenu5Image>
    <navMenu5IntroCopy>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh tincidunt. ]]></Value>
    </navMenu5IntroCopy>
    <navMenu5Link>
      <Value><![CDATA[[
  {
    "name": "All News & Updates",
    "udi": "umb://document/591bd037a0d345c18fa4207a264e7485"
  }
]]]></Value>
    </navMenu5Link>
    <navMenu5Name>
      <Value><![CDATA[News & Updates]]></Value>
    </navMenu5Name>
    <paAddress>
      <Value><![CDATA[10 East Doty St.]]></Value>
    </paAddress>
    <paCity>
      <Value><![CDATA[Madison]]></Value>
    </paCity>
    <paEmail>
      <Value><![CDATA[]]></Value>
    </paEmail>
    <paHours>
      <Value><![CDATA[]]></Value>
    </paHours>
    <paPhone>
      <Value><![CDATA[]]></Value>
    </paPhone>
    <paPhone2>
      <Value><![CDATA[]]></Value>
    </paPhone2>
    <paState>
      <Value><![CDATA[WI]]></Value>
    </paState>
    <paSuite>
      <Value><![CDATA[Ste. 521]]></Value>
    </paSuite>
    <paZip>
      <Value><![CDATA[53703]]></Value>
    </paZip>
    <siteName>
      <Value><![CDATA[Wisconsin REALTORS® Association]]></Value>
    </siteName>
    <timestamp>
      <Value><![CDATA[]]></Value>
    </timestamp>
    <twitter>
      <Value><![CDATA[https://www.twitter.com/wirealtors]]></Value>
    </twitter>
    <utilityNavMenu>
      <Value><![CDATA[[
  {
    "name": "test nav item",
    "url": "/"
  }
]]]></Value>
    </utilityNavMenu>
    <youtube>
      <Value><![CDATA[https://www.youtube.com/wisconsinrealtor]]></Value>
    </youtube>
  </Properties>
</Content>