<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2ac99f3-2fd4-4a0d-8477-e9bdc5d06c7b" Alias="Special Education" Level="3">
  <Info>
    <Parent Key="cac993c4-2fe0-42f1-a75b-3a14f4597f3f">Categories</Parent>
    <Path>/Home/Categories/SpecialEducation</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2024-01-17T14:37:14</CreateDate>
    <NodeName Default="Special Education" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Specialized training and courses catering to unique aspects of real estate.]]></Value>
    </description>
    <externalId>
      <Value><![CDATA[e1dc6f24-399e-466a-bd8c-baddf379dd44]]></Value>
    </externalId>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>