<?xml version="1.0" encoding="utf-8"?>
<Content Key="99018941-206f-4dbd-8c32-0703e4e029d8" Alias="Test Audio Item 2" Level="5">
  <Info>
    <Parent Key="15d2d458-ec7f-4ee3-aa5b-38d0927c11d6">Multimedia Center</Parent>
    <Path>/Home/ToolsResources/ResourceLibrary/MultimediaCenter/TestAudioItem2</Path>
    <Trashed>false</Trashed>
    <ContentType>multimediaItem</ContentType>
    <CreateDate>2023-12-21T23:06:49</CreateDate>
    <NodeName Default="Test Audio Item 2" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ed7d218-589e-404e-a2c1-8f8e1f320e0d">MultimediaItem</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/63ed0c5c829445da95092d81523307be]]></Value>
    </category>
    <date>
      <Value><![CDATA[2023-12-21T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.]]></Value>
    </description>
    <mediaType>
      <Value><![CDATA[Audio]]></Value>
    </mediaType>
    <thumbnailOverride>
      <Value><![CDATA[[]]]></Value>
    </thumbnailOverride>
    <title>
      <Value><![CDATA[Test Audio Item 2]]></Value>
    </title>
    <youTubeId>
      <Value><![CDATA[gI_J-RaN2fE]]></Value>
    </youTubeId>
  </Properties>
</Content>