<?xml version="1.0" encoding="utf-8"?>
<Content Key="78533529-d9f5-4877-83da-cd34dc213ba5" Alias="Testimonials" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testimonials</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonials</ContentType>
    <CreateDate>2023-11-08T20:16:43</CreateDate>
    <NodeName Default="Testimonials" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>