<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ae79f6b-28f9-4740-ad00-e17ac4abce46" Alias="Test Author" Level="2">
  <Info>
    <Parent Key="6671d059-8e5c-4dae-b606-f17e813a8f29">Authors</Parent>
    <Path>/Authors/TestAuthor</Path>
    <Trashed>false</Trashed>
    <ContentType>author</ContentType>
    <CreateDate>2023-11-02T15:02:54</CreateDate>
    <NodeName Default="Test Author" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Test Author]]></Value>
    </authorName>
    <authorTitle>
      <Value><![CDATA[WRA Senior Member]]></Value>
    </authorTitle>
  </Properties>
</Content>