<?xml version="1.0" encoding="utf-8"?>
<Content Key="63ed0c5c-8294-45da-9509-2d81523307be" Alias="Test Category 2" Level="2">
  <Info>
    <Parent Key="a820fe83-9a0d-454f-93e9-ac65c13a91f8">Multimedia Categories</Parent>
    <Path>/MultimediaCategories/TestCategory2</Path>
    <Trashed>false</Trashed>
    <ContentType>multimediaCategory</ContentType>
    <CreateDate>2023-11-27T17:08:50</CreateDate>
    <NodeName Default="Test Category 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>