<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ff7cd3f-9823-43de-a172-c0d15c7ec3e0" Alias="Test Playlist" Level="5">
  <Info>
    <Parent Key="15d2d458-ec7f-4ee3-aa5b-38d0927c11d6">Multimedia Center</Parent>
    <Path>/Home/ToolsResources/ResourceLibrary/MultimediaCenter/TestPlaylist</Path>
    <Trashed>false</Trashed>
    <ContentType>multimediaItem</ContentType>
    <CreateDate>2024-01-16T16:10:48</CreateDate>
    <NodeName Default="Test Playlist" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ed7d218-589e-404e-a2c1-8f8e1f320e0d">MultimediaItem</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <date>
      <Value><![CDATA[2023-11-07T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[this is a test playlist, any children added beneath this node will turn this page/card into a Playlist item.]]></Value>
    </description>
    <mediaType>
      <Value><![CDATA[Video]]></Value>
    </mediaType>
    <thumbnailOverride>
      <Value><![CDATA[[
  {
    "key": "3ecc9692-b610-46db-aa58-882b6d5d0aec",
    "mediaKey": "13770c8d-1d3e-4751-a3ae-956ccacc7138"
  }
]]]></Value>
    </thumbnailOverride>
    <title>
      <Value><![CDATA[Test Playlist]]></Value>
    </title>
    <youTubeId>
      <Value><![CDATA[]]></Value>
    </youTubeId>
  </Properties>
</Content>