<?xml version="1.0" encoding="utf-8"?>
<Content Key="75dd0826-1461-4b76-bf1d-b37afd99339f" Alias="Test Video Item" Level="5">
  <Info>
    <Parent Key="15d2d458-ec7f-4ee3-aa5b-38d0927c11d6">Multimedia Center</Parent>
    <Path>/Home/ToolsResources/ResourceLibrary/MultimediaCenter/TestVideoItem</Path>
    <Trashed>false</Trashed>
    <ContentType>multimediaItem</ContentType>
    <CreateDate>2023-11-27T17:06:41</CreateDate>
    <NodeName Default="Test Video Item" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ed7d218-589e-404e-a2c1-8f8e1f320e0d">MultimediaItem</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/0c36becadb7a48519b6dc2d04bee278a]]></Value>
    </category>
    <date>
      <Value><![CDATA[2023-11-30T00:00:00]]></Value>
    </date>
    <description>
      <Value><![CDATA[Lorem Ipsum DolorLorem Ipsum DolorLorem Ipsum DolorLorem Ipsum DolorLorem Ipsum Dolor]]></Value>
    </description>
    <mediaType>
      <Value><![CDATA[Video]]></Value>
    </mediaType>
    <thumbnailOverride>
      <Value><![CDATA[[]]]></Value>
    </thumbnailOverride>
    <title>
      <Value><![CDATA[Test Video Item]]></Value>
    </title>
    <youTubeId>
      <Value><![CDATA[NcdxHU4bVmg]]></Value>
    </youTubeId>
  </Properties>
</Content>