<?xml version="1.0" encoding="utf-8"?>
<Content Key="97a446ec-d79b-4fd6-9cc9-5ff80c89364b" Alias="Tools &amp; Resources" Level="2">
  <Info>
    <Parent Key="c50e10be-1e8a-4ab3-a6b8-119e1626ba0e">Home</Parent>
    <Path>/Home/ToolsResources</Path>
    <Trashed>false</Trashed>
    <ContentType>basicContent</ContentType>
    <CreateDate>2023-11-22T19:28:52</CreateDate>
    <NodeName Default="Tools &amp; Resources" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec480a40-1257-44e1-aa99-c0db63f17e55">BasicContent</Template>
  </Info>
  <Properties>
    <backgroundOffset>
      <Value><![CDATA[0]]></Value>
    </backgroundOffset>
    <hideFromSearchEngines>
      <Value><![CDATA[0]]></Value>
    </hideFromSearchEngines>
    <hideFromSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromSitemap>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <openGraphImage>
      <Value><![CDATA[[]]]></Value>
    </openGraphImage>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b5d5c25d27b341f3b72a58ba6cfbab7b",
        "areas": [
          {
            "key": "ab5d22a8-35f9-45a6-8906-595b4febc4b2",
            "items": []
          },
          {
            "key": "f34b7226-358c-4ff5-a458-1f082c51b3b9",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/3eff689afa554e26adac14a18d988282",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4314f856fdb4436abed078525c34f187",
        "areas": [
          {
            "key": "4a7162dc-fd49-40a2-858e-aa5e72e71c9d",
            "items": [
              {
                "contentUdi": "umb://element/a537c90458d048f490d2d7937a3a2df0",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/0859d9273e7d4e4facc128f99ba5c3d1",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/240aea70b19948c7a7ba5326a7cb2671",
        "areas": [
          {
            "key": "8cccccd7-1a93-40ec-833b-cec08b808e32",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/1a368b4ecd624f4ea7fbdd4b475b4401"
              }
            ]
          },
          {
            "key": "08786a14-40e1-4c76-bf9a-b108a28f4d3b",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/545e2d7cfc36445c955f75f321bda45c"
              }
            ]
          },
          {
            "key": "3a9b5b17-4a89-4f7e-b0db-815249240baa",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/67920aff70104d91994ff899a9279377"
              }
            ]
          },
          {
            "key": "566d76a6-2678-4b2b-a2f9-cc86f291e2ab",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/a1ca5b91f3de454e810c8f03176cba32"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c7c4dc69e3134c189094b879e1cbfb4e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "cffca6df-c3f5-4d9c-ab91-6591c86747c7",
      "udi": "umb://element/b5d5c25d27b341f3b72a58ba6cfbab7b",
      "headline": "Tools & Resources",
      "subhead": "Letting users know the many ways WRA advocates for their best interests, and the best interests of the industry.",
      "overlay": "1",
      "showEventCalendar": "0",
      "imageMobile": [
        {
          "key": "f8b43da8-9561-4ebb-a4a8-31262db0bb84",
          "mediaKey": "6b1075e3-8efa-4a8c-bec9-8809fc1afb84"
        }
      ],
      "imageDesktop": [
        {
          "key": "ab735e17-a7fe-497e-984e-5ef74b3d5470",
          "mediaKey": "6b1075e3-8efa-4a8c-bec9-8809fc1afb84"
        }
      ]
    },
    {
      "contentTypeKey": "5c919249-f62a-4697-be2f-54451c2e787b",
      "udi": "umb://element/c7c4dc69e3134c189094b879e1cbfb4e",
      "ctaLink": [
        {
          "name": "Explore the Library",
          "url": "#"
        }
      ],
      "quickLinks": [
        {
          "name": "Fair Housing",
          "url": "#"
        },
        {
          "name": "Policy Issues",
          "url": "#"
        },
        {
          "name": "Transactional",
          "url": "#"
        },
        {
          "name": "Business Practices",
          "url": "#"
        }
      ],
      "heading": "Resource Library",
      "subheading": "Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane. Lorem ipsum dolor sit amet ver tussi condasquelane."
    },
    {
      "contentTypeKey": "db57a8e1-18c2-47a5-9854-0997ec40654f",
      "udi": "umb://element/240aea70b19948c7a7ba5326a7cb2671"
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/1a368b4ecd624f4ea7fbdd4b475b4401",
      "pageUrl": [
        {
          "name": "test link",
          "url": "/"
        }
      ],
      "headline": "Forms",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem."
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/545e2d7cfc36445c955f75f321bda45c",
      "pageUrl": [
        {
          "name": "test link",
          "url": "/"
        }
      ],
      "headline": "Market Data",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem."
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/67920aff70104d91994ff899a9279377",
      "pageUrl": [
        {
          "name": "test link",
          "url": "/"
        }
      ],
      "headline": "Magazine",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem."
    },
    {
      "contentTypeKey": "b65e28c8-ab27-48dd-88cc-c6dc27c40f4b",
      "udi": "umb://element/a1ca5b91f3de454e810c8f03176cba32",
      "pageUrl": [
        {
          "name": "test link",
          "url": "/"
        }
      ],
      "headline": "Multimedia Center",
      "subheadline": "Morbi ante risus, vehicula eu mi ut, aliquet hendrerit ex. Donec sed varius lorem."
    },
    {
      "contentTypeKey": "026bb456-a4e1-458f-aa5a-5a8a73bfdba1",
      "udi": "umb://element/4314f856fdb4436abed078525c34f187",
      "width": [
        "744px"
      ],
      "xPadding": "",
      "yPadding": "",
      "visibleToMemberGroups": "",
      "visibleToAll": "1"
    },
    {
      "contentTypeKey": "0354f600-29e9-458d-abc7-5f659e6325a2",
      "udi": "umb://element/a537c90458d048f490d2d7937a3a2df0",
      "headlineText": "Lorem Ipsum Dolor Sit",
      "headingLevel": [
        "H2"
      ],
      "fontSize": "",
      "textAlignment": [
        "Center"
      ],
      "bottomMargin": [
        "1rem"
      ]
    },
    {
      "contentTypeKey": "fa444fc1-2c1e-414a-9fef-276551c06714",
      "udi": "umb://element/0859d9273e7d4e4facc128f99ba5c3d1",
      "bottomMargin": [
        "2rem"
      ],
      "fontSize": [
        "18px"
      ],
      "fontWeight": "",
      "visibleToAll": "1",
      "text": "<p style=\"text-align: center;\">Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh. Lorem ipsum dolor sit amet consectetur. Ut sagittis sit nibh. </p>",
      "visibleToMemberGroups": ""
    },
    {
      "contentTypeKey": "c86d81f9-bb4a-4047-bc5b-ca65a1d534a9",
      "udi": "umb://element/3eff689afa554e26adac14a18d988282",
      "heightSmall": [
        "4rem"
      ],
      "heightMedium": "",
      "heightLarge": [
        "6rem"
      ],
      "heightExtraLarge": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <siteFooterWidget>
      <Value><![CDATA[umb://document/dab331dadb32422dbff49e406903e27b]]></Value>
    </siteFooterWidget>
  </Properties>
</Content>