<?xml version="1.0" encoding="utf-8"?>
<Content Key="36eb0fe2-b11f-4c6f-9c39-0d7cae398aee" Alias="Trust Accounts" Level="2">
  <Info>
    <Parent Key="043ba1f9-3e46-456c-b444-48151c4af8fd">Hot Tip Categories</Parent>
    <Path>/HotTipCategories/TrustAccounts</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipCategory</ContentType>
    <CreateDate>2023-11-28T22:55:54</CreateDate>
    <NodeName Default="Trust Accounts" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>