<?xml version="1.0" encoding="utf-8"?>
<Content Key="dab331da-db32-422d-bff4-9e406903e27b" Alias="Two Column Example" Level="2">
  <Info>
    <Parent Key="a5e6ad30-4286-4e2a-99e9-7eef04ee5cc0">Site Footer Widgets</Parent>
    <Path>/SiteFooterWidgets/TwoColumnExample</Path>
    <Trashed>false</Trashed>
    <ContentType>twoColumnSiteFooterWidget</ContentType>
    <CreateDate>2023-10-24T19:49:23</CreateDate>
    <NodeName Default="Two Column Example" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <col1ColorScheme>
      <Value><![CDATA[[
  "Dark Blue"
]]]></Value>
    </col1ColorScheme>
    <col1Content>
      <Value><![CDATA[<p>Briefly explaining what users will find on the WEBINARS &amp; FORUMS page</p>]]></Value>
    </col1Content>
    <col1Heading>
      <Value><![CDATA[Webinars & Forums]]></Value>
    </col1Heading>
    <col1Link>
      <Value><![CDATA[[
  {
    "name": "Sign Up",
    "url": "#"
  }
]]]></Value>
    </col1Link>
    <col2ColorScheme>
      <Value><![CDATA[[
  "Light"
]]]></Value>
    </col2ColorScheme>
    <col2Content>
      <Value><![CDATA[<p>Short line summarizing contents of the Resource Library section and how they enrich your experience.</p>]]></Value>
    </col2Content>
    <col2Heading>
      <Value><![CDATA[Resource Library]]></Value>
    </col2Heading>
    <col2Link>
      <Value><![CDATA[[
  {
    "name": "Browse the Library",
    "url": "#"
  }
]]]></Value>
    </col2Link>
  </Properties>
</Content>