<?xml version="1.0" encoding="utf-8"?>
<Content Key="70061730-bec3-459f-9e93-e430943ebfa8" Alias="WRA News" Level="2">
  <Info>
    <Parent Key="0d430f6f-f9cd-4585-8766-3cf0ef447589">News Categories</Parent>
    <Path>/NewsCategories/WRANews</Path>
    <Trashed>false</Trashed>
    <ContentType>articleCategory</ContentType>
    <CreateDate>2023-11-20T19:54:14</CreateDate>
    <NodeName Default="WRA News" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featuredArticle>
      <Value><![CDATA[]]></Value>
    </featuredArticle>
  </Properties>
</Content>