<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c6cab2d-c91b-476e-87ac-675f306375e3" Alias="Zoning, Building Code, Bedrooms" Level="3">
  <Info>
    <Parent Key="52bc37dc-9638-45e2-aa0f-5957d50db32d">Fair Housing</Parent>
    <Path>/HotTipCategories/FairHousing/ZoningBuildingCodeBedrooms</Path>
    <Trashed>false</Trashed>
    <ContentType>hotTipSubcategory</ContentType>
    <CreateDate>2023-11-28T22:55:25</CreateDate>
    <NodeName Default="Zoning, Building Code, Bedrooms" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>