/* The Dashboard Overrides */

.theDashboard div.number div.dot {
    font-size:15px;
    animation:none;
    display:block;
}

.theDashboard-pending-wrapper div.umb-box-header {
    width: auto;
    max-width:100%;
}

/* Tag Manager Overrides */