{
  "x-generator": "NSwag v14.0.7.0 (NJsonSchema v11.0.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "WRA Umbraco API",
    "description": "WRA Umbraco Service API",
    "contact": {
      "name": "Eric Solari",
      "url": "https://www.wra.org",
      "email": "eric@wra.org"
    },
    "license": {
      "name": "MIT License",
      "url": "https://github.com/git/git-scm.com/blob/main/MIT-LICENSE.txt"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app2.wra.org/umbraco"
    }
  ],
  "paths": {
    "/api/v1/webhook/{eventType}": {
      "post": {
        "tags": [
          "WebHook"
        ],
        "operationId": "WebHook_ReceiveEvent",
        "parameters": [
          {
            "name": "eventType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "payload",
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ]
      }
    },
    "/api/v1/webhook/subscribe": {
      "post": {
        "tags": [
          "WebHook"
        ],
        "operationId": "WebHook_SubscribeToEvent",
        "requestBody": {
          "x-name": "subscriptionModel",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ]
      }
    },
    "/api/v1/permission/{userId}": {
      "get": {
        "tags": [
          "Permission"
        ],
        "summary": "Invalidate the permission cache for a user.",
        "operationId": "Permission_InvalidatePermissionCacheForUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/tokens": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Request an access token using credentials.",
        "operationId": "Tokens_GetToken",
        "parameters": [
          {
            "name": "tenant",
            "in": "header",
            "required": true,
            "description": "Input your tenant Id to access this API",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ]
      }
    },
    "/api/tokens/refresh": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Request an access token using a refresh token.",
        "operationId": "Tokens_Refresh",
        "parameters": [
          {
            "name": "tenant",
            "in": "header",
            "required": true,
            "description": "Input your tenant Id to access this API",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          }
        ]
      }
    },
    "/api/v1/agenteventregistration/registrations/event": {
      "post": {
        "tags": [
          "AgentEventRegistration"
        ],
        "summary": "Get a list of agent event registrations by meeting code.",
        "description": "Sample request:\n\n    POST /agenteventregistration/registrations/event\n    {\n        \"memberId\": \"96734B4C-F4D4-4D66-AC2C-AF5A643F7456\",\n        \"meetingCode\": \"CE2324\"\n    }",
        "operationId": "AgentEventRegistration_GetAgentEventRegistrationListByEvent",
        "requestBody": {
          "x-name": "request",
          "description": "The request object containing the memberId of the admin and a meeting code.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAgentEventRegistrationsByEventRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the list of agent event registration records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentEventRegistrationDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/agenteventregistration/registrations/agent": {
      "post": {
        "tags": [
          "AgentEventRegistration"
        ],
        "summary": "Get a list of event registrations for an individual.",
        "description": "Sample request:\n\n    POST /agenteventregistration/registrations/agent\n    {\n        \"memberId\": \"96734B4C-F4D4-4D66-AC2C-AF5A643F7456\",\n        \"agentMemberId\": \"96734B4C-F4D4-4D66-AC2C-AF5A643F7456\",\n        \"meetingTypes\": \"CONV DR DW RGD FAIR\",\n        \"months\": 15\n    }",
        "operationId": "AgentEventRegistration_GetAgentEventRegistrationsListByIndividual",
        "requestBody": {
          "x-name": "request",
          "description": "The request object containing the memberId of the admin and the memberId of the agent, optional meetingTypes, and months lookback.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAgentEventRegistrationsByIndividualRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the list of agent event registrations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentEventRegistrationDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/agenteventregistration/events": {
      "post": {
        "tags": [
          "AgentEventRegistration"
        ],
        "summary": "Get a list of events.",
        "description": "Sample request:\n\n    POST /agenteventregistration/events\n    {\n        \"meetingTypes\": \"CONV DR DW RGD FAIR\",\n        \"months\": 15\n    }",
        "operationId": "AgentEventRegistration_GetAgentEventRegistrationsEventList",
        "requestBody": {
          "x-name": "request",
          "description": "The request object containing optional meeting types and months.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAgentEventRegistrationsEventListRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the list of events filtered by number of months to look back and the meeting types.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentMeetingEventDetailDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/agenteventregistration/agents": {
      "post": {
        "tags": [
          "AgentEventRegistration"
        ],
        "summary": "Get a list of agents.",
        "description": "Sample request:\n\n    POST /agenteventregistration/agents\n    {\n        \"memberId\": \"96734B4C-F4D4-4D66-AC2C-AF5A643F7456\"\n    }",
        "operationId": "AgentEventRegistration_GetAgentEventRegistrationsIndividualList",
        "requestBody": {
          "x-name": "request",
          "description": "The request object containing the memberId of the administrator.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAgentEventRegistrationsIndividualListRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the list of events filtered by number of months to look back and the meeting types.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentEventRegistrationDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/calendar/officeclosures": {
      "get": {
        "tags": [
          "Calendar"
        ],
        "summary": "Get a list of office closures from the common calendar.",
        "description": "Retrieve office closure dates.",
        "operationId": "Calendar_GetOfficeClosureList",
        "responses": {
          "200": {
            "description": "A list of OfficeClosureDto.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OfficeClosureDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/certificateprogram/search": {
      "post": {
        "tags": [
          "CertificateProgram"
        ],
        "summary": "Search certificate programs using available filters.",
        "operationId": "CertificateProgram_SearchCertificatePrograms",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCertificateProgramsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponseOfCertificateProgramDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/certificateprogram": {
      "get": {
        "tags": [
          "CertificateProgram"
        ],
        "summary": "Get a list of all certificate programs.",
        "operationId": "CertificateProgram_GetCertificateProgramList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CertificateProgramDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "CertificateProgram"
        ],
        "summary": "Create a new certificate program.",
        "operationId": "CertificateProgram_CreateCertificateProgram",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCertificateProgramRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "CertificateProgram"
        ],
        "summary": "Update a certificate program.",
        "operationId": "CertificateProgram_UpdateCertificateProgram",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCertificateProgramRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/certificateprogram/{id}": {
      "get": {
        "tags": [
          "CertificateProgram"
        ],
        "summary": "Get a certificate program.",
        "operationId": "CertificateProgram_GetCertificateProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateProgramDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "CertificateProgram"
        ],
        "summary": "Delete a certificate program by Id.",
        "operationId": "CertificateProgram_DeleteCertificateProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/certificateprogram/export": {
      "post": {
        "tags": [
          "CertificateProgram"
        ],
        "summary": "Export certificate programs to csv.",
        "operationId": "CertificateProgram_ExportCertificatePrograms",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportCertificateProgramsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/committee/search": {
      "post": {
        "tags": [
          "Committee"
        ],
        "summary": "Search committees using available filters.",
        "operationId": "Committee_SearchCommittees",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCommitteesRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponseOfCommitteeDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/committee": {
      "get": {
        "tags": [
          "Committee"
        ],
        "summary": "Get a list of all committees.",
        "operationId": "Committee_GetCommitteeList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommitteeDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Committee"
        ],
        "summary": "Create a new committee.",
        "operationId": "Committee_CreateCommittee",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommitteeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/committee/{id}": {
      "get": {
        "tags": [
          "Committee"
        ],
        "summary": "Get a committee.",
        "operationId": "Committee_GetCommittee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitteeDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Committee"
        ],
        "summary": "Update a committee.",
        "operationId": "Committee_UpdateCommittee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommitteeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Committee"
        ],
        "summary": "Delete a committee.",
        "operationId": "Committee_DeleteCommittee",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/committee/member/{memberId}": {
      "get": {
        "tags": [
          "Committee"
        ],
        "summary": "Get a committee by member Id.",
        "operationId": "Committee_GetCommitteeByMemberId",
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommitteeDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/committee/export": {
      "post": {
        "tags": [
          "Committee"
        ],
        "summary": "Export committees.",
        "operationId": "Committee_ExportCommittees",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportCommitteesRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/search": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Search companies using available filters.",
        "description": "Retrieve a list of companies using filters.",
        "operationId": "Company_SearchCompanies",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCompaniesRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponseOfCompanyDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a list of all companies.",
        "operationId": "Company_GetCompanyList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Create a new company.",
        "operationId": "Company_CreateCompany",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompanyRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/{id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a company.",
        "operationId": "Company_GetCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Company"
        ],
        "summary": "Update a company.",
        "operationId": "Company_UpdateCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Company"
        ],
        "summary": "Delete a company.",
        "operationId": "Company_DeleteCompany",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/export": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Export companies.",
        "operationId": "Company_ExportCompanies",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportCompaniesRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/creates": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a list of company records staged for creation.",
        "operationId": "Company_GetStagedCompanyCreates",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/updates": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a list of company records staged for updates.",
        "operationId": "Company_GetStagedCompanyUpdates",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/deletes": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a list of company records staged for deletion.",
        "operationId": "Company_GetStagedCompanyDeletes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/changes": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a list of company changes (creates, updates and deletes).",
        "operationId": "Company_GetStagedCompanyChanges",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StagedEntityChangesOfCompanyDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/sync": {
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Trigger a sync of all staged companies.",
        "operationId": "Company_SyncStagedCompanies",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncCompanyStagedChangesRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/sync/{companyId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Trigger a sync of a single staged company by Company Id.",
        "operationId": "Company_SyncStagedCompanyByCompanyId",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/sync/{imisId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Trigger a sync of a single staged company by iMIS Id.",
        "operationId": "Company_SyncStagedCompanyByImisId",
        "parameters": [
          {
            "name": "imisId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/sync/reset": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Reset the most recent sync of staged companies.",
        "operationId": "Company_ResetSyncStagedCompanyChanges",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/sync/reset/{companyId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Reset the most recent sync of staged company by company Id.",
        "operationId": "Company_ResetSyncStagedCompanyChangesByCompanyId",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/company/staging/sync/reset/{imisId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Reset the most recent sync of a staged company by iMIS Id.",
        "operationId": "Company_ResetSyncStagedCompanyChangesByiMISId",
        "parameters": [
          {
            "name": "imisId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/companyeducationhistory/company": {
      "post": {
        "tags": [
          "CompanyEducationHistory"
        ],
        "summary": "Get a list of company member education history records.",
        "description": "Sample request:\n\n    POST /companyeducationhistory/company\n    {\n        \"memberId\": \"96734B4C-F4D4-4D66-AC2C-AF5A643F7456\",\n        \"programCode\": \"CE2324\"\n    }",
        "operationId": "CompanyEducationHistory_GetCompanyEducationHistoryList",
        "requestBody": {
          "x-name": "request",
          "description": "The request object containing the memberId of the company admin and an optional program code.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCompanyEducationHistoryListRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the list of company education history records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyEducationHistoryDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/companyeducationhistory/member": {
      "post": {
        "tags": [
          "CompanyEducationHistory"
        ],
        "summary": "Get a list of company education history records.",
        "description": "Sample request:\n\n    POST /companyeducationhistory/member\n    {\n        \"memberId\": \"96734B4C-F4D4-4D66-AC2C-AF5A643F7456\",\n        \"agentMemberId\": \"96734B4C-F4D4-4D66-AC2C-AF5A643F7456\",\n        \"programCode\": \"CE2324\"\n    }",
        "operationId": "CompanyEducationHistory_GetCompanyMemberEducationHistoryList",
        "requestBody": {
          "x-name": "request",
          "description": "The request object containing the memberId of the company admin, the agent memberId and optional program code.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCompanyMemberEducationHistoryListRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the list of company member education history records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyMemberEducationHistoryDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/companysubscription/search": {
      "post": {
        "tags": [
          "CompanySubscription"
        ],
        "summary": "Search company subscriptions using available filters.",
        "operationId": "CompanySubscription_SearchCompanySubscriptions",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCompanySubscriptionsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponseOfCompanySubscriptionDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/companysubscription": {
      "get": {
        "tags": [
          "CompanySubscription"
        ],
        "summary": "Get a list of all company subscriptions.",
        "operationId": "CompanySubscription_GetCompanySubscriptionList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanySubscriptionDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "CompanySubscription"
        ],
        "summary": "Create a new company subscription.",
        "operationId": "CompanySubscription_CreateCompanySubscription",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompanySubscriptionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/companysubscription/{id}": {
      "get": {
        "tags": [
          "CompanySubscription"
        ],
        "summary": "Get a company subscription.",
        "operationId": "CompanySubscription_GetCompanySubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySubscriptionDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "CompanySubscription"
        ],
        "summary": "Update a company subscription.",
        "operationId": "CompanySubscription_UpdateCompanySubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanySubscriptionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "CompanySubscription"
        ],
        "summary": "Delete a company subscription.",
        "operationId": "CompanySubscription_DeleteCompanySubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/companysubscription/export": {
      "post": {
        "tags": [
          "CompanySubscription"
        ],
        "summary": "Export company subscriptions.",
        "operationId": "CompanySubscription_ExportCompanySubscriptions",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportCompanySubscriptionsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/designation/search": {
      "post": {
        "tags": [
          "Designation"
        ],
        "summary": "Search Designations using available filters.",
        "description": "Retrieve a list of Designations using filters.",
        "operationId": "Designation_SearchDesignations",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDesignationsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponseOfDesignationDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/designation": {
      "get": {
        "tags": [
          "Designation"
        ],
        "summary": "Get a list of all Designations.",
        "operationId": "Designation_GetDesignationList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DesignationDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Designation"
        ],
        "summary": "Create a new Designation.",
        "operationId": "Designation_CreateDesignation",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDesignationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/designation/{id}": {
      "get": {
        "tags": [
          "Designation"
        ],
        "summary": "Get a Designation.",
        "operationId": "Designation_GetDesignation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DesignationDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Designation"
        ],
        "summary": "Update a Designation.",
        "operationId": "Designation_UpdateDesignation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDesignationRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Designation"
        ],
        "summary": "Delete a Designation.",
        "operationId": "Designation_DeleteDesignation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/designation/export": {
      "post": {
        "tags": [
          "Designation"
        ],
        "summary": "Export Designations.",
        "operationId": "Designation_ExportDesignations",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportDesignationsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/discount/search": {
      "post": {
        "tags": [
          "Discount"
        ],
        "summary": "Search discounts using available filters.",
        "operationId": "Discount_SearchDiscounts",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDiscountsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponseOfDiscountDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/discount": {
      "get": {
        "tags": [
          "Discount"
        ],
        "summary": "Get a list of all discounts.",
        "operationId": "Discount_GetDiscountList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DiscountDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Discount"
        ],
        "summary": "Create a new discount.",
        "operationId": "Discount_CreateDiscount",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDiscountRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/discount/{id}": {
      "get": {
        "tags": [
          "Discount"
        ],
        "summary": "Get a discount.",
        "operationId": "Discount_GetDiscount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscountDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Discount"
        ],
        "summary": "Update a discount.",
        "operationId": "Discount_UpdateDiscount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDiscountRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Discount"
        ],
        "summary": "Delete a discount.",
        "operationId": "Discount_DeleteDiscount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "guid"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/discount/export": {
      "post": {
        "tags": [
          "Discount"
        ],
        "summary": "Export discounts.",
        "operationId": "Discount_ExportDiscounts",
        "requestBody": {
          "x-name": "filter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportDiscountsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/fundraisingreports/fundraising/{memberId}": {
      "get": {
        "tags": [
          "FundraisingReports"
        ],
        "summary": "Get a list of fundraising reports available to the member.",
        "description": "Sample request:\n            \n    CF68806A-17EE-4B25-B737-196BF0C177E5",
        "operationId": "FundraisingReports_GetFundraisingReportList",
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "The ID of the member.",
            "schema": {
              "type": "string",
              "format": "guid"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of fundraising reports.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FundraisingReportDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/fundraisingreports/report": {
      "post": {
        "tags": [
          "FundraisingReports"
        ],
        "summary": "Get a specific fundraising report for a member by reportId and fileType.",
        "description": "Valid Mime Types: (pdf,csv,excelopenxml,txt)\n            \n    {\n        \"memberId\": \"CF68806A-17EE-4B25-B737-196BF0C177E5\",\n        \"reportId\": 9,\n        \"useMemberChapter\": true,\n        \"mimeType\": \"pdf\",\n        \"reportParameters\": {\n            \"BeginDate\": \"2024-01-01\",\n            \"EndDate\": \"2024-05-30\"\n        }\n    }",
        "operationId": "FundraisingReports_GetFundraisingReport",
        "requestBody": {
          "x-name": "request",
          "description": "The report request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundraisingReportRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Returns the fundraising report.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "If no report is found for the given parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "If there was an internal server error."
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/housingstatistics": {
      "get": {
        "tags": [
          "HousingStatistics"
        ],
        "summary": "Get the housing statistics report data.",
        "operationId": "HousingStatistics_GetHousingStatisticList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HousingStatisticDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/legalhotlinecall": {
      "post": {
        "tags": [
          "LegalHotlineCall"
        ],
        "summary": "Create a legal hotline call.",
        "operationId": "LegalHotlineCall_CreateLegalHotlineCall",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLegalHotlineCallRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "X-API-KEY": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/localboard/search": {
      "post": {
        "tags": [
          "LocalBoard"
        ],
        "summary": "Search local boards using available filters.",
        "operationId": "LocalBoard_SearchLocalBoards",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchLocalBoardsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponseOfLocalBoardDto"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpValidationProblemDetails"
                }
              }
            }
          },
[...]
