.accordions-wrapper--border {
    border: 1px solid $gray-30;
    border-radius: 0.5rem;

    &--light {
        border-color: $gray-20;
    }

    .accordion {
        //

        &__toggle,
        &__content {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        &:last-of-type {
            border-bottom: 0;
        }
    }
}

.accordions-wrapper--dark-mode {
    border-color: white;

    .accordion {
        border-color: white;

        &__toggle,
        &__toggle-icon,
        &__content {
            color: white;
        }
    }
}

.accordion {
    border-bottom: 1px solid $gray-30;

    &--light {
        border-bottom: 0px;
        position: relative;

        &::after {
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            margin: 0 auto;
            content: "";
            width: calc(100% - 2.5rem);
            display: block;
            height: 1px;
            border-bottom: 1px solid $gray-20;
        }
    }

    &__toggle {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 1rem 0;
        font-weight: 600;
        color: $gray-40;

        &::marker {
            content: none;
        }

        &::-webkit-details-marker {
            display: none;
        }

        &-icon {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            color: $primary;
        }
    }

    &__content {
        padding-bottom: 1rem;
        color: $gray-30;
    }

    &[open] {
        .accordion__toggle-icon .fas:first-child {
            display: none;
        }
    }

    &:not([open]) {
        .accordion__toggle-icon .fas:last-child {
            display: none;
        }
    }
}