.dialog-container,
.dialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.dialog-container {
    z-index: 999;
    display: flex;

    &[aria-hidden='true'] {
        display: none;
    }
}

.dialog-overlay {
    background-color: rgba(black, 0.25);
}

.dialog-content-wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 75vh;               // temp?
    max-width: 824px;           // temp?
    margin: auto;
    border-radius: 0.25rem;
    background-color: white;
}

.dialog-content-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $gray-20;

    button {
        position: relative;
        left: 0.25rem;
        width: 2rem;
        padding: 0;
        border: 0;
        background-color: transparent;
        line-height: 1;
        font-size: 1.5rem;
        font-weight: 700;
        color: $gray-30;
    }
}

.dialog-content {
    overflow: auto;
    flex-grow: 1;
    padding: 1rem;
}

.dialog-content-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-top: 1px solid $gray-20;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        //
    }

    &__right {
        //
    }
}