@use 'sass:math';

.form-control {
    //border: 1px solid $gray-30; let's inherit from BS
    min-height: math.div(44,16) * 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: $white;
    color: $body-color;
    font-family: inherit;

    &:not(.site-header__search-input) {
        background-color: $gray-10;
    }
}

textarea.form-control {
    padding: 1rem;
}

select.form-control {
    appearance: none;
    background: #fff url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23545454' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat calc(100% - 0.75rem) center;
    padding-right: 2.5rem;
}

/////

.umbraco-forms-page {
    // generic form styles

    .form-control {
        background-color: white;
    }

    .field-validation-error {
        display: inline-block;
        margin-top: 0.5rem;
        color: red;
    }

    .umbraco-forms-tooltip {
        display: block;
        color: $gray-30;
    }

    .checkbox {
        position: relative;

        label {
            position: absolute;
            left: 1.5em;
            font-size: 1rem;
        }
    }

    .umbraco-forms-field {
        padding-bottom: 1rem;
    }

    .umbraco-forms-hidden {
        display: none;
    }
}

.hot-tip-question {
    // specific form styles

    .responsepreference ~ .umbraco-forms-field:not(.additionalcontent) {
        padding-left: 1.5rem;
        border-left: 0.25rem solid $gray-20;
    }

    .additionalcontent {
        margin-top: 1rem;
    }

    .checkbox label {
        left: 3em;
    }

    select,
    input:not([type='radio'], [type='checkbox'], [type='submit']) {
        max-width: 16.25rem;
    }
}

.calendar-filter {

    .form-check-label {
        position: relative;
        cursor: pointer;
        padding-left: 29px;
        font-weight: 600;
        font-size: 1rem;
        width: 100%;

        &::before {
            height: 14px;
            width: 14px;
            content: " ";
            border: 1px solid transparent;
            border-radius: 1px;
            position: absolute;
            left: 3px;
            top: 3px;
        }

        &::after {
            height: 20px;
            width: 20px;
            content: " ";
            border: 2px solid #FFF;
            border-radius: 1px;
            position: absolute;
            left: 0px;
            top: 2px;
        }
    }

    input.form-check-input {
        display: none;
        flex: 0 0 13px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: 0px 0px 0px 1px #0e0e0e;
        border: solid 2px white;
        border-radius: 3px;
        margin: 6px;
        width: 13px;
        height: 13px;
        cursor: pointer;

        &:checked + label:before {
            content: "";
            display: block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
            height: 18px;
            width: 18px;
            content: " ";
            position: absolute;
            left: 1px;
            top: 3px;
            z-index: 1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 82%;
        }

        &:checked + label:after {
            border-color: #FFF;
            background-color: transparent;
        }

        &:checked {
            box-shadow: 0px 0px 0px 1px #CC1433;
            border-color: #FFF;
            //background: #CC1433;
        }
    }
}
