.gated-block {
    z-index: 1;
    position: relative;
    background-position: center;
    background-size: cover;

    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba(white, 0.97), rgba(white, 0.7));
    }

    h2 {
        text-transform: none;
        font-weight: 600;
    }
}