.mywra-left {
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
        max-width: 292px;
        margin-right: 0;
    }
}

.mywra-right {
    min-height: 400px;
}


.btn-mywra {
    display: block;
    padding: 1.125rem 1.5rem;
    border-radius: 0.25rem;
    line-height: 1;
    text-transform: uppercase;
    transition: $btn-transition;
    font-weight: 600;
    color: $primary;
    text-decoration: none;

    &:focus,
    &:hover {
        background-color: $tertiary;
        text-decoration: none;
    }

    &[aria-selected='true'] {
        background-color: $primary;
        color: white;
    }
}

.table-courses,
.table-info {

    td {
        position: relative;

        &::after {
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            margin: 0 auto;
            content: "";
            width: 100%;
            display: block;
            height: 1px;
            border-bottom: solid 1px #D7D7DC;
        }
    }

    tr > td:first-child {
        padding-left: 1.25rem;

        &::after {
            left: 1.25rem;
        }
    }

    tr > td:last-child {
        padding-right: 1.25rem;

        &::after {
            left: -2.5rem;
        }
    }


    thead > tr > th:first-child {
        padding-left: 1.25rem;
    }

    thead > tr > th:last-child {
        padding-right: 1.25rem;
    }

    &.table-info {
        tr:last-child {
            td {
                &::after {
                    border-bottom: 0px;
                }
            }
        }
    }

}

.mywra-tab__panel {
    position: fixed;
    top: var(--header-height);
    left: 0;
    background-color: #FFF;
    overflow: auto;
    z-index: 9;
    width: 100%;
    height: calc(100% - var(--header-height));
    transform: translateX(0%);

    &.has-animate {
        transition: transform 300ms ease-out 0s;
    }

    &[aria-hidden="true"] {
        transform: translateX(100%);
    }
}

.site-header.site-header--show-on-scroll-up:not(.position-sticky) + .site-main {
    .mywra-tab__panel {
        top: 0;
        height: 100%;
    }
}

.site-header.site-header--show-on-scroll-up.site-header--top + .site-main {
    .mywra-tab__panel {
        top: var(--header-height);
        height: calc(100% - var(--header-height));
    }
}

.page-tab-return-btn {
    position: sticky;
    top: 1rem;
}