.search-pagination {
    li {
        display: inline-block;
        background: transparent;
        border: solid 1px #ECECEC;
        height: 32px;
        min-width: 32px;
        border-radius: 4px;
        text-align: center;
        vertical-align: middle;
        transition: all 200ms ease 0s;
        font-weight: 800;
        font-size: 1rem;
        padding: 0 0.3rem;
        color: #545454;
        line-height: 2;

        &:hover {
            background-color: $blue-medium;
            border-color: $blue-medium;
            color: #FFF;
        }

        &.current {
            background-color: $blue-medium;
            border-color: $blue-medium;
            color: #FFF;
        }
    }
}
