.quantity-selector {
    display: inline-flex;
    align-items: center;
    margin-left: -0.25rem;

    button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 2rem;
        border: 0;
        background-color: transparent;
    }

    input[type='number'] {
        width: 2rem;
        height: 2rem;
        border: 0;
        background-color: transparent;
        text-align: center;

        // remove default input arrows
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}