<div ng-controller="latestNewsController" ng-click="block.edit()" class="{{className}} block-latest-news py-5 g-4" style="background: var(--bs-gray-10);">
    <div class="container">
        <div class="d-flex flex-row justify-content-between align-items-end">
            <h2 class="h4 text-center text-lg-start">Latest News</h2>
            <a href="/" class="btn btn-link-arrow">
                All News
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.820801 8L12.0314 8" stroke="#050F1E" stroke-width="1.37143" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M8.51733 4L12.5173 8L8.51733 12" stroke="#050F1E" stroke-width="1.37143" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </a>
        </div>
        <div class="row">
            <div ng-repeat="x in [].constructor(3) track by $index" class="col-md-4">
                <a href="@child.Url()" class="news-card d-flex flex-row align-items-center p-2 text-decoration-none">
                    <img src="https://fpoimg.com/120x80?text=Preview" class="object-fit-cover" alt="" />
                    <div class="w-100 h-100 d-flex flex-column ps-2 py-2">
                        <h3 class="h6 news-card__headline">Lorem Ipsum Dolor</h3>
                        <p class="mt-auto fw-light fs-xs" style="color: var(--bs-gray-30)">January 1, 2000</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>