<div ng-controller="multimediaCenterController" class="container">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6">
            <h2 class="mb-0">{{ block.data.heading }}</h2>
        </div>
        <div class="col-12 col-sm-6 d-none d-sm-block text-end">
            <div ng-if="block.data.link[0]">
                <a class="btn btn-primary" href="#" onclick="event.preventDefault();">{{ block.data.link[0].name }}</a>
            </div>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-lg-8">
            <div class="multimedia-card multimedia-card--lg">
                <div class="multimedia-card__image">
                    <img src="{{ card1Image.mediaLink }}" width="744" height="430" alt="" />
                </div>
                <div class="multimedia-card__content">
                    <h3>{{ block.data.card1Heading }}</h3>
                    <div ng-if="block.data.card1Content">
                        <p>{{ block.data.card1Content }}</p>
                    </div>
                    <a class="btn btn-link-arrow stretched-link" href="#" onclick="event.preventDefault();">
                        {{ block.data.card1Link[0].name }}
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.820801 8L12.0314 8" stroke="#050F1E" stroke-width="1.37143" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.51733 4L12.5173 8L8.51733 12" stroke="#050F1E" stroke-width="1.37143" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="multimedia-card">
                <div class="multimedia-card__image">
                    <img src="{{ card2Image.mediaLink }}" width="744" height="430" alt="" />
                </div>
                <div class="multimedia-card__content">
                    <h3>{{ block.data.card2Heading }}</h3>
                    <div ng-if="block.data.card2Content">
                        <p>{{ block.data.card2Content }}</p>
                    </div>
                    <a class="btn btn-link-arrow stretched-link" href="#" onclick="event.preventDefault();">
                        {{ block.data.card2Link[0].name }}
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.820801 8L12.0314 8" stroke="#050F1E" stroke-width="1.37143" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8.51733 4L12.5173 8L8.51733 12" stroke="#050F1E" stroke-width="1.37143" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>