<div ng-controller="tabsController" class="py-9 py-lg-11" style="{{ block.data.enableDarkMode == 1 ? 'background-color: #1d4674; color: white;' : '' }}">
    <div class="container">
        <div class="text-center">
            <div ng-if="block.data.overline">
                <p class="overline mb-4">{{ block.data.overline }}</p>
            </div>
            <div ng-if="block.data.heading">
                <h2 class="h1 mb-6">{{ block.data.heading }}</h2>
            </div>
        </div>
        <slot name="tabs-area" part="tabs-area" class="col-12 block-col area-zone"></slot>
    </div>
</div>