@using WRA.Umbraco.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckoutStepPage>
    
@{
    var paymentMethodSettings = Model?.PaymentMethod?.PaymentProviderSettings;
    string testPublicKey = "pkapi_cert_bMg2WpUw7FzvNMaZZF";
}

<div id="payment-card-number"       class="w-100 px-1"></div>
<div id="payment-card-name"         class="w-100 px-1"></div>
<div id="payment-card-expiration"   class="w-50  px-1"></div>
<div id="payment-card-code"         class="w-50  px-1"></div>
<div id="credit-card-submit"        class="w-100 px-1"></div>

<style>
    #payment-form iframe {
        width: 100%;
    }

    #credit-card-submit {
        text-align: center;
    }

    #credit-card-submit iframe {
        width: auto;
    }
</style>

<script src="https://js.globalpay.com/v1/globalpayments.js"></script>
<script type="text/javascript">
    // Configure account
    GlobalPayments.configure({
        publicApiKey: "pkapi_cert_bMg2WpUw7FzvNMaZZF"
    });

    // Create Form
    const cardForm = GlobalPayments.ui.form({
        fields: {
            "card-holder-name": {
                placeholder: "Name on card",
                target: "#payment-card-name"
            },
            "card-number": {
                placeholder: "Card number",
                target: "#payment-card-number"
            },
            "card-expiration": {
                placeholder: "Expiration date (MM / YYYY)",
                target: "#payment-card-expiration"
            },
            "card-cvv": {
                placeholder: "Security code",
                target: "#payment-card-code"
            },
            "submit": {
                value: "Verify Payment",
                target: "#credit-card-submit"
            }
        },
        styles: {
            'input': {
                'padding': '0 1rem',
                'border': '1px solid #d7d7dc',
                'border-radius': '0.25rem',
                'line-height': '42px',
                'font-family': 'Inter, sans-serif',
                'font-size': '16px',
                'color': '#050f1e'
            },
            'button': {
                'margin-top': '16px !important',
                'padding': '1.125rem 1.75rem',
                'border': '0',
                'border-radius': '4px',
                'background-color': '#2560b9',
                'font-family': 'Poppins, sans-serif',
                'font-weight': '600',
                'text-transform': 'uppercase',
                'letter-spacing': '0.03rem',
                'color': 'white',
                'cursor': 'pointer',
                'transition-property': 'border-radius, background-color, color',
                'transition-duration': '300ms',
                'transition-timing-function': 'ease-in-out'
            },
            'button:focus,button:hover': {
                'border-radius': '40px',
                'background-color': '#ffc672',
                'color': '#050f1e'
            }
        }
    });

    cardForm.ready(() => {
        //
    });

    cardForm.on('token-success', (resp) => {
        const token = document.getElementById('token');
        const message = document.querySelector('.js-payment-message');
        const submitBtn = document.querySelector('.js-payment-validation');

        token.value = resp.paymentReference;

        message.classList.remove('d-none');
        message.textContent = 'Payment validated!';

        submitBtn.removeAttribute('disabled');
    });

    cardForm.on('token-error', (resp) => {
        const message = document.querySelector('.js-payment-message');

        message.classList.remove('d-none');
        message.textContent = 'Payment not valid!';
    });


</script>

