.legal-update-content {
    //

    &:not(&--expanded) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
}

.legal-update-toggle {
    all: unset;
    font-weight: 600;
    color: $primary;
}
