@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using Umbraco.Cms.Core.Models.Blocks;
@using ContentModels = WRA.Umbraco.Models;

@{
    var content = (ContentModels.Accordions)Model.Content;
    bool enableDarkMode = content.Value<bool>("enableDarkMode");
    bool enableOutsideBorder = content.Value<bool>("enableOutsideBorder");

    var accordions = Model.Areas.FirstOrDefault();

    if (accordions != null)
    {
        <div class="accordions-wrapper @(enableDarkMode ? "accordions-wrapper--dark-mode" : "") @(enableOutsideBorder ? "accordions-wrapper--border" : "")">
            @foreach (var accordion in accordions)
            {
                <details class="accordion">
                    <summary class="accordion__toggle">
                        @accordion.Content.Value("label")
                        <div class="accordion__toggle-icon">
                            <i class="fa-solid fa-chevron-down"></i>
                            <i class="fa-solid fa-chevron-up"></i>
                        </div>
                    </summary>
                    <div class="accordion__content">
                        @await Html.GetBlockGridItemAreaHtmlAsync(accordion, "accordion-area")
                    </div>
                </details>
            }
        </div>
    }
}