@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = WRA.Umbraco.Models;

@{
    var content = (ContentModels.CtaQuickLinks)Model.Content;
}

<div class="px-4 py-9 py-md-11">
    <div class="container">
        <div class="cta-quick-links px-5 pt-7 p-md-9">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8 mt-0">
                    @if (content.HasValue("overline"))
                    {
                        <p class="overline mb-2 mb-md-3">@content.Value("overline")</p>
                    }
                    <h2 class="mb-3 mb-md-4">@content.Value("heading")</h2>
                    @if (content.HasValue("subheading"))
                    {
                        <p class="subhead mb-3 mb-md-4">@content.Value("subheading")</p>
                    }
                    @if (content.HasValue("ctaLink"))
                    {
                        var link = content.Value<Link>("ctaLink");

                        <a class="btn btn-primary" href="@link?.Url" target="@link?.Target">@link?.Name</a>
                    }
                </div>
            </div>
            @{
                var quickLinks = content.Value<IEnumerable<Link>>("quickLinks");

                if (quickLinks.Any())
                {
                    <ul class="cta-quick-links__links list-unstyled mt-5 mt-md-0 mb-0">
                        @foreach (var link in quickLinks)
                        {
                            <li>
                                <a href="@link?.Url" target="@link?.Target">
                                    @link?.Name
                                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.820801 8L12.0314 8" stroke="#050F1E" stroke-width="1.37143" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M8.51733 4L12.5173 8L8.51733 12" stroke="#050F1E" stroke-width="1.37143" stroke-linecap="round"
                                              stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
    </div>
</div>