@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Umbraco.Cms.Core.Models.Blocks
@using ContentModels = WRA.Umbraco.Models;

@{
    var content = (ContentModels.Overline)Model.Content;
    string className = "overline mb-3 mb-lg-4 overline w-100";
    string style = "";
    string props = "";



    if (content.HasValue("alignment"))
    {
        string textAlignment = content.Alignment.ToString().ToLower();

        if (textAlignment == "left")
        {
            textAlignment = "start";
        }
        else if (textAlignment == "right")
        {
            textAlignment = "end";
        }

        className += $" text-{textAlignment}";
    }

    if (content.HasValue("textColor"))
    {
        style += $"color:#{content.TextColor};";
    }

    if (content.HasValue("bottomMargin"))
    {
        style += $"margin-bottom:{content.BottomMargin} !important;";
    }
    
    if (content.HasValue("strikeBehind") && content.Value<bool>("strikeBehind") == true)
    {
        className += $" overline--strikebehind";
    } 

    if (!String.IsNullOrEmpty(className))
    {
        props += $"class=\"{className.Trim()}\"";
    }

    if (!String.IsNullOrEmpty(style))
    {
        props += $" style=\"{style}\"";
    }
}

<div @Html.Raw(props.Trim())>
    @Html.Raw(content.OverlineText)
</div>