@model Umbraco.Cms.Core.Security.MemberIdentityUser

@if (Model != null)
{
    <a href="/mywra/profile" class="btn btn-primary btn-sm d-none d-lg-block">Hello, @Model.Name!</a>
}
else
{
  <a href="/login" class="btn btn-primary btn-sm d-none d-lg-block">Login</a>
}


