@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = WRA.Umbraco.Models;

<div class="col-12 col-lg-3" style="background-color: var(--bs-gray-10)">
    <div class="mywra-left px-4 pb-6">
        <div class="border-top pt-4 mt-lg-9 border-dark d-block w-100"></div>
        <div class="mb-3 pb-2 d-lg-none">
            <label class="visually-hidden" for="hot-tip-category">Select a category</label>
            <select id="mywra-mobile" class="form-select">
                @for (var i = 1; i < 6; i++)
                {
                    <!option @(i == 1 ? "selected" : "") value="">My Education</!option>
                }
            </select>
        </div>
        <div class="d-none d-lg-block">
            <ul class="list-unstyled d-flex flex-column gap-1">
                @for (var i = 1; i < 6; i++)
                {
                    <li>
                        <a href="/" class="btn-mywra" @(i == 1 ? "aria-selected=true" : string.Empty)>My Education</a>
                    </li>
                }
            </ul>
            <div class="border-top border-dark d-block w-100"></div>
            <a href="/" class="btn-mywra mt-3" style="color: var(--bs-red)">Log Out</a>
        </div>

    </div>
</div>