@using WRA.Umbraco.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckoutStepPage>

<nav class="mb-7" aria-label="breadcrumbs">
    <ul class="list-unstyled mb-0 breadcrumbs">
        <li>
            <a href="/cart/">Cart</a>
        </li>
        <li>
            <a href="#">Account</a>
        </li>
        <li>
            <strong>Information</strong>
        </li>
        <li>
            <span>Shipping</span>
        </li>
        <li>
            <span>Payment</span>
        </li>
        <li>
            <span>Review</span>
        </li>
    </ul>
</nav>