@using WRA.Umbraco.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckoutStepPage>
@{
    var steps = Model.CheckoutPage.Steps;
}


<nav class="mb-7" aria-label="breadcrumbs">
    <ul class="list-unstyled mb-0 breadcrumbs">
        @foreach( var step in steps)
        {
            if(step.Id == Model.CurrentStep.Id)
            {
                <li>
                    <strong>@step.ShortStepName</strong>
                </li>
            }
            else
            {
                <li>
                    <a href="@step.Url()">@step.ShortStepName</a>
                </li>
            }
        }
    </ul>
</nav>