@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@section styles {
    @if (Model.HasValue("styles"))
    {
        @Html.Raw(Model.Value("styles"));
    }
}

@section scriptsPre {
    <script src="https://cdn.jsdelivr.net/npm/@@event-calendar/build@2.6.0/event-calendar.min.js"></script>
}

@* TODO: Need to connect API *@

<div class="container py-5 py-lg-9 d-flex flex-column gap-4 gap-lg-5">
    <button class="js-filter">Test</button>
    <div id="ec"></div>
</div>