@using WRA.Umbraco.Models
@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Core.Models.PublishedContent;
@using Umbraco.Commerce.Core.Models;
@using Umbraco.Commerce.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckoutStepPage>

@{
    Layout = "~/Views/_Layout.cshtml";
}

@section head {
    @RenderSection("head", false)
}

@*section scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="checkout.js"></script>
    @RenderSection("scripts", false)
}*@

<div class="checkout-wrapper">
    <div class="container py-5 py-lg-9">
        @if (Model.ShortStepName == "Confirmation")
        {
            <div class="d-inline-flex align-items-center mb-4">
                <div class="me-3">
                    <i class="fa fa-circle-check" width="46" height="46" aria-hidden="true" style="font-size: 46px; color: #2560b9;"></i>
                </div>
                <div>
                    <p class="mb-0">Order #@(Model.Order.OrderNumber ?? Model.Order.CartNumber)</p>
                    <h1 class="mb-0">Thank You!</h1>
                </div>
            </div>
        }
        else if (Model.ShortStepName == "Account")
        {
            <h1 class="mb-4 js-account-heading">Sign In</h1>
            <partial name="CheckoutBreadcrumbs" />
        }
        else
        {
            <h1 class="mb-4">Checkout</h1>
            <partial name="CheckoutBreadcrumbs" />
        }

        <div class="row">
            <div class="col-12 col-lg-5 col-xl-4 offset-xl-1 order-lg-1 mb-5 mb-lg-0 pt-4 pt-lg-0 checkout-sidebar">
                @RenderSection("aside", false)
            </div>
            <div class="col-12 col-lg-7">
                @RenderBody()
            </div>
        </div>
    </div>
</div>