@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<SearchResults>

<div class="container py-5 py-lg-9 d-flex flex-column gap-4 gap-lg-5">
    <h1 class="h2 mb-2">Search results for: "@Model.searchTerm"</h1>

    @foreach (var content in Model.Results)
    {
        <div class="result-card p-4 p-lg-5 position-relative">
            <a href="@content.Url()" class="stretched-link text-body text-decoration-none">
                <h2 class="h5">@content.Name</h2>
				@if (content.HasValue("visibleToAll"))
				{
					@if (content.Value("visibleToAll").ToString() == "False")
					{
						<p>Locked</p>
					}
				}
            </a>
            @if (content.HasValue("metaDescription"))
            {
                <p>@content.Value("metaDescription")</p>
            }
        </div>
    }

    @* <button class="js-site-search-load btn btn-secondary border-0 align-self-center w-100 w-md-auto px-4 mt-2">Load More</button> *@
</div>